<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <style>
            .fl-table {
                margin: 20px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                border-collapse: collapse;
                max-width: 100%;
                white-space: nowrap;
                word-break: keep-all;
            }

            .fl-table th {
                text-align: left;
                font-size: 20px;
            }

            .fl-table tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            .fl-table tr:hover td {
                background: #00d1b2;
                color: #F8F8F8;
            }

            .fl-table td, .fl-table th {
                border-style: none;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 3px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                padding: .5em .55em;
                font-size: 15px;
            }

            .fl-table td {
                border-style: none;
                font-size: 15px;
                vertical-align: center;
                border-bottom: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                height: 30px;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }
        </style>
        <div id="8beb157292354ba8af7d996db6ad7440" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > 观点之茶汤好.csv</p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <table class="fl-table">
    <thead>
        <tr>
            <th>属性观点</th>
            <th>情感倾向</th>
            <th>text</th>
            <th>品牌茶叶</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>茶汤浓，回甘</td>
            <td>正向</td>
            <td>茶汤微黄，茶香味浓，有回甘。</td>
            <td>[国艳]7572</td>
        </tr>
        <tr>
            <td>茶汤浓</td>
            <td>正向</td>
            <td>普洱茶香气不明显，不令人十分满意，茶汤浓，滋味不够醇厚，饮后舌面发干，稍有不适感。此款普洱总体来还可以。</td>
            <td>[大益]金柑普</td>
        </tr>
        <tr>
            <td>茶汤清澈</td>
            <td>正向</td>
            <td>香气不自然，第一泡茶汤清澈，滋味难接受</td>
            <td>[庆芸茶业]悦·有味浓香型铁观音</td>
        </tr>
        <tr>
            <td>茶汤清亮</td>
            <td>正向</td>
            <td>茶汤清亮，香气宜人</td>
            <td>[清神阁]有机千里香</td>
        </tr>
        <tr>
            <td>茶汤清澈</td>
            <td>正向</td>
            <td>还不错，茶汤清澈</td>
            <td>[金花茶业]特级茉莉花茶</td>
        </tr>
        <tr>
            <td>茶汤清亮</td>
            <td>正向</td>
            <td>干茶碎，边销茶，茶汤清亮，有点年份入口还行，带菌香，偏淡。</td>
            <td>[聚韵轩]九曲红梅</td>
        </tr>
        <tr>
            <td>茶汤甘甜</td>
            <td>正向</td>
            <td>金花茂盛，压制松紧合适，多梗茎老叶，欠均，香气纯，茶汤甘甜，但欠缺顺滑。</td>
            <td>[中茶]白茶白牡丹2014</td>
        </tr>
        <tr>
            <td>茶汤顺滑</td>
            <td>正向</td>
            <td>一款清香型，性价比很好的铁观音。茶叶冲泡后香气清爽，带有兰花香，整体令人舒服。茶汤顺滑，滋味鲜活，入口带甜，有一定的收敛性，回甘快。</td>
            <td>[泾渭茯茶]手筑茯砖</td>
        </tr>
        <tr>
            <td>茶汤甜平和</td>
            <td>正向</td>
            <td>茶汤甜，滋味平和。</td>
            <td>[NEW TEA]东篱尼尔吉里红茶</td>
        </tr>
        <tr>
            <td>茶汤顺滑</td>
            <td>正向</td>
            <td>茶汤甜润顺滑，明显的涩感能化开，回甘生津持续；但茶汤中酸味明显，且到中后期才逐渐减弱，破坏了茶叶整体的品质。</td>
            <td>[润土]景迈</td>
        </tr>
        <tr>
            <td>茶汤浓厚</td>
            <td>正向</td>
            <td>红茶。茶汤较浓厚，且涩味明显，口腔收敛性强；茶汤中前期的生青味较重，虽然有玫瑰花香和果甜香，但是都比较淡，饱满性较差，口腔整体冲击感强</td>
            <td>[斗记茶业]玄花斗</td>
        </tr>
        <tr>
            <td>茶汤清</td>
            <td>正向</td>
            <td>干茶形制漂亮，泡水后更漂亮，上下漂浮有趣的很。不过，茶汤比较清淡，味薄。</td>
            <td>[佳西娜]宜红</td>
        </tr>
        <tr>
            <td>茶汤清</td>
            <td>正向</td>
            <td>干茶形制漂亮，泡水后更漂亮，上下漂浮有趣的很。不过，茶汤比较清淡，味薄。</td>
            <td>[润土]柚子熟茶</td>
        </tr>
        <tr>
            <td>茶汤浓</td>
            <td>正向</td>
            <td>一款选料、适口性都好的沱茶，香气中带有较明显的甜花香，略带烟味，与传统沱茶浓郁的烟味有区别，茶汤虽较浓，但刺激性不强，苦涩化开快，回甘生津比较明显。</td>
            <td>[品品香]新工艺白茶饼</td>
        </tr>
        <tr>
            <td>茶汤浓</td>
            <td>正向</td>
            <td>一款选料、适口性都好的沱茶。香气中带有较明显的甜花香，略带烟味，与传统沱茶浓郁的烟味有区别；茶汤虽较浓，但刺激性不强，苦涩化开快，回甘生津比较明显。</td>
            <td>[逸茶雅集]菊普</td>
        </tr>
        <tr>
            <td>茶汤甘甜</td>
            <td>正向</td>
            <td>香与普洱的味很好结合的袋泡茶。该茶的整体协调。菊香清新明显，茶汤甘甜、汤感浓厚、有顺滑感，饮后回甘生津。耐泡度较好。</td>
            <td>[星巴克]台湾碧螺春</td>
        </tr>
        <tr>
            <td>茶汤浓</td>
            <td>正向</td>
            <td>一款选料、适口性都好的沱茶。香气中带有较明显的甜花香，略带烟味，与传统沱茶浓郁的烟味有区别；茶汤虽较浓，但刺激性不强，苦涩化开快，回甘生津比较明显。</td>
            <td>[祥源茶]祁红小镇叁</td>
        </tr>
        <tr>
            <td>茶汤红浓</td>
            <td>正向</td>
            <td>茶汤红浓，略显浑浊，入口顺滑，带堆味</td>
            <td>[中闽魏氏]K05清香型生态铁观音</td>
        </tr>
        <tr>
            <td>茶汤甜</td>
            <td>正向</td>
            <td>这款熟普用料一般、表现较好。该茶内含物丰富，茶汤滋味细腻带甜，回甘较慢，第二三泡有较明显的干果香，但茶汤较暗，杯底有沉淀。</td>
            <td>[七彩云南]月光金枝</td>
        </tr>
        <tr>
            <td>茶汤红甜滑</td>
            <td>正向</td>
            <td>干茶条状，乌褐较润，茶汤红亮，茶汤入口甜滑，微有酸感，回甘迅速有力，舌底生津，</td>
            <td>[福海堂]正品正宗九曲红梅</td>
        </tr>
        <tr>
            <td>茶汤平和</td>
            <td>正向</td>
            <td>一款原料嫩度较高，但是涩感很重的茶。该茶清香较平和、持久不足。茶汤平和，鲜爽有回甘</td>
            <td>[碧丽源]唐珍寿眉绿茶</td>
        </tr>
        <tr>
            <td>茶汤红亮</td>
            <td>正向</td>
            <td>茶汤红亮，滋味平淡甜，有菌香陈香。</td>
            <td>[华国茗人]特级霍山黄芽</td>
        </tr>
        <tr>
            <td>茶汤清绿耐</td>
            <td>正向</td>
            <td>干茶大大小小，泡开了茶叶比较嫩。茶汤清绿，比较耐泡，有绿茶的味道，清香，不浓。</td>
            <td>[唐茶坊]铁罗汉</td>
        </tr>
        <tr>
            <td>茶汤红亮</td>
            <td>正向</td>
            <td>每次喝国外的茶，都会让我感叹：茶还是我大中华的好！自然，这款茶也不例外。从字面上来看，这款茶应该是夏茶。对南亚的风土不熟，所以不清楚这是不是一年中最好的采茶季节。但品饮的感觉却与国内的夏茶一样，不离苦涩二字。干茶与茶汤都有一丝清凉的柑橘味，汤色红亮，初入口微苦，醇滑，回味中带有清凉，但二三水后既觉喉部发干，两颊及舌面中部涩麻，茶汤清苦而无味。这样的茶，不知道用来勾兑奶茶是不是味道要优于其他茶类，但按照国内的品饮习惯，实在没有品尝的必要。</td>
            <td>[孝文家茶]金奖肉桂</td>
        </tr>
        <tr>
            <td>茶汤浓郁清澈苦</td>
            <td>正向</td>
            <td>干茶显毫但茶撬的过于碎导致茶汤清澈度不是更好。茶汤黄绿浓郁，蜜香，回甘不是跟强烈，喉甜，尾水苦涩略显。叶底茶碎叶片不完整但整提油润还是看的出来。</td>
            <td>[君山]明前君山银针</td>
        </tr>
        <tr>
            <td>茶汤细腻</td>
            <td>正向</td>
            <td>带有的蜜香。茶汤细腻度不够，涩感轻。</td>
            <td>[荟茗堂]金奖惠明茶</td>
        </tr>
        <tr>
            <td>茶汤浓郁</td>
            <td>正向</td>
            <td>滋味平和有涩味，茶汤浓郁，喝起来粗茶的感觉明显。</td>
            <td>[蒙顿]口袋茶馆系列 易武春晓</td>
        </tr>
        <tr>
            <td>茶汤顺滑</td>
            <td>正向</td>
            <td>色泽嫩绿，茶汤顺滑，有淡淡的栗香，鲜活带甜，入口稍有涩，化开快，微苦。</td>
            <td>[大益]金果</td>
        </tr>
        <tr>
            <td>茶汤饱满协调</td>
            <td>正向</td>
            <td>茶汤饱满协调，甜滑显稠。</td>
            <td>[湘益]传承2016茯茶</td>
        </tr>
        <tr>
            <td>茶汤还可以</td>
            <td>正向</td>
            <td>用茶包裹着的茶碎，茶汤还可以。</td>
            <td>[Tea Tang]Hillcrest classic</td>
        </tr>
        <tr>
            <td>茶汤甜美</td>
            <td>正向</td>
            <td>干茶：紧实、黑褐、含梗；汤色：黄较亮；气味：透酸、；滋味：有酸味；叶底：暗绿、较软；初制过程中，原料吸附烟气属正常状况，但渥堆工序处置不当致使风味带酸，产品品质受到影响。普洱茶是喝得多了，大部分都是直接在地上发酵的，离地发酵的普洱茶倒是很少，茶汤特别甜美。</td>
            <td>[白沙溪]金色华茯</td>
        </tr>
        <tr>
            <td>茶汤厚顺滑</td>
            <td>正向</td>
            <td>茶汤有一定厚度，相对顺滑，但有些酸</td>
            <td>[老记]风生大红袍</td>
        </tr>
        <tr>
            <td>茶汤清澈</td>
            <td>正向</td>
            <td>茶汤橙黄清澈，明亮，香气较纯正，有菌花香，滋味顺滑，甘甜，回甘持久！</td>
            <td>[湘丰茶业]绿茶</td>
        </tr>
        <tr>
            <td>茶汤亮回甘</td>
            <td>正向</td>
            <td>茶汤明亮浅黄，茶味儿平淡，回甘稍微涩感</td>
            <td>[陈升号]南糯山</td>
        </tr>
        <tr>
            <td>茶汤清澈</td>
            <td>正向</td>
            <td>干茶欠匀整，茶汤清澈，香气欠扬，滋味清淡。</td>
            <td>[大明山]金萱乌龙</td>
        </tr>
        <tr>
            <td>茶汤不错</td>
            <td>正向</td>
            <td>茶汤不错，汤色如绸，香气很一般，味道苦而不涩，感觉刚刚好。</td>
            <td>[峨眉雪芽]雪霁有机绿茶</td>
        </tr>
        <tr>
            <td>茶汤乌黑甜</td>
            <td>正向</td>
            <td>干茶乌黑，条索疏松，碎茶较多，不匀整，干茶有种灰尘的味道，大约是存储多年的缘故，洗茶，开汤，第一泡，汤色栗红，陈味明显，茶汤甜滑，口腔中始终萦绕着一股湿热条件下的仓储味，久久不散，没有明显的回甘，</td>
            <td>[逸茶雅集]玫瑰普洱</td>
        </tr>
        <tr>
            <td>茶汤清澈鲜柔</td>
            <td>正向</td>
            <td>干茶：外形符合规格要求，松紧适度，肥硕，有毫，尚匀，尚润泽，有梗。；前2天收到了1510tea的观自在布朗山生茶，此茶香气浓郁，生津很快，回甘十足，唯一不足是茶叶不耐泡，另外叶底和实际描述有差池。茶汤清澈透亮，叶底鲜嫩黄绿，叶梗柔软，选料还是比较考究的。茶汤清澈透亮，微苦涩度较高，香气悠扬，烟熏味不明显，多泡过后，香气变淡，茶树相对年轻。综合：此款普洱生茶苦中带涩，涩度较高。有回甘，生津速度较慢。茶叶耐泡度差，香气十足有蜜香。茶叶说明是布朗山早春纯料，但是叶底的茶叶片略大。这么大叶片在早春纯料里是极为罕见的，或许是混了其他青料？</td>
            <td>[好茶谷]高原花香滇红金丝女儿红</td>
        </tr>
        <tr>
            <td>茶汤顺滑</td>
            <td>正向</td>
            <td>干茶：条索紧细，浑圆，挺秀，有峰苗，有毫，嫩绿，较匀整。；虽用飘逸杯冲泡，但茶水泡开的一瞬间，便有美妙的香气冲入鼻腔，马上便忍不住品尝的一口，茶汤顺滑，微微的清凉气在舌尖升起。滋味相当美妙。</td>
            <td>[伯韵]黄山毛峰</td>
        </tr>
        <tr>
            <td>茶汤清亮</td>
            <td>正向</td>
            <td>香气平，回甘快。茶汤清亮。</td>
            <td>[佳西娜]宜红</td>
        </tr>
        <tr>
            <td>茶汤红</td>
            <td>正向</td>
            <td>茶汤红亮，还不错，但茶汤有明显酸涩味，不易化</td>
            <td>[山香名饮]特级头采雀舌</td>
        </tr>
        <tr>
            <td>茶汤清香</td>
            <td>正向</td>
            <td>茶汤清香，口感润滑，算是一款不错的毛尖。</td>
            <td>[大益]老茶头普洱茶砖</td>
        </tr>
        <tr>
            <td>茶汤清爽适口</td>
            <td>正向</td>
            <td>挺有下关代表性的一款沱茶，既在烟香醇厚上保持s了传统，又有茶汤清爽适口的创新！</td>
            <td>[Tea Tang]Nuwara Eliya</td>
        </tr>
        <tr>
            <td>茶汤清澈</td>
            <td>正向</td>
            <td>茶汤橙黄清澈明亮，香气较纯正，有菌花香明显，滋味顺滑甘甜。回甘持久！</td>
            <td>[吉顺号]蜜香普洱生饼茶2008珍藏版</td>
        </tr>
        <tr>
            <td>茶汤漂亮</td>
            <td>正向</td>
            <td>较碎的茶，有点点陈味，还有点点香味，茶汤漂亮！耐泡</td>
            <td>[隆平]保靖黄金红茶</td>
        </tr>
        <tr>
            <td>茶汤清澈</td>
            <td>正向</td>
            <td>干茶：干茶深褐色尚油润，较紧实，芽壮金毫显露，香气自然无异味，较持久，略有花香。；干茶味道清香，烟熏味不明显，同时略有茶青由于处理不及时产生的轻微发酵海味。茶汤比较浑厚，茶质不算丰富。味道苦味比较淡，涩味也不明显。回甘生津速度比较慢。对于大益7542生茶来说，香气略有不足，茶味要比7542淡，属于中等生茶。茶汤比较清淡，但是颜色比较深。应该是老料制成。茶汤比较清澈，杂质较少，做工还是比较细致。叶底鲜嫩翠绿，茶梗柔软度较高，叶片相对完整。综合：此款茶很适合作为一般家庭用作口粮茶，也适合中小型饭店的招待用茶，茶叶本身比较适合闷泡。普洱生茶的基本特性都具备。苦涩度，回甘生津，虽然不强烈。但是无异味，属于一款中规中矩的茶园茶。</td>
            <td>[孙义顺六安茶]特级六安茶 软枝茶</td>
        </tr>
        <tr>
            <td>茶汤顺滑醇厚</td>
            <td>正向</td>
            <td>茶汤顺滑醇厚，略有涩味和异味，茶质实属一般。</td>
            <td>[TAZO]脱咖啡因莲花绿茶</td>
        </tr>
        <tr>
            <td>茶汤甜顺滑</td>
            <td>正向</td>
            <td>茶汤甜、顺滑，但是青涩味道还是比较明显的，确实不是很好喝。</td>
            <td>[徽轩]黄山毛峰</td>
        </tr>
        <tr>
            <td>茶汤醇厚</td>
            <td>正向</td>
            <td>条索很碎，香气低迷，茶汤醇厚尚可，叶底常规，另茶样实称带包装共11g满足不了两泡需求...</td>
            <td>[味独珍]美丽黄茶</td>
        </tr>
        <tr>
            <td>茶汤浓厚</td>
            <td>正向</td>
            <td>干茶条索细碎，颜色干褐，冲泡后有特殊香气，茶汤浓厚，滋味变化不大，</td>
            <td>[徽六]六安瓜片</td>
        </tr>
        <tr>
            <td>茶汤红润厚重</td>
            <td>正向</td>
            <td>干茶为独立茶，有淡淡花果香，茶汤红润厚重，有花果香，入口微涩，口感良好。</td>
            <td>[凤娇]碣滩红</td>
        </tr>
        <tr>
            <td>茶汤甜</td>
            <td>正向</td>
            <td>茶汤较甜，喝了之后，舌面很涩。</td>
            <td>[三万昌]特一级碧螺春</td>
        </tr>
        <tr>
            <td>茶汤甘厚</td>
            <td>正向</td>
            <td>茶汤较厚，尚甜，略含花香，口腔甘凉，生津微弱但持久，但干茶有些细碎，美中不足。</td>
            <td>[佤山映象]7852</td>
        </tr>
        <tr>
            <td>茶汤顺滑</td>
            <td>正向</td>
            <td>滤袋完整，滤孔均匀，汤色橙黄透亮，茶汤顺滑，有涩感，回甘迅速。</td>
            <td>[俊仲号]金凤凰</td>
        </tr>
        <tr>
            <td>茶汤持久甘醇</td>
            <td>正向</td>
            <td>干茶：干茶造型优美，外形扁形挺直，翠绿，略有白毫，光润，匀整，无茶梗。；干茶绿润有光泽，芽尖竖立嫩如新摘；茶汤黄绿明亮，滋味甘醇，香胡持久，回味悠长，令人心旷神怡，乃一款好茶。</td>
            <td>[三泉]白毫银针</td>
        </tr>
        <tr>
            <td>茶汤清爽</td>
            <td>正向</td>
            <td>茶汤清爽且湿</td>
            <td>[陈升号]银班章</td>
        </tr>
        <tr>
            <td>茶汤清亮</td>
            <td>正向</td>
            <td>干茶紧实，入口无苦涩，茶汤清亮，有回甘，不太明显，比较耐泡，茶香气慢慢来感受</td>
            <td>[品品香]新工艺白茶饼</td>
        </tr>
        <tr>
            <td>茶汤清透好看</td>
            <td>正向</td>
            <td>茶汤以果蜜香为主，入口柔滑，茶汤清透好看，滋味浓厚清爽，回甘生津，好茶！</td>
            <td>[天颐茶品]酔春秋如意</td>
        </tr>
        <tr>
            <td>茶汤平顺</td>
            <td>正向</td>
            <td>用料比较粗，冲泡后，有糯香，甜润顺滑，苦涩感轻，耐泡度中上，六堡茶喝的少，这款觉得还可以。。一款选料较低，略有工艺缺陷的六堡茶。香气略带一款选料等级较低，表现比较平顺的六堡茶。香气略带闷气，散后有糯香，湿木头香浓，且比较持久。茶汤滋味较平顺，有一定甜润度，有持续不高的涩感。</td>
            <td>[吴裕泰]茉莉白雪花针</td>
        </tr>
        <tr>
            <td>茶汤醇厚清澈明亮</td>
            <td>正向</td>
            <td>我喜欢这款茉莉花茶。茶汤清澈明亮，茉莉花香醇厚浓郁，香味十足，饮后有生津，茶叶较耐泡。</td>
            <td>[金花茶业]特级茉莉花茶</td>
        </tr>
        <tr>
            <td>茶汤浓郁</td>
            <td>正向</td>
            <td>茶叶细碎带有淡淡甜果香，茶汤浓郁</td>
            <td>[闽景印象]铁观音</td>
        </tr>
        <tr>
            <td>茶汤清</td>
            <td>正向</td>
            <td>茶汤较清，香味不浓，味道略甘，挺不错的一款茶样</td>
            <td>[白韵]金毛猴工夫红茶</td>
        </tr>
        <tr>
            <td>茶汤红</td>
            <td>正向</td>
            <td>茶汤红，有香气。但是不是很好喝。喜欢的可以试试。</td>
            <td>[猴坑茶业]特级 太平猴魁</td>
        </tr>
        <tr>
            <td>茶汤厚</td>
            <td>正向</td>
            <td>这款红茶没好的外表，也无优秀的内质。干茶匀整性差。香气带有焦味，茶汤厚，入口甜。</td>
            <td>[狮头脚]柚花香</td>
        </tr>
        <tr>
            <td>茶汤醇香</td>
            <td>正向</td>
            <td>茶汤入口醇香</td>
            <td>[观自在]易武早春七子饼</td>
        </tr>
        <tr>
            <td>茶汤入口醇香</td>
            <td>正向</td>
            <td>茶汤入口醇香</td>
            <td>[书呆子]云南银丝</td>
        </tr>
        <tr>
            <td>茶汤厚</td>
            <td>正向</td>
            <td>茶汤厚</td>
            <td>[Teavana]黑龙珠红茶</td>
        </tr>
        <tr>
            <td>茶汤厚重</td>
            <td>正向</td>
            <td>茶汤很厚重，也有回甘，但苦涩化不开，希望放两年会好些。</td>
            <td>[九重雾]金兰香</td>
        </tr>
        <tr>
            <td>茶汤清</td>
            <td>正向</td>
            <td>茶型芽茶，干茶秀美，茶汤清，豆香浓郁，稍涩，能化开，回甘一般</td>
            <td>[华祥苑]金凤凰 浓香 铁观音</td>
        </tr>
        <tr>
            <td>茶汤红亮香</td>
            <td>正向</td>
            <td>茶汤红亮,略有果香,口感很涩,不耐泡,适合调饮。</td>
            <td>[EASTCHA]云雾薄荷袋泡绿茶</td>
        </tr>
        <tr>
            <td>茶汤清亮</td>
            <td>正向</td>
            <td>此款茶芽形不错，茶汤清亮，香气正宗，真是一茶下水，乱雪飘。</td>
            <td>[国号茶业]水云·白毫银针</td>
        </tr>
        <tr>
            <td>茶汤透亮</td>
            <td>正向</td>
            <td>由于是己开茶样，先将细碎的分作一泡，整块留下，所以干茶分偏低。香气为比较饱满的花果香，浓郁而挂杯，冷香持久清雅，有烟香。茶汤橙黄透亮，冷后少许变浑浊。茶汤入口醇和顺滑饱满，但涩感较重，难化开，后期苦味明显。茶底虽细碎，但无杂物。</td>
            <td>[Dilmah]Dilmah 蓝莓香草味茶包袋泡茶</td>
        </tr>
        <tr>
            <td>茶汤明亮</td>
            <td>正向</td>
            <td>茶汤明亮，滋味偏淡，香气不足，品质一般</td>
            <td>[泉笙道]原生茯茶</td>
        </tr>
        <tr>
            <td>茶汤醇厚</td>
            <td>正向</td>
            <td>干茶：条索细紧，匀净度较好；汤色：尚红亮；气味：尚纯正，甜香；滋味：醇厚；叶底：尚嫩；中规中矩，茶汤醇厚</td>
            <td>[屹宏侗茶]屹宏雀舌</td>
        </tr>
        <tr>
            <td>茶汤色泽不错</td>
            <td>正向</td>
            <td>这茶还可以，茶梗很多也很，略显粗犷，茶汤色泽还不错，味道也可以，口感还行。</td>
            <td>[前龙]宜兴红茶</td>
        </tr>
        <tr>
            <td>茶汤清透</td>
            <td>正向</td>
            <td>下关近两年来推出的新品，选料和加工比传统甲级沱茶更加精细。下关标志性的烟味有所减弱，更加适合大众引用。茶汤清透，香气特殊，有明显的回甘生津。叶底算肥大有老有嫩，仍然是按照传统工艺切碎，手感偏软。</td>
            <td>[弘普号]老曼峨</td>
        </tr>
        <tr>
            <td>茶汤清亮</td>
            <td>正向</td>
            <td>干茶乌褐，条索细长，多达五厘米，兼有青灰色条索，干茶顶端有毫。无破碎情况整体细长，细闻有清茶香。第一泡，茶汤清亮，嫩黄色，汤中纤毫点点，轻呷一口鲜爽素雅，香气较淡。第二泡汤色明黄绿，透亮，口感醇厚，舌尖苦，舌面生津，上腭中部有涩感，但化的较快。第三泡颜色依旧，但口感，有青味，依然涩。第四泡，颜色稍淡些。口感与上一泡差别不大。叶底嫩芽较多，叶片有弹性，是一款基础口粮茶。</td>
            <td>[迎客松]祁门红茶</td>
        </tr>
    </tbody>
</table>
        </div>


</body>
</html>
