<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <style>
            .fl-table {
                margin: 20px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                border-collapse: collapse;
                max-width: 100%;
                white-space: nowrap;
                word-break: keep-all;
            }

            .fl-table th {
                text-align: left;
                font-size: 20px;
            }

            .fl-table tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            .fl-table tr:hover td {
                background: #00d1b2;
                color: #F8F8F8;
            }

            .fl-table td, .fl-table th {
                border-style: none;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 3px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                padding: .5em .55em;
                font-size: 15px;
            }

            .fl-table td {
                border-style: none;
                font-size: 15px;
                vertical-align: center;
                border-bottom: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                height: 30px;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }
        </style>
        <div id="1ada64e52a2d4960847e33353452bbbb" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > 观点之外形好.csv</p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <table class="fl-table">
    <thead>
        <tr>
            <th>属性观点</th>
            <th>情感倾向</th>
            <th>text</th>
            <th>品牌茶叶</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>外形独特</td>
            <td>正向</td>
            <td>干茶色泽绿黄欠匀，外形独特，有明显焦叶、黄叶，匀整度欠佳。</td>
            <td>[家忠]水帘洞肉桂</td>
        </tr>
        <tr>
            <td>外形丰富</td>
            <td>正向</td>
            <td>干茶：匀整度稍差，嫩度较好。；这款茶看干茶级别一般。外形丰富，缺乏光泽，稍显毫，条索不够匀整。5g茶以100度水温冲泡。不洗茶，第一泡10秒出汤，红薯香明显，滋味醇和，稍带酸味。二泡滋味转浓厚。汤色红偏暗，不够明亮。四泡以后滋味变淡，香气几乎消失，酸味始终都在。叶底较老，且明显不够匀整。</td>
            <td>[迎客松]一级霍山黄芽</td>
        </tr>
        <tr>
            <td>外形自然舒展</td>
            <td>正向</td>
            <td>“外形自然舒展，标准的东方美人红、黄、白、绿、褐五色，多白色芽头。”但为什么我收到的是和普通台湾乌龙茶一样的紧结绿色小球呢？口感上也不对，比较近似于老台湾的大禹岭。</td>
            <td>[峨眉山有机茶]有机红茶</td>
        </tr>
        <tr>
            <td>外形好看</td>
            <td>正向</td>
            <td>外形很好看，扁平完整，可惜鲜叶采制时有部分损伤造成干茶变红。有豆香但不明显。滋味乏鲜爽。</td>
            <td>[一丈堂]麻粟老丛红茶</td>
        </tr>
        <tr>
            <td>外形匀整</td>
            <td>正向</td>
            <td>这款茶外形匀整，扁平挺直，肥嫩有毫。有明显炒豆香，浓郁，滋味甜，带收敛性，有回甘生津。</td>
            <td>[植本主义]桂花红茶</td>
        </tr>
        <tr>
            <td>外形细紧</td>
            <td>正向</td>
            <td>外形细紧，汤色橙黄尚亮，香气持久，叶底柔弱，总体可以。</td>
            <td>[千年古树茶厂]弥香滇红</td>
        </tr>
        <tr>
            <td>外形形似雀舌</td>
            <td>正向</td>
            <td>外形特征不具备特三级黄山毛峰形似雀舌，带黄金片的品质特点，而与三级黄山毛峰的品质特点较为符合。汤色：黄绿清亮，稍淡。</td>
            <td>[STASSEN]精选红茶</td>
        </tr>
        <tr>
            <td>外形漂亮</td>
            <td>正向</td>
            <td>这款高山茶色泽嫩黄绿，饱满灵秀，汤色浅黄明亮，香气鲜嫩，滋味鲜爽，有一定浓度，回甘快，叶底色泽嫩黄绿明亮，质软，外形非常漂亮，扁平光滑，全芽头，色泽嫩黄绿有活力，香气火味略重，但是散去后很鲜，滋味鲜爽，回甘快。</td>
            <td>[雄峰]宫廷熟茶</td>
        </tr>
        <tr>
            <td>外形美观</td>
            <td>正向</td>
            <td>选料细嫩，工艺较佳，香气带有嫩香，茶汤较厚，虽有轻微苦涩，但回甘生津，外形美观度也不错。</td>
            <td>[斗记茶业]红上斗</td>
        </tr>
        <tr>
            <td>外形规范</td>
            <td>正向</td>
            <td>这是一款三角袋泡茶。茶包外形规范，原料偏碎，片末茶稍多，干茶略有烟味。</td>
            <td>[凤牌]早春绿茶</td>
        </tr>
        <tr>
            <td>外形漂亮</td>
            <td>正向</td>
            <td>这是一款选料细嫩，外形漂亮，性价比不错的绿茶。</td>
            <td>[香润爽]香润爽8888</td>
        </tr>
        <tr>
            <td>外形漂亮</td>
            <td>正向</td>
            <td>这是一款选料细嫩，外形漂亮，香气高雅的绿茶。整体花香，持久性尚可，滋味醇厚，汤感顺滑，爽口，入口有涩感，回甘度较低。总体协调性较好，耐冲泡度正常。</td>
            <td>[斗记茶业]岚风斗</td>
        </tr>
        <tr>
            <td>外形独特</td>
            <td>正向</td>
            <td>干茶：有非茶类夹杂物。；1、投茶量一般来说，铁观音的投茶量约为7-8g。这里直接以一袋7g的茶冲泡。品茶前可先观赏铁观音独特外形。2、置茶以茶拨将铁观音从茶荷中倒入紫砂壶中。3、注水这里用的是烧好的沸水，注水时从紫砂壶的边缘注水，尽量不击打茶心。4出汤为更好唤醒铁观音的香气，先进行了20秒左右的温润泡，一泡香气明显。正式冲泡时，第一泡一般在20秒左右，一直到第四泡30秒出汤结束。5、品茗这款茶外形散碎，大小不匀。出汤后汤色黄绿，较混。香气为一般的清香，茶汤滋味欠薄，稍稍有酸味。叶底扎手，明显能看出粗老之态。总的来说这是一款质量稍欠缺的清香铁观音。评分70分。</td>
            <td>[岁月知味]易武古韵</td>
        </tr>
        <tr>
            <td>外形紧细</td>
            <td>正向</td>
            <td>干茶：外形紧细，色泽墨绿，压饼较紧汤色：汤色呈金黄色，尚通透，有些许沉淀物香气：香气一般，不沉不扬滋味：苦涩较重，久散不开，长达30秒，回甘不是很明显，内含物质一般，滋味不够饱满叶底：色泽黄绿，偶有红边、红梗，富有弹性</td>
            <td>[宝和祥]清风里 生</td>
        </tr>
        <tr>
            <td>外形紧致</td>
            <td>正向</td>
            <td>外形紧致，颗粒均匀，色泽深绿，茶汤黄绿，香气清香，滋味平和，略有回甘，微涩。</td>
            <td>[夏都]政和工夫红茶</td>
        </tr>
        <tr>
            <td>外形普通</td>
            <td>正向</td>
            <td>叶底呈墨绿色，卷曲状。叶梗兼具。初泡香味较浓郁，川中绿茶的熟板栗香悠然而生。二、三泡之后，香味一如即往，但碎叶渐多。从口感来说，这是款不重外形、重工艺的茶，外形确实初看极为普通，甚至是不好，但泡开后滋味总体尚可。比较适合办公室和一般家庭随意喝喝，不要太讲究与苛刻，相信感觉还不错。比一般的芽头绿茶还耐泡。</td>
            <td>[浪伏]月芽</td>
        </tr>
        <tr>
            <td>外形好</td>
            <td>正向</td>
            <td>外形很好，滋味不够细腻，香味略有异味，叶底杂质多。</td>
            <td>[王德传]茶礼盒 金萱乌龙</td>
        </tr>
        <tr>
            <td>外形不错</td>
            <td>正向</td>
            <td>干茶外形不错，汤色透亮，滋味清鲜柔和，清香中夹杂青气。整体的表现还算是不错。</td>
            <td>[大益]银孔雀七子饼茶</td>
        </tr>
        <tr>
            <td>外形讨喜</td>
            <td>正向</td>
            <td>外形很讨喜，单芽、细长、满披白毫；香气很清淡，豆香和青香为主，比较舒服，茶汤中青香比较显；滋味清淡、鲜甜，淡甜度退的较快，稍带苦涩感，回甘生津缓慢持久</td>
            <td>[宏宇蕾]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>外形好</td>
            <td>正向</td>
            <td>茶形真好一芽一叶色也绿，感觉是款不错的茶。上次感冒喝真的像喝水一样水路淡茶无味。现在又喝了之后才发现外形好没用，第一泡回甜但有点苦涩香气太淡了第二泡苦涩感重茶都没什么香气了这次喝还闷了会而且茶量加多了投7g干茶。品质还过的去就是不耐泡，量茶要投的多</td>
            <td>[味珍眉]平阳黄汤</td>
        </tr>
        <tr>
            <td>外形漂亮</td>
            <td>正向</td>
            <td>带着甜蜜果香，茶汤和杯底香气好。外形和汤色漂亮。</td>
            <td>[云妹牌]品味南糯</td>
        </tr>
        <tr>
            <td>外形色泽乌黑带白霜</td>
            <td>正向</td>
            <td>干茶：干茶外形为正常大红袍的乌黑枯松造型，条索大小不一，茶叶一捏即碎。外形色泽乌黑带白霜，干闻有炭香。；打开包装便是那岩茶独有的烘焙味飘出，很好闻。泡开后，茶香中烘焙味更重，香气逼人，真是大红袍，名不虚传。</td>
            <td>[沁祥春]风华 .汉</td>
        </tr>
        <tr>
            <td>外形纤细</td>
            <td>正向</td>
            <td>外形纤细，显银毫。干茶叶底漂亮，多芽头，但滋味偏淡，带微涩；香气清甜欠持久。</td>
            <td>[陈顺号]小户赛古树</td>
        </tr>
        <tr>
            <td>外形松散</td>
            <td>正向</td>
            <td>干茶外形较为松散。呈灰绿色。干茶较匀整，对于刚接触茶的我来说不错。</td>
            <td>[璟福源]茉莉飘花</td>
        </tr>
        <tr>
            <td>外形美</td>
            <td>正向</td>
            <td>干茶：条形肥壮饱满，毫峰显露，白毫显现，黄白相间，外形秀美，开汤后茶芽，条条挺立，上下交错，香气浓郁，持久，鲜醇爽口，汤色黄绿明亮，叶底匀嫩晶绿。</td>
            <td>[勐库戎氏]勐库春尖</td>
        </tr>
        <tr>
            <td>外形扁平</td>
            <td>正向</td>
            <td>干茶外形扁平黄绿，带毫。</td>
            <td>[华祥苑]金凤凰1000正韵浓香铁观音</td>
        </tr>
        <tr>
            <td>外形丰富</td>
            <td>正向</td>
            <td>外形饱满丰富其它都不够持久协调</td>
            <td>[六大茶山]韵境生茶</td>
        </tr>
        <tr>
            <td>外形小精</td>
            <td>正向</td>
            <td>干茶，细小精巧，卷曲度大，茶毫多，香气高；茶汤，汤色较为明亮清澈，喝到第四泡滋味明显下降，茶味微涩口，回甘度弱，舌紧，这一点美中不足；叶底，绿而鲜嫩，非常匀整，外形小而精致，形态优美舒展。</td>
            <td>[御青]日照绿茶</td>
        </tr>
        <tr>
            <td>外形美观</td>
            <td>正向</td>
            <td>外形美观，芽头肥壮显金毫，油润乌黑。有点花蜜香。滋味醇甜，有花蜜香，和外形比较无惊艳的感觉。</td>
            <td>[美安雅]春江映雪</td>
        </tr>
        <tr>
            <td>外形自然</td>
            <td>正向</td>
            <td>干茶外形自然，干嗅有好闻的香气。毫密叶褐，茶汤入口柔顺，滋味清爽，茶汤清微淡黄，耐泡度正常。</td>
            <td>[龙生]特级翠茗</td>
        </tr>
        <tr>
            <td>外形漂亮</td>
            <td>正向</td>
            <td>外形漂亮，很嫩形式雀舌，但光好看不好喝了。差评+外貌分10分~</td>
            <td>[几叶]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>外形好</td>
            <td>正向</td>
            <td>外形较好，香气一般。总体感觉外形和汤色很漂亮，不太耐泡。</td>
            <td>[千日醉]小青柑柑普茶</td>
        </tr>
        <tr>
            <td>外形好看</td>
            <td>正向</td>
            <td>外形好看，但是喝着一般</td>
            <td>[旭隆昇]白毫银针</td>
        </tr>
        <tr>
            <td>外形匀整</td>
            <td>正向</td>
            <td>干茶较紧实；汤色棕红，较明亮；香气尚正；滋味尚醇正，茶汤显粗糙；叶底棕褐，匀整。本品外形匀整，茶汤平和寡淡，略显粗糙，渥堆味较淡，香气较醇正，具熟普基本特征。</td>
            <td>[稳隆]安石红茶</td>
        </tr>
        <tr>
            <td>外形匀整</td>
            <td>正向</td>
            <td>干茶：原料单芽为主，外形尚匀整，芽稍瘦长，大小欠匀，色泽尚绿，稍黄，稍欠鲜润。；汤色：杏绿清澈明亮。；气味：馥郁带花香。；滋味：较甘醇，花香显。；叶底：全芽，芽形大小色泽稍欠匀，色泽嫩绿尚明亮。；这款茶外形在芽形绿茶中一般，匀度和色泽均略欠缺，但香气和滋味很有特色，尤其是香气高爽，馥郁带花香，滋味花香显现，内质优于外形。</td>
            <td>[蒙顶千秋]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>外形壮实</td>
            <td>正向</td>
            <td>这款茶的优点是外形壮实，汤色浅红明亮，缺点是内质返青，带陈闷，滋味醇和不耐泡。叶底红褐，较匀。总体上来说这款茶为一般红茶。</td>
            <td>[宝和祥]清风里 熟</td>
        </tr>
        <tr>
            <td>外形紧凑</td>
            <td>正向</td>
            <td>干茶总的来说外形比较紧凑，形状较好，汤色红亮澄清，香气不太明显，滋味入口很圆润，不苦不涩，叶底较碎，但比较均匀！</td>
            <td>[TEAONE]白茶原叶袋泡茶</td>
        </tr>
        <tr>
            <td>外形匀整</td>
            <td>正向</td>
            <td>干茶：条索乌黑泛白，欠匀整。；汤色：琥珀色，欠明亮。；气味：果香，尚醇，欠浓郁。；滋味：尚正，醇和，略粗糙。；叶底：较硬，略杂乱。；本品具岩茶基本特征，外形匀整，果香清爽醇和，茶汤略显粗糙。</td>
            <td>[周顺来]玉芽飘香</td>
        </tr>
        <tr>
            <td>外形美观</td>
            <td>正向</td>
            <td>干茶外形美观，芽叶鲜活；茶汤黄绿明亮，有茶毫悬浮；茶汤散发清香，香气不高；茶汤滋味平淡，涩感重且化不开。</td>
            <td>[大栗树]云南碧螺春</td>
        </tr>
        <tr>
            <td>外形优美</td>
            <td>正向</td>
            <td>干茶外形优美，芽头肥壮匀齐，茸毛满披，略带少许叶片，汤色杏黄明亮，毫香浓郁持久，滋味顺滑清甜，满披银色茸毛，叶底黄绿明亮，匀整度较好。</td>
            <td>[花秋]成都花茶</td>
        </tr>
        <tr>
            <td>外形好</td>
            <td>正向</td>
            <td>干茶：黄绿、尚扁，色杂、有红叶、欠匀整；汤色：黄绿、稍沉淀；气味：尚纯、火功高；滋味：火功高；叶底：黄绿欠匀、有嫩茎；这款茶优点不明显；缺点是原料粗老、火功高。总体上来说这款外形好</td>
            <td>[祥源茶]云岭山房 肆 祁门红茶</td>
        </tr>
        <tr>
            <td>外形规整</td>
            <td>正向</td>
            <td>干茶，外形规整，松紧适度，色泽黑褐有白色芽头，汤色金黄透亮，香气果香，茶汤滋味，有苦涩感，回甘较快，协调性好，叶底多，黄绿，有茶梗和红叶。</td>
            <td>[水不理]正韵铁观音</td>
        </tr>
    </tbody>
</table>
        </div>


</body>
</html>
