<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <style>
            .fl-table {
                margin: 20px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                border-collapse: collapse;
                max-width: 100%;
                white-space: nowrap;
                word-break: keep-all;
            }

            .fl-table th {
                text-align: left;
                font-size: 20px;
            }

            .fl-table tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            .fl-table tr:hover td {
                background: #00d1b2;
                color: #F8F8F8;
            }

            .fl-table td, .fl-table th {
                border-style: none;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 3px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                padding: .5em .55em;
                font-size: 15px;
            }

            .fl-table td {
                border-style: none;
                font-size: 15px;
                vertical-align: center;
                border-bottom: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                height: 30px;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }
        </style>
        <div id="b000730c4a15413e99f43518230e594c" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > 观点之叶底好.csv</p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <table class="fl-table">
    <thead>
        <tr>
            <th>属性观点</th>
            <th>情感倾向</th>
            <th>text</th>
            <th>品牌茶叶</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>叶底红</td>
            <td>正向</td>
            <td>看叶底就知此为劣质茶了，叶底都红变成什么样了。</td>
            <td>[醉自然]2010熟砖</td>
        </tr>
        <tr>
            <td>叶底不错</td>
            <td>正向</td>
            <td>叶底不错，略涩，稍有回甘</td>
            <td>[品品香]桔红白琳工夫</td>
        </tr>
        <tr>
            <td>叶底漂亮</td>
            <td>正向</td>
            <td>叶底很漂亮，不太耐泡</td>
            <td>[非常茶非常道]月光白</td>
        </tr>
        <tr>
            <td>叶底匀整</td>
            <td>正向</td>
            <td>干茶褐绿油润，条索欠匀整显毫，汤色为杏黄色，香气微有花香，茶汤滋味稍苦有涩感，耐泡度不够。叶底匀整，有碎茶。</td>
            <td>[禹蒙]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>叶底厚</td>
            <td>正向</td>
            <td>汤色浅，叶底厚。</td>
            <td>[谢裕大]特级一等黄山毛峰</td>
        </tr>
        <tr>
            <td>叶底大</td>
            <td>正向</td>
            <td>干茶外色泽棕褐有光泽，松紧适度，含梗。红黄明亮。陈味，带堆味。醇和，入口较为顺滑，略带粗涩感。叶底较大，暗褐，欠柔软，含梗。</td>
            <td>[三父子]雀舌</td>
        </tr>
        <tr>
            <td>叶底大</td>
            <td>正向</td>
            <td>干茶外色泽棕褐有光泽，松紧适度，含梗，红黄明亮，有陈味，入口较为顺滑，醇和，略有粗涩感，叶底较大，欠柔软，性价比不高。</td>
            <td>[雅毫茗茶]炭焙铁观音</td>
        </tr>
        <tr>
            <td>叶底柔软</td>
            <td>正向</td>
            <td>叶底柔软，橙红的汤色，回甘一般，较耐泡。</td>
            <td>[川茶集团]优黑优红</td>
        </tr>
        <tr>
            <td>叶底舒展</td>
            <td>正向</td>
            <td>干茶较均匀，松散不紧致（发润）。汤色褐红发亮。香气偏淡。滋味不涩、有回甘，感觉尚可。三泡內味、色保持尚可。叶底较舒展。</td>
            <td>[白沙溪]和茶</td>
        </tr>
        <tr>
            <td>叶底嫩黄</td>
            <td>正向</td>
            <td>干茶单芽，紧实光滑，有微微的烟味，汤色杏黄明亮，滋味浓醇为主，感觉干涩，叶底嫩黄。</td>
            <td>[睿茗轩 ]高枞水仙</td>
        </tr>
        <tr>
            <td>叶底嫩绿柔软</td>
            <td>正向</td>
            <td>干茶扁平，色泽黄绿，梗多，汤色浅绿明亮，香气栗香纯正，滋味浓醇，滑爽回甘，不耐冲泡。叶底嫩绿柔软。</td>
            <td>[祺彤香]荷韵安溪铁观音</td>
        </tr>
        <tr>
            <td>叶底硬</td>
            <td>正向</td>
            <td>干茶较紧实，茶汤有药香，滋味醇和，叶底较硬。总体来说，还不错。</td>
            <td>[澜沧古茶]宫廷柚子茶</td>
        </tr>
        <tr>
            <td>叶底黄绿柔软</td>
            <td>正向</td>
            <td>茶紧结，黄绿油润显毫。茶汤金黄透亮。香气扬，有烟味。入口苦涩中等，醇厚，顺滑，回甘生津可。叶底黄绿柔软</td>
            <td>[上茗轩]英德红茶</td>
        </tr>
        <tr>
            <td>叶底绿亮柔软</td>
            <td>正向</td>
            <td>干茶不符合雨花茶的外形特点。汤色浅黄明亮。香气清香尚高。滋味醇厚、尚鲜爽。叶底绿亮柔软。</td>
            <td>[隽永天香]坦洋工夫红茶</td>
        </tr>
        <tr>
            <td>叶底柔软</td>
            <td>正向</td>
            <td>干茶松紧适中，条索肥壮，汤色黄亮，香气纯正持久。滋味醇和甜润，苦涩刺激比较明显，有回甘。叶底柔软，多老梗。</td>
            <td>[味独珍]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>叶底黄匀整</td>
            <td>正向</td>
            <td>干茶黄绿，匀整，显毫。汤色绿黄，明亮。香气嫩香，淡薄，欠持久。滋味淡薄，平淡，略鲜甜。叶底偏黄，匀整。</td>
            <td>[龙成号]布朗山</td>
        </tr>
        <tr>
            <td>叶底黄绿明整</td>
            <td>正向</td>
            <td>茶条索卷曲，茶色深绿，匀净；汤色杏黄明亮；豆香略带烟火气；滋味较醇，水甜，叶底黄绿明亮，较耐泡。</td>
            <td>[岁越]小产区-高马二溪天尖</td>
        </tr>
        <tr>
            <td>叶底肥嫩匀齐</td>
            <td>正向</td>
            <td>干茶黄绿，嫩润显毫，香气，微带花香，汤色黄亮，滋味醇和鲜甜，有回甘。叶底肥嫩匀齐。</td>
            <td>[一或]黄山毛峰</td>
        </tr>
        <tr>
            <td>叶底嫩匀柔软</td>
            <td>正向</td>
            <td>条形茶，欠紧实带白毫，汤色浅黄，滋味鲜爽，叶底嫩匀柔软。</td>
            <td>[正袍国茶]大红袍</td>
        </tr>
        <tr>
            <td>叶底柔软散碎</td>
            <td>正向</td>
            <td>干茶紧结，似蜻蜓头，香气，花香持久，汤色橙黄明亮，滋味浓醇，鲜爽，稍有酸味。叶底柔软散碎，不匀。</td>
            <td>[夏都]政和工夫红茶</td>
        </tr>
        <tr>
            <td>叶底黄绿匀净肥嫩柔软</td>
            <td>正向</td>
            <td>干茶条索，紧实暗绿，白毫隐现，汤色浅黄；香气栗香，滋味鲜爽，不耐泡，叶底黄绿匀净，肥嫩柔软</td>
            <td>[承兴德]特一级霍山黄芽</td>
        </tr>
        <tr>
            <td>叶底匀整</td>
            <td>正向</td>
            <td>烟味重，苦涩，叶底稍匀整</td>
            <td>[北岩]肉桂乌龙茶</td>
        </tr>
        <tr>
            <td>叶底肥厚柔软</td>
            <td>正向</td>
            <td>干茶毫毛显，茶汤无杂，微涩化得快，单溥，第六泡开始出水味，耐泡一般，叶底肥厚柔软。</td>
            <td>[蒙顶山茶]龙之大成 黄芽</td>
        </tr>
        <tr>
            <td>叶底不错</td>
            <td>正向</td>
            <td>香气足，入口滋味不够厚重，白豪较少，叶底还是不错，没时间用盖碗，用飘逸杯泡的，总体还是不错的</td>
            <td>[品品香]鼎香1号</td>
        </tr>
        <tr>
            <td>叶底肥硕</td>
            <td>正向</td>
            <td>干茶芽叶肥硕，有梗显毫，汤色黄亮。香气为高扬花香，滋味厚重，耐泡，富于变化，回甘生津持久。叶底肥硕，叶片柔软有活性，略有红梗。</td>
            <td>[伯韵]霍山黄芽</td>
        </tr>
        <tr>
            <td>叶底明亮肥厚</td>
            <td>正向</td>
            <td>干茶紧实匀整，黑褐润泽，有梗显毫，汤色黄亮，香气纯正，滋味醇厚润滑，甘甜有涩，叶底明亮肥厚。</td>
            <td>[宝和祥]若登天然</td>
        </tr>
        <tr>
            <td>叶底柔软细嫩</td>
            <td>正向</td>
            <td>干茶等级高，花香高扬，汤色黄绿明亮，滋味略带苦涩，有回甘，耐泡度好，叶底柔软细嫩。</td>
            <td>2014•春•张家湾•董大哥</td>
        </tr>
        <tr>
            <td>叶底挺好</td>
            <td>正向</td>
            <td>没喝过但是看叶底挺好的</td>
            <td>[徽六]2012年山赋礼盒六安瓜片</td>
        </tr>
        <tr>
            <td>叶底佳</td>
            <td>正向</td>
            <td>带有山野气息的一款茶。汤色黄亮，苦涩有度，汤感稠滑。叶底佳，有糊点。</td>
            <td>[莉香]古香漫品茉莉饼茶</td>
        </tr>
        <tr>
            <td>叶底柔软厚实</td>
            <td>正向</td>
            <td>干茶色泽灰褐，条索油润有毫，茶汤黄亮，香气青气。滋味醇厚，有涩感，叶底柔软厚实，多梗。</td>
            <td>[老同志]9978</td>
        </tr>
        <tr>
            <td>叶底嫩</td>
            <td>正向</td>
            <td>干茶黄绿有白毫，一叶一芽，也有叶子和碎屑，大小不一；汤色黄褐，清澈；仔细闻有绿茶香，不重；茶汤顺口，舒服；叶底较嫩。</td>
            <td>[春光茶坊]香竹箐古树茶</td>
        </tr>
        <tr>
            <td>叶底匀整</td>
            <td>正向</td>
            <td>茶饼松紧适中，色泽红褐，汤色明亮，滋味醇厚，叶底尚匀整。</td>
            <td>[知更]蒙顶甘露</td>
        </tr>
        <tr>
            <td>叶底柔软有光泽</td>
            <td>正向</td>
            <td>这款茶的滋味不是很好。干茶外形卷曲，干闻有种不太舒服的味道。茶汤颜色黄绿明亮，杂质较少，茶水入口浓厚，但有明显的苦涩感，越到后面苦涩感越重。茶叶耐泡度一般，叶底柔软有光泽。个人并不是太喜欢。</td>
            <td>[乾红]阳羡雪芽6800</td>
        </tr>
        <tr>
            <td>叶底柔软匀整</td>
            <td>正向</td>
            <td>这是紧压成块状的水仙，汤色亮黄，有清香，花香，山韵较弱。滋味鲜爽甜润，入口稍有涩感，有回甘生津。叶底柔软匀整，有红边。</td>
            <td>[味独珍]金御黄芽</td>
        </tr>
        <tr>
            <td>叶底性比高</td>
            <td>正向</td>
            <td>新人入门，看了评测才买的，2两装，2019新茶，总体来说不错，不管是干茶 茶汤 还是叶底性价比高，我不知道喝起来的是花香还是豆香？请各位大神指点一二。</td>
            <td>[湘湖]湘湖龙井</td>
        </tr>
        <tr>
            <td>叶底大</td>
            <td>正向</td>
            <td>干茶黑褐色有金花，紧实；汤色黄褐色清澈；有茯茶特有的香气，不过不浓，不够香；茶汤不够浓郁，偏淡；叶底大，软有梗。</td>
            <td>[竹叶青]峨眉山花毛峰</td>
        </tr>
        <tr>
            <td>叶底匀整</td>
            <td>正向</td>
            <td>干茶叶张粗大，黄褐有梗，汤色金黄明亮，香气鲜爽纯正，茶汤柔和顺滑，回甘速度快，耐冲泡，叶底匀整</td>
            <td>[采花]采花毛尖</td>
        </tr>
        <tr>
            <td>叶底柔嫩</td>
            <td>正向</td>
            <td>干茶白毫较多，肥厚。香气不张扬，柔和的豆香，入口说话有厚度，末了口腔有甜香。叶底柔嫩略有不匀整。</td>
            <td>[七彩云南]金红</td>
        </tr>
        <tr>
            <td>叶底鲜活较亮</td>
            <td>正向</td>
            <td>干茶翠中隐绿，显毫，芽头带叶，挺直。干闻嫩香带火香。入口鲜甜，苦涩明显。炒豆香，茶汤嫩黄透亮，汤滑水润。叶底鲜活较亮，香气滋味并重，有回味的茶。</td>
            <td>[武夷星]八仙</td>
        </tr>
        <tr>
            <td>叶底肥厚匀净</td>
            <td>正向</td>
            <td>干茶条索，紧细匀整，全为芽头，满披白毫，汤色淡黄明亮。茉莉花香纯正，醇厚鲜爽，耐泡，富有收敛性，叶底肥厚匀净。</td>
            <td>[大益]7572七子饼茶</td>
        </tr>
        <tr>
            <td>叶底厚实</td>
            <td>正向</td>
            <td>干茶粗大，汤色清淡，香气适宜，口感一般，叶底厚实</td>
            <td>[闽蜜香]炭焙茉莉花茶</td>
        </tr>
        <tr>
            <td>叶底黄绿软厚均</td>
            <td>正向</td>
            <td>干茶较紧，褐润显毫肥嫩均匀。汤色黄明，稍泛红。香气较高，微烟。叶底黄绿，厚软较匀。</td>
            <td>[竹叶青]绿茶特级</td>
        </tr>
        <tr>
            <td>叶底嫩黄明亮</td>
            <td>正向</td>
            <td>干茶毫心显现，茶形匀整，满披白毫，绿中带白，汤色杏黄明亮，香气毫香，滋味鲜醇，浓厚甜爽，叶底嫩黄明亮，芽头肥壮。</td>
            <td>[福今]精品熟茶</td>
        </tr>
        <tr>
            <td>叶底好</td>
            <td>正向</td>
            <td>干茶条索清晰,显金豪，汤色金黄，入口甘甜，有回甘，有苦涩感，耐冲度一般，叶底较好，期待后期陈化。</td>
            <td>[弘普号]勐宋古树生茶</td>
        </tr>
        <tr>
            <td>叶底漂亮</td>
            <td>正向</td>
            <td>还可以，喝起来不是那么甜，香气一般，口感一般，叶底算漂亮的那种。</td>
            <td>[碧螺]碧螺春一级</td>
        </tr>
        <tr>
            <td>叶底柔嫩</td>
            <td>正向</td>
            <td>干茶白毫较多，肥厚。香气不张扬，柔和的豆香，入口顺滑有厚度，末了口腔有甜香。叶底柔嫩</td>
            <td>[伯韵]信阳毛尖</td>
        </tr>
        <tr>
            <td>叶底嫩黄明亮</td>
            <td>正向</td>
            <td>干茶外形条直微展，匀齐成朵、形似雀舌、嫩绿披毫，香气清香，汤色黄绿清澈明亮，滋味鲜醇，柔和回甘，叶底嫩黄明亮。</td>
            <td>[大乐岭]桂妃红</td>
        </tr>
        <tr>
            <td>叶底细嫩</td>
            <td>正向</td>
            <td>叶底细嫩，汤色唔错略带香气</td>
            <td>[孔家作坊]老寿眉</td>
        </tr>
        <tr>
            <td>叶底嫩</td>
            <td>正向</td>
            <td>干茶条索紧结重实，较匀整，色泽棕褐，汤色红亮，香气陈纯带槟榔香，滋味纯正，叶底较嫩</td>
            <td>[巅茶]F1完美无缺</td>
        </tr>
        <tr>
            <td>叶底红亮较碎</td>
            <td>正向</td>
            <td>干茶：条索紧细重实，色泽乌较润，稍有金毫，较匀整，较匀净。；干茶黑褐有金毫较匀整。汤色橙红，醇和，甜香浓郁，花香不显。回甘稍欠。叶底红亮较碎。</td>
            <td>[天池茶业]汉·凤凰单丛茶</td>
        </tr>
        <tr>
            <td>叶底柔软</td>
            <td>正向</td>
            <td>传奇88算上中高端茶了，这款茶，喝过几次，还算比较难泡的，汤色红亮通透，入口醇厚，生津回甘好。叶底柔软。</td>
            <td>[御牌]西湖龙井特级</td>
        </tr>
        <tr>
            <td>叶底柔软匀整</td>
            <td>正向</td>
            <td>这是紧压成块状的水仙，汤色亮黄，有清香，花香，山韵较弱。滋味鲜爽甜润，入口稍有涩感，有回甘生津。叶底柔软匀整，有红边。</td>
            <td>[汀溪兰香]有机绿茶特一级</td>
        </tr>
        <tr>
            <td>叶底嫩匀柔软</td>
            <td>正向</td>
            <td>干茶尚匀齐，稍带碎片，色泽墨绿，自然舒展，汤色金黄明亮。香气悠扬持久，汤质厚，滋味甘甜，耐泡，有鲜爽感。叶底嫩匀柔软。</td>
            <td>[麻粟正山红]高山野茶</td>
        </tr>
        <tr>
            <td>叶底不错</td>
            <td>正向</td>
            <td>干茶，汤色，叶底都不错，时间尚短或几年应该不错</td>
            <td>[山国饮艺]山国情S400</td>
        </tr>
        <tr>
            <td>叶底嫩绿</td>
            <td>正向</td>
            <td>干茶条索比较完整，油亮；汤色黄绿不太透亮，有毫；有栗子香味；滋味鲜爽，茶汤比较顺滑；叶底嫩绿。</td>
            <td>[永馨]643凤凰雪片八仙清香型</td>
        </tr>
        <tr>
            <td>叶底肥壮柔软</td>
            <td>正向</td>
            <td>干茶扁平挺直，色泽黄绿，金毫显露，甜香明显，汤色绿黄清亮，滋味甘醇鲜爽，叶底肥壮柔软。</td>
            <td>[雅债]新东西红茶</td>
        </tr>
        <tr>
            <td>叶底黄绿软匀整</td>
            <td>正向</td>
            <td>干茶绿较润、尚有黄片、稍断碎。汤色浅黄绿。香气有异味。滋味醇厚、较鲜爽。叶底黄绿尚软、尚匀整。</td>
            <td>[御青]清韵日照绿茶</td>
        </tr>
        <tr>
            <td>叶底梗多</td>
            <td>正向</td>
            <td>缺点：叶底梗多，入口涩感较强且不易化，盖过了其它的滋味。优点：香气高扬，无论是干茶还是茶底，都有丰富且有层次感的花香。比较耐泡。</td>
            <td>[茶祖印象]三湘红 宋韵8800</td>
        </tr>
        <tr>
            <td>叶底薄</td>
            <td>正向</td>
            <td>此茶细小褐绿，略卷曲，很浓郁的青草香，味道略苦，但齿间留香。叶底较薄</td>
            <td>[金鼎]金鼎红</td>
        </tr>
        <tr>
            <td>叶底黄绿柔软</td>
            <td>正向</td>
            <td>干茶黑褐，芽头肥壮显白毫，茶汤金黄，香气有些沉闷，茶汤苦涩均显著，叶底黄绿柔软。</td>
            <td>[正春茶叶]白毫银针</td>
        </tr>
        <tr>
            <td>叶底多</td>
            <td>正向</td>
            <td>干茶，外形规整，松紧适度，色泽黑褐有白色芽头，汤色金黄透亮，香气果香，茶汤滋味，有苦涩感，回甘较快，协调性好，叶底多，黄绿，有茶梗和红叶。</td>
            <td>[土林凤凰]状元红</td>
        </tr>
        <tr>
            <td>叶底黄绿</td>
            <td>正向</td>
            <td>干茶黄褐，条索微卷，带银毫，茉莉花花香浓郁，汤色黄明，滋味柔和，甜度高，有回甘生津。叶底黄绿，有碎叶。</td>
            <td>[沃土春山]崂山绿茶 顶级扁茶</td>
        </tr>
    </tbody>
</table>
        </div>


</body>
</html>
