<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <style>
            .fl-table {
                margin: 20px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                border-collapse: collapse;
                max-width: 100%;
                white-space: nowrap;
                word-break: keep-all;
            }

            .fl-table th {
                text-align: left;
                font-size: 20px;
            }

            .fl-table tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            .fl-table tr:hover td {
                background: #00d1b2;
                color: #F8F8F8;
            }

            .fl-table td, .fl-table th {
                border-style: none;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 3px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                padding: .5em .55em;
                font-size: 15px;
            }

            .fl-table td {
                border-style: none;
                font-size: 15px;
                vertical-align: center;
                border-bottom: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                height: 30px;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }
        </style>
        <div id="c12cad3c855e4b9f8525f6e013774873" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > 观点之滋味差.csv</p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <table class="fl-table">
    <thead>
        <tr>
            <th>属性观点</th>
            <th>情感倾向</th>
            <th>text</th>
            <th>品牌茶叶</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>滋味不好</td>
            <td>负向</td>
            <td>香气倒是有，但是又苦又涩，滋味还不好</td>
            <td>[鹏龙]鸭屎香</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>干茶：螺钉状，条索尚紧，墨绿色、黄绿，颜色花杂，色泽较暗，欠匀齐，不符合浓香铁观音特色，有清新铁观音的特点。；香气较弱，滋味平淡</td>
            <td>[一包]桂花乌龙</td>
        </tr>
        <tr>
            <td>滋味不好</td>
            <td>负向</td>
            <td>干茶褐绿带灰白色，有茶梗，结块；茶汤红亮清澈；有股不是茶叶味道，很奇怪；滋味也不好，是青草味，不是茶味；叶底有碎片。</td>
            <td>[叶小叶]逍遥桂花乌龙</td>
        </tr>
        <tr>
            <td>滋味淡薄空乏</td>
            <td>负向</td>
            <td>还有烟火味。滋味淡薄空乏，几乎没什么品饮价值。叶底整体颜色发黄，有细瘦长梗，少量叶片发黑糊情况</td>
            <td>[积庆里]英红九号</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>不好喝，滋味寡淡</td>
            <td>[寻慢]特级梅占岩茶大红袍</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>选料粗老，整个冲泡过程中火味高，滋味平淡</td>
            <td>[伯韵]特级白毫银针</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>平淡的滋味，没有什么刺激</td>
            <td>[抱儿钟秀]小火黄大茶</td>
        </tr>
        <tr>
            <td>滋味平淡酸苦</td>
            <td>负向</td>
            <td>干茶色泽黑褐，压制紧实，汤色黄亮，香气平淡微酸，滋味平淡酸苦，叶底碎软含梗。</td>
            <td>[三峡]风雨晓露绿茶</td>
        </tr>
        <tr>
            <td>滋味差</td>
            <td>负向</td>
            <td>汤色尚可，但滋味太差</td>
            <td>[祥源茶]祁红小镇贰</td>
        </tr>
        <tr>
            <td>滋味难接受</td>
            <td>负向</td>
            <td>香气不自然，第一泡茶汤清澈，滋味难接受</td>
            <td>[国艳]布朗早春饼</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>不怎么好，滋味不如熟普，味较淡而且有股堆味</td>
            <td>[山国饮艺]山国韵S200商务系列铁观音</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>陈香显，滋味略淡</td>
            <td>[九雁]倚邦青饼</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>料差滋味一般香气不够纯正工艺不好品质不好</td>
            <td>[马山]品韵如意绿茶</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>茶外貌呈灰色，含少许梗，茶汤较浑浊，泡开后有杂草气味，碎叶较多，除了轻微的涩、苦、酸味外无其他的味道，茶味不浓，滋味寡淡。</td>
            <td>[郑三品 ]冻顶老茶王</td>
        </tr>
        <tr>
            <td>滋味不足</td>
            <td>负向</td>
            <td>很失望的茶，香气滋味都不足</td>
            <td>[八马]赛珍珠5800</td>
        </tr>
        <tr>
            <td>滋味苦涩</td>
            <td>负向</td>
            <td>干茶条索完整，汤色较为浑浊。香气明显，滋味苦涩感强，回甘一般。</td>
            <td>[三鹤]六堡茶</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>完全的外行刚开始喝茶感觉没有大家描述的那么好喝啊滋味很淡</td>
            <td>[中吉号]静悟</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>滋味偏淡，不持久</td>
            <td>[天颐茶品]老树龙珠</td>
        </tr>
        <tr>
            <td>滋味淡薄</td>
            <td>负向</td>
            <td>1101与1401入口都较苦涩，泡到后面，因为1101存放了几年的关系，滋味淡薄的会快些，评价一般吧，</td>
            <td>[显然堂]特级白牡丹</td>
        </tr>
        <tr>
            <td>滋味差</td>
            <td>负向</td>
            <td>太差滋味不推荐饮用</td>
            <td>[郁香堂]千峰翠色·月桂</td>
        </tr>
        <tr>
            <td>滋味苦涩</td>
            <td>负向</td>
            <td>干茶卷曲枯暗，白毫显露，大小不整齐，开汤后黄色混浊，滋味苦涩，香气高。</td>
            <td>[浦瑞茶莊]梅山韵纯料黑砖</td>
        </tr>
        <tr>
            <td>滋味平淡苦涩酸</td>
            <td>负向</td>
            <td>一款香以火功香为主，滋味平淡的乌龙茶汤中带有浓郁的火功香，滋味带苦带涩还带酸</td>
            <td>[碧叶馨]俏妆姆</td>
        </tr>
        <tr>
            <td>滋味薄</td>
            <td>负向</td>
            <td>香气不扬，头泡带有粗老味。滋味偏薄，建议在存上几年</td>
            <td>[更香茗茶]雾绿天品有机绿茶</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>滋味平淡的袋泡茶。包装简洁，滤纸清洁；袋内茶叶细小，有少量金毫，带黄片。茶汤橙红明亮，香气甜香为主，较显；</td>
            <td>[正春茶叶]白毫银针</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>以前没喝过康砖，这款茶干茶梗多，也不均匀。香气浅，滋味也淡。虽说没有什么特别的好的地方，但是也没哪里不好。对康砖还有待多了解</td>
            <td>[徽班]特级明前桐城小花</td>
        </tr>
        <tr>
            <td>滋味苦涩</td>
            <td>负向</td>
            <td>为拼配料，有嫩芽显金毫，油润有光泽；整体香气为槟榔香，稍带霉味；滋味中苦涩味较重，开始稍有回甘，三泡后苦涩味加重，稍稍挂喉，滋味并不讨喜。</td>
            <td>[福邻居]上善若水</td>
        </tr>
        <tr>
            <td>滋味奇怪</td>
            <td>负向</td>
            <td>确实是很有年份的老茶，但是大概由于存储不当，滋味很奇怪，不建议饮用</td>
            <td>[Watawala]pure Ceylon tea</td>
        </tr>
        <tr>
            <td>滋味不醇厚</td>
            <td>负向</td>
            <td>有陀有碎，看不出是紧压茶。滋味不够醇厚！</td>
            <td>[七缘香]特级凤凰单丛</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>整个冲泡过程中火味高，滋味平淡，汤水的厚度和回味均较差。</td>
            <td>[蒙顿]白茶茶膏</td>
        </tr>
        <tr>
            <td>滋味醇和较淡</td>
            <td>负向</td>
            <td>这是一款花香淡雅但滋味平淡的清香型乌龙茶。有比较突出的纯正淡雅花香，无异味，可见保存不错。其滋味醇和较淡，厚度有所欠缺，回甘不错。</td>
            <td>[品时春]贡品滇红一级</td>
        </tr>
        <tr>
            <td>滋味苦涩</td>
            <td>负向</td>
            <td>干茶卷曲枯暗，白毫显露，大小不整齐，开汤后黄色混浊，滋味苦涩，香气高。</td>
            <td>[匀山]都匀毛尖</td>
        </tr>
        <tr>
            <td>滋味重</td>
            <td>负向</td>
            <td>花甜为主的混合型香气，集中在口腔上段，属于喝下去后香气缓慢释放的类型。滋味重，耐冲泡</td>
            <td>[吴裕泰]茉莉1887</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>不知道那些达人专家是怎么得来的头衔，干茶偏潮，汤色发暗，香气基本没有，滋味淡还有点锁喉</td>
            <td>[仙居]特级仙居勾青绿茶</td>
        </tr>
        <tr>
            <td>滋味薄</td>
            <td>负向</td>
            <td>干茶：有非茶类夹杂物。；1、投茶量一般来说，铁观音的投茶量约为7-8g。这里直接以一袋7g的茶冲泡。品茶前可先观赏铁观音独特外形。2、置茶以茶拨将铁观音从茶荷中倒入紫砂壶中。3、注水这里用的是烧好的沸水，注水时从紫砂壶的边缘注水，尽量不击打茶心。4出汤为更好唤醒铁观音的香气，先进行了20秒左右的温润泡，一泡香气明显。正式冲泡时，第一泡一般在20秒左右，一直到第四泡30秒出汤结束。5、品茗这款茶外形散碎，大小不匀。出汤后汤色黄绿，较混。香气为一般的清香，茶汤滋味欠薄，稍稍有酸味。叶底扎手，明显能看出粗老之态。总的来说这是一款质量稍欠缺的清香铁观音。评分70分。</td>
            <td>[陆羽茶包]茉莉香片</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>干茶发酵太嫩，大梗太多，金花稀少，新茶一块。茶汤滋味寡淡，颜色混浊，茶太新了。总体实在是一般般，看定价还很高。</td>
            <td>[闽掌柜]特级白毫银针</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>这款茶原料比较差，感觉是存放有严重问题的白茶。香气带有明显粗闷气，而且闷气一直不退，滋味较平淡，没有生津回甘的感觉，叶底较硬。</td>
            <td>[益龙芳]开化龙顶特级</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>跟大家点评的有差异，此茶没有明细香气，品饮滋味有些寡淡，也有点转化过程中的酸味，不明显。不过滋味却不理想，应该是原料粗老的原因。</td>
            <td>[八马]花语茶韵龙井</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>汤色浓郁，干净。柚香明显。入口顺滑，糯香和柚味融合的非常好。但不耐冲泡，5泡后滋味寡淡</td>
            <td>[五正]T73砖茶</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>汤色浓郁，干净。柚香明显。入口顺滑，糯香和柚味融合的非常好。但不耐冲泡，5泡后滋味寡淡</td>
            <td>[凡人茶事]2006年寿眉</td>
        </tr>
        <tr>
            <td>滋味寡</td>
            <td>负向</td>
            <td>选料茶，粗老，且茶梗特别多，香气不明显，且有异味，滋味寡，还有青涩之味</td>
            <td>[白马嶺]白马君红</td>
        </tr>
        <tr>
            <td>滋味淡薄</td>
            <td>负向</td>
            <td>干茶显毫，汤色透亮，香气,滋味淡薄，一般。</td>
            <td>[溢品茶香]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>滋味苦涩</td>
            <td>负向</td>
            <td>干茶紧结；茶汤略混，不透彻；滋味苦涩，不易化开，生津，但回甘慢；叶底略腐。</td>
            <td>[高家山]尖茯茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>干茶较碎但陈皮味较浓，香味一般，有果味但没茶味，汤色较浓，滋味一般，略苦而茶味与果味不足，叶底一般，不算完整</td>
            <td>[跃华茶业]蒙顶山黄芽</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>香气为比较高的甜香，融于茶汤中能持久保持；茶汤滋味偏淡，有明显涩感，生津回甘微弱持续</td>
            <td>[斗记茶业]三月春</td>
        </tr>
        <tr>
            <td>滋味涩</td>
            <td>负向</td>
            <td>汤色橙红稍显浊，火味过显，滋味涩感持久不化。</td>
            <td>[勐库亚元]藤条</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>滋味一般不耐泡</td>
            <td>[iTea 我茶]阿里山高山乌龙茶</td>
        </tr>
        <tr>
            <td>滋味差劲</td>
            <td>负向</td>
            <td>滋味差劲，有种保存不当失了茶气的感觉，喝后喉咙有点干，挂喉，喝了两泡实在喝不下……</td>
            <td>[祁乡园] 陈年祁红</td>
        </tr>
        <tr>
            <td>滋味不足</td>
            <td>负向</td>
            <td>茶气不错，但滋味不足。叶片较杂且碎，茶梗多。</td>
            <td>[徽酽]特级祁门红茶</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>这款白茶外形芽叶连枝、满披白毫、叶缘垂卷，平展。叶面呈暗紫色，背面铁灰绿。干茶带有淡淡木质香。开汤冲泡，汤色黄亮，盖香带略微毫香和木质香。茶汤入口顺滑，润喉。淡淡的甜味带木质味，中期茶汤醇和，后期慢慢转淡，苦涩显，有回甘生津。耐泡度一般，叶底肥壮较硬，匀齐。整体茶香不够明显，茶汤滋味平淡。</td>
            <td>[天方]一级碧螺春</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>茶叶条索完整，香气带杂味，有点闷过久香气，香气低沉，滋味寡淡，口感偏淡，涩感较明显，涩几乎不化，生津回甘不足，杯底无香，茶底红梗黄叶，类似台地茶特质。</td>
            <td>[澜沧古茶]007</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>茶叶条梭完整，然后叶底都是大叶，但是香气和滋味都一般，总之味道比较平庸的一款茶</td>
            <td>[Te]白琳功夫</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>茶叶条梭完整，然后叶底都是大叶，但是香气和滋味都一般，总之味道比较平庸的一款茶</td>
            <td>[津乔]高山乔木</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>选料粗老，汤色金黄，茶香闷，不高扬，滋味寡淡</td>
            <td>[大明山]金六堡茶</td>
        </tr>
        <tr>
            <td>滋味怪</td>
            <td>负向</td>
            <td>滋味有点怪，不会评价了！</td>
            <td>[伯韵]信阳毛尖</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>干茶：块状原料粗老乌黑；汤色：红黄；气味：糊柚味；滋味：寡淡；叶底：叶底粗老结成硬块很难泡开；这款茶干茶原料较粗老色乌黑，汤色偏深较暗，香气是类似糊了的柚子味，滋味较寡淡，叶底粗老结成硬块基本是泡不开的。所以这款茶的滋味寡淡应该是跟原料有关系，也跟制作有关火较重把茶焙死了，滋味出不来。</td>
            <td>[凤宁]金针贡芽七子茶饼</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>干茶过于紧实，卫生有待考察，茶中有纸屑，滋味实在一般</td>
            <td>[大明山]金萱乌龙</td>
        </tr>
        <tr>
            <td>滋味淡薄</td>
            <td>负向</td>
            <td>香气浓郁，滋味稍淡薄，不太耐泡</td>
            <td>[大益]龙生甘露 </td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>茶干不均匀，色泽稍暗。几乎没有香气，滋味也一般。</td>
            <td>[武夷源]商务茶</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>干茶满披金毫，香气略带暑香，滋味较为平淡</td>
            <td>[泾渭茯茶]1368茯砖茶</td>
        </tr>
        <tr>
            <td>滋味淡薄</td>
            <td>负向</td>
            <td>干茶显毫，茶汤橙红明亮，香气是蜜花香。这但是滋味淡薄，回味平平。叶底可看出又些花杂。可见制作工艺不够细致</td>
            <td>[文新]信阳红</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>打开自封袋，扑面而来都是蓝莓味，香味不错，也不腻。但是滋味太一般，配不上香气。汤色也稍有些浑。</td>
            <td>[美安雅]藏茶</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>香气带有明显粗闷气，滋味较平淡的白茶。</td>
            <td>[鼎白]白牡丹 </td>
        </tr>
        <tr>
            <td>滋味较差</td>
            <td>负向</td>
            <td>用料等级比较低，滋味较差，性价比较低</td>
            <td>[泉笙道]原生茯茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>香气薯甜香，茶汤滋味一般</td>
            <td>[龙羽]径山茶</td>
        </tr>
        <tr>
            <td>滋味苦</td>
            <td>负向</td>
            <td>干茶匀整，但滋味苦，没有期待中的鲜爽感。气味不香，有淡淡青草气味；</td>
            <td>[巅茶]F8熟茶</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>香气带高火香，略有花香和果香，持久性差，入口鲜爽度一般，滋味较为平淡，酸味太明显，让人略有不爽，涩味也令人不太愉悦，化开太慢，回甘不明显</td>
            <td>[岳王]一级霍山黄芽</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>叶底较碎，汤色较好，香味及滋味一般，干茶较碎</td>
            <td>[下关沱茶]甲沱-绿盒</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>香气不够纯正滋味一般耐泡度一般</td>
            <td>[峰顶寺]灵秀茉莉花茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>干茶有点碎，芽头并不算太肥壮，滋味一般。</td>
            <td>[帮利]普洱茶袋泡茶</td>
        </tr>
        <tr>
            <td>滋味苦涩</td>
            <td>负向</td>
            <td>干茶细长紧实，欠匀整，有蜜香味且伴有较重火味，此茶不耐泡，汤色棕色偏淡，滋味略苦涩</td>
            <td>[芬吉]4号红茶</td>
        </tr>
        <tr>
            <td>滋味淡薄</td>
            <td>负向</td>
            <td>茶叶中有较明显异杂味且闷，刺激性很强；茶汤滋味较淡薄，苦涩味较轻带有果酸味；回甘生津较浅，留口时间短；</td>
            <td>[斗记茶业]金斗极品大树茶</td>
        </tr>
        <tr>
            <td>滋味普通</td>
            <td>负向</td>
            <td>汤色黄亮，香气浓，滋味普通，叶底碎，红褐相间，发酵不均匀。</td>
            <td>[南茶堂]白毫银针</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>汤色红艳，滋味一般，香味浓郁，很平衡的口感不好不坏的</td>
            <td>[显然堂]极品小米针</td>
        </tr>
        <tr>
            <td>滋味平平</td>
            <td>负向</td>
            <td>汤色深红，干茶有陈香，喝起来口感顺滑。缺点是汤体厚度不够，喝起来会有一些“水味”，水含香也比较一般。整个茶滋味平平，没有什么突出的亮点。</td>
            <td>[斗记茶业]古韵 白茶</td>
        </tr>
        <tr>
            <td>滋味涩</td>
            <td>负向</td>
            <td>干茶形较整，汤色较好，香气不浓，滋味涩，不容易化开。这茶在安徽的价格应该在150左右一斤</td>
            <td>[汉唐清茗]霍山黄芽</td>
        </tr>
        <tr>
            <td>滋味苦涩</td>
            <td>负向</td>
            <td>除了苦涩没有其他的滋味。喝茶是要让自己快乐，不能难为自己。</td>
            <td>[莉香]古香漫品茉莉饼茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>干茶小而肥，滋味一般，茶底干净</td>
            <td>[天一]特级贡眉</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>料好工艺差滋味一般</td>
            <td>[初晓]小青柑</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>青草气比较重，不耐泡，香味不足，滋味一般。后期加水煮了20分钟，有明显枣香。</td>
            <td>[雨林古茶坊]伏羲</td>
        </tr>
        <tr>
            <td>滋味不厚重</td>
            <td>负向</td>
            <td>香气足，入口滋味不够厚重，白豪较少，叶底还是不错，没时间用盖碗，用飘逸杯泡的，总体还是不错的</td>
            <td>[象棋山]绿茶松针</td>
        </tr>
        <tr>
            <td>滋味单薄</td>
            <td>负向</td>
            <td>干茶果香浓郁，入口顺滑。只是滋味比较单薄。</td>
            <td>[奇茗]特级大红袍</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>发闷略涩，口感滋味一般</td>
            <td>[君雅]老茶头</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>干茶显杂碎，有较强堆味，冲泡后滋味平淡，香气不足，耐泡度尚可。</td>
            <td>2014·春·丰沙里·生普</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>冲泡有蜜甜香，滋味就比较一般了，总体来说一款还行的口粮红茶</td>
            <td>[中闽弘泰]浓香型380铁观音</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>总体不错，滋味一般</td>
            <td>[谢裕大]天韵茶 黄山毛峰</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>干茶油亮，汤色橙黄，香气为荷香，滋味较淡，叶底硬</td>
            <td>[老舍茶馆]茉莉花茶</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>干茶条索尚紧，墨绿，汤色黄绿，较明亮，香气为兰香，持久度差。滋味平淡。叶底深绿，叶片薄很硬，无弹性。</td>
            <td>[大益]8582七子饼茶</td>
        </tr>
        <tr>
            <td>滋味单薄</td>
            <td>负向</td>
            <td>此茶每年春茶上市都会购买，主要是现在不敢买不知名的铁观音，怕农残。回到茶叶，干茶砂绿，青味较重，冲泡后汤色青绿，香气较显。品饮滋味单薄，韵味较差。</td>
            <td>[雨城]藏茶小圆饼</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>一般的六堡茶，茶汤红艳，透亮，茶香以木香陈香为主，滋味一般</td>
            <td>[吴觉农]十年纪念茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>当一份斗记放在我的面前，我没有去珍惜，那是因为我没有足够茶币。后面为了斗记，我努力攒币，终于换到了2013红斗。观干茶，茶色略深，已经转化，不过茶干香不突出。冲泡之后茶汤颜色呈现棕色，香气依然不明显，品茶汤，有些苦涩，滋味一般。观茶叶底，有梗，叶片比较薄。如果三年陈，茶汤滋味应该很不错的，不过滋味和茶香一般，估计是茶树树龄不太够吧。</td>
            <td>[青山老农]凌云白毫</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>一款价格不便宜，但品质一般的绿茶，茶香滋味均一般</td>
            <td>[乡土乡亲]雨前贵州白茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>汤色红浓厚重，香气比较淡，滋味一般，去年买的这款袋泡茶，味道不是特别好，感觉不如以前了。。。。</td>
            <td>[一天一叶]金花茯砖</td>
        </tr>
        <tr>
            <td>滋味薄</td>
            <td>负向</td>
            <td>只能说是红茶而已，口感实在一般，滋味较薄，应是较便宜茶叶</td>
            <td>[白茶时间]白露寿眉</td>
        </tr>
        <tr>
            <td>滋味不好</td>
            <td>负向</td>
            <td>这款茶的滋味不好。干茶外形卷曲，干闻有种不太舒服的味道。茶汤颜色黄绿明亮，杂质较少，茶水入口浓厚，但有明显的苦涩感，越到后面苦涩感越重。茶叶耐泡度一般，叶底柔软有光泽。个人并不是太喜欢。</td>
            <td>[佤山人家]月美人</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>品质不好料老滋味一般</td>
            <td>[华莱健]华莱健 天尖</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>有蜜桃的香味，比较好闻。茶的滋味一般，有点苦涩。</td>
            <td>[秦府茶行]特级南京雨花茶</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>滋味淡了些，其他还好。整体汤色黄而透亮。香气清新略带花香，稍低。</td>
            <td>[栾氏普洱]咖啡普洱</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>干茶很细，汤色红亮，叶底光泽度不错，滋味一般。可能一直喝的大益熟普，其他熟普多多少少会对比一下，我一直想买大益的宫廷普洱，茶语网什么时候也能些大益的确认茶，我挺喜欢</td>
            <td>[显然堂]湖林村•白毫银针2016</td>
        </tr>
        <tr>
            <td>滋味苦</td>
            <td>负向</td>
            <td>茶汤金黄，滋味苦，回甘慢</td>
            <td>[后院茶社]六安瓜片</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>干茶挺直黑亮，有金毫，茶汤淡黄明亮，有甜香，有涩感，滋味一般。</td>
            <td>[晟园茶叶]鸿雁十二号</td>
        </tr>
        <tr>
            <td>滋味涩</td>
            <td>负向</td>
            <td>干茶有淡淡的花草香。汤色淡黄不明亮。滋味涩，回甘慢。</td>
            <td>[天之红]特三级祁门红茶</td>
        </tr>
        <tr>
            <td>滋味差</td>
            <td>负向</td>
            <td>香气尚可，滋味略差。</td>
            <td>[子乐宅]峨眉紫红</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>香气清香，滋味略淡，风味不错</td>
            <td>[陈升号]南糯茶王 </td>
        </tr>
        <tr>
            <td>滋味差</td>
            <td>负向</td>
            <td>干茶还算不错！汤色也算明亮，香气有杂，滋味差，工艺缺陷严重，无太多品饮价值！</td>
            <td>[下关沱茶]红印沱茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>香气不错，汤略浑，入口滋味一般，入喉时像蒙了一层灰</td>
            <td>[八仙工夫]诏安柚子茶</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>汤色浅绿明亮，花香很浓郁，但滋味较淡，生津明显。</td>
            <td>[冠隆誉]益阳手筑茯砖</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>口感滋味一般，汤色漂亮。</td>
            <td>[下关沱茶]无量山 老树圆茶</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>入口尚可，滋味平淡，涩感强，减分</td>
            <td>[PEKOE]台湾花莲蜜香红茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>叶底和干茶比较完整，香味一般，汤色较好，滋味一般，整体感觉一般</td>
            <td>[沛福堂]徽茶一级霍山黄芽高山茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>干闻干看可以，泡开滋味一般，有陈香，不滑，汤不够透。</td>
            <td>[勐库戎氏]中国梦苦涩茶</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>喝起来还算鲜爽，有花香，就是滋味有点淡。</td>
            <td>[白韵]政和白茶白牡丹</td>
        </tr>
        <tr>
            <td>滋味薄弱</td>
            <td>负向</td>
            <td>茶汤透亮，滋味略薄弱！</td>
            <td>[秦府茶行]特级南京雨花茶</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>干茶香气清新，茶汤橙黄色，入口轻微有苦涩，汤感较清，滋味偏淡，涩感集中于两颊，是款细腻，柔和的普洱茶。香气表现好，回味有茶香。</td>
            <td>[微岚]九华佛茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>香气较淡，滋味一般。</td>
            <td>[蒙顶皇茶]蒙顶甘露</td>
        </tr>
        <tr>
            <td>滋味不好</td>
            <td>负向</td>
            <td>闻起来蜜桃味倒是挺浓郁，冲泡后蜜桃的果香也是满溢的，高扬持久，但是这茶汤的滋味真的不敢恭维，饮后舌头发麻，滋味不好受。。。</td>
            <td>[中闽飘香]西湖龙井</td>
        </tr>
        <tr>
            <td>滋味不足</td>
            <td>负向</td>
            <td>干茶及叶底比较完整，香味及滋味不足，汤色较红润</td>
            <td>[岁月知味]易道</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>香气可以，滋味一般，口粮茶.</td>
            <td>[赛纳茶叶]铁观音</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>干茶呈砂绿色，颗粒紧结，茶汤金黄，滋味清爽较淡，香气以清香为主，叶底柔软有弹性。</td>
            <td>[Tea Tang]Ceylon Breakfast PURE CEYLON BLACK TEA</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>香气滋味都一般，有苦味，化不开</td>
            <td>[老同志]9988老同志砖茶</td>
        </tr>
        <tr>
            <td>滋味差</td>
            <td>负向</td>
            <td>谢谢茶语网的分享！估计时间久了，所以滋味差</td>
            <td>[维士茶业]山谷云雾宁红茶</td>
        </tr>
        <tr>
            <td>滋味苦涩</td>
            <td>负向</td>
            <td>虽然较为细嫩，但是香气平和，滋味较为苦涩，表现为低海拔茶特性。</td>
            <td>[北岩]陈香大红袍</td>
        </tr>
        <tr>
            <td>滋味单一</td>
            <td>负向</td>
            <td>一款选料尚可，茶香一般，滋味单一的黄茶</td>
            <td>[古树韵]茶缘·黄枝香</td>
        </tr>
        <tr>
            <td>滋味普通</td>
            <td>负向</td>
            <td>干茶香气很好，有馥郁的果香，但茶汤的水含香和干茶却不太相似，茶汤更接近炒米香或者植物香，没有干茶那么怡人。入口后的滋味比较普通，甘，苦，涩的几路味觉都有点模糊，咽下茶汤后，口里又有些干。</td>
            <td>[甘霖茶业]白牡丹 </td>
        </tr>
        <tr>
            <td>滋味差</td>
            <td>负向</td>
            <td>原料看着不错！有点杂味，确有槟榔香气，滋味差了一些！</td>
            <td>[一叶蒙山]特级蒙山红</td>
        </tr>
        <tr>
            <td>滋味淡薄</td>
            <td>负向</td>
            <td>干茶棕褐，汤色红浓，香气陈闷，带烟味，滋味淡薄，叶底黑褐，发酵不当，叶底软烂。</td>
            <td>[徽六]六安瓜片2012年新茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>此茶滋味一般</td>
            <td>[碧螺]碧螺茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>一般的六堡茶，干茶黑褐色，茶汤红艳，透亮，茶香以木香陈香为主，滋味一般</td>
            <td>[天城香]湄潭翠芽</td>
        </tr>
        <tr>
            <td>滋味不醇厚</td>
            <td>负向</td>
            <td>香气可以，但是滋味不够醇厚</td>
            <td>[津乔]四排山</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>干茶是珠茶，圆润，稍显毫，一芽二叶为主。茶汤浅黄绿明亮；茉莉花香浓郁、鲜爽有活力，滋味较淡，带甜味。</td>
            <td>[秀杆茗]178号</td>
        </tr>
        <tr>
            <td>滋味粗杂</td>
            <td>负向</td>
            <td>这款茶干茶条索略粗松，色乌褐尚匀；汤色红浓尚亮；香气粗平微酸；滋味略粗杂，微酸涩；叶底略粗老，色深褐尚匀。此茶原料粗老，工艺上稍有缺陷内质的香气与滋味上表现的较明显。</td>
            <td>[蒙顶千秋]黑金砖茶</td>
        </tr>
        <tr>
            <td>滋味苦</td>
            <td>负向</td>
            <td>干茶还好，汤色一般，香气是生普都香气。滋味苦的不正常，叶底有黑色异物比较脏。</td>
            <td>[茂圣]一级六堡茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>干茶香味较淡，汤色橙亮，滋味一般</td>
            <td>[百亩顶茶]明前一级 莫干黄芽</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>干茶紧实，汤色不够清亮，果香明显，滋味偏淡回甘稍慢,叶底稍碎。口粮茶不错但是价格有点高</td>
            <td>[亲稀源]特级明前恩施玉露</td>
        </tr>
        <tr>
            <td>滋味厚重</td>
            <td>负向</td>
            <td>焙火重，干茶的焙火香带火气，茶汤中的焙火香非常明显，蜜兰香微微显露，带苦涩，焙火味盖过了茶味；总体滋味厚重、茶汤饱满度也可以，刺激感强，但涩味明显，影响体验感。茶水协调性一般，耐泡度较好。</td>
            <td>[华德]5年陈寿眉贡眉</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>滋味淡溥，汤色清绿略带豆香</td>
            <td>[茗泰茶]古韵流香</td>
        </tr>
        <tr>
            <td>滋味淡薄</td>
            <td>负向</td>
            <td>香气中的异杂味挺明显的，滋味淡薄，个人觉得不是很好该款茶</td>
            <td>[白沙溪]1953·茯茶 御品</td>
        </tr>
        <tr>
            <td>滋味不过瘾</td>
            <td>负向</td>
            <td>二线普洱厂里面的中坚，每年产品不多，春尖往往是其中最早上市的一款。压制较松，易撬，干茶褐绿乌润，嗅起来有花香，湿醒后略带烟味。汤色浅黄，有较淡的清香。入口较淡而柔，甜度低，有微微的涩和酸。前段饮后口中有凉感。中后段苦稍显，回甘生津也有了起色。可能由于早春料内质偏薄，整体滋味略显不过瘾，缺乏拳拳到肉的快感。</td>
            <td>[虞剑]一级茗绿茶</td>
        </tr>
        <tr>
            <td>滋味一般</td>
            <td>负向</td>
            <td>茶汤不明亮，有青草气，滋味一般</td>
            <td>[茗纳百川]单芽银丝</td>
        </tr>
        <tr>
            <td>滋味淡薄</td>
            <td>负向</td>
            <td>香气淡，果香为主，仍有烟味。茶汤滋味淡薄。</td>
            <td>[青衫 ]悠悠</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>这是一款口感清爽、回甘生津较好的生普。润茶后公杯蜜香虽淡却有暖意。整体滋味偏淡，汤体缺乏厚度，前三泡略有水味。后期水中有较明显的青味，涩度也有所增强。耐泡度一般。</td>
            <td>[喜茗]六堡金花茶</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>香气不是很愉悦，滋味也很淡，没啥子红茶味</td>
            <td>[皇茗园]黄芽</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>茶汤黄绿，不够清透，悬浮较多茶毫，汤底有较多碎叶；青草气强烈，盖过了茶香；茶汤滋味寡淡，内在物质不丰富，舌面有轻微涩感，化得较快</td>
            <td>[茂圣]六堡袋泡茶</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>干茶较松，梗长。冲泡后汤色黄亮透明，兰香显，持续性不强，滋味较淡，叶底肥厚。</td>
            <td>[TeaTalk]汀布拉</td>
        </tr>
        <tr>
            <td>滋味平淡</td>
            <td>负向</td>
            <td>干茶外形美观，芽叶鲜活；茶汤黄绿明亮，有茶毫悬浮；茶汤散发清香，香气不高；茶汤滋味平淡，涩感重且化不开。</td>
            <td>[芬吉]4号白茶 </td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>干茶香气较淡，耐泡度较差，茶汤滋味较淡。</td>
            <td>[北港毛尖]北港毛尖</td>
        </tr>
        <tr>
            <td>滋味厚重</td>
            <td>负向</td>
            <td>香气纯正带花香，滋味厚重，回甘较慢，耐泡。叶片完整柔软。整体表现一般般。</td>
            <td>[iTea 我茶]高山桂花乌龙茶</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>干茶乌黑色呈块状有果香；汤色橙黄；有明显的柚子果香；滋味略淡，无苦涩味，有果酸，入口顺滑，较耐冲泡；叶底泡不开结成块状。加大投茶量，12克以上滋味会浓一些。</td>
            <td>[斗记茶业]红上斗</td>
        </tr>
        <tr>
            <td>滋味欠协调</td>
            <td>负向</td>
            <td>该款茶叶条索欠紧结，有断碎。茶汤尚为顺滑，微苦，有回甘，但是整体滋味欠协调。</td>
            <td>[昌溪]黄山毛峰</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>这款茶其他的都还好，茶叶比较嫩，茶汤透亮，滋味稍淡，但清爽，主要缺点是没体验到碧螺春应该有的明显、丰富的花香，干茶、茶汤都没有</td>
            <td>[龙润]茉莉花语</td>
        </tr>
        <tr>
            <td>滋味寡淡</td>
            <td>负向</td>
            <td>干茶块状，原料粗老，茶香伴着柚香，汤色橙黄清亮，后几泡稍变浅，滋味寡淡，微酸，叶底色泽乌润，不易散开。</td>
            <td>[川茶]叙府龙芽</td>
        </tr>
        <tr>
            <td>滋味不协调</td>
            <td>负向</td>
            <td>不太喜欢这款茶，滋味不协调，略带酸。</td>
            <td>[乾红.早春茶]老茶客</td>
        </tr>
        <tr>
            <td>滋味淡</td>
            <td>负向</td>
            <td>三泡后滋味变淡，茶色浅，总体来说口感尚可。</td>
            <td>[龙园号]吉祥普洱生茶砖</td>
        </tr>
    </tbody>
</table>
        </div>


</body>
</html>
