<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <style>
            .fl-table {
                margin: 20px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                border-collapse: collapse;
                max-width: 100%;
                white-space: nowrap;
                word-break: keep-all;
            }

            .fl-table th {
                text-align: left;
                font-size: 20px;
            }

            .fl-table tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            .fl-table tr:hover td {
                background: #00d1b2;
                color: #F8F8F8;
            }

            .fl-table td, .fl-table th {
                border-style: none;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 3px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                padding: .5em .55em;
                font-size: 15px;
            }

            .fl-table td {
                border-style: none;
                font-size: 15px;
                vertical-align: center;
                border-bottom: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                height: 30px;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }
        </style>
        <div id="d85beb7a59ef46eebd63351accb9974e" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > 观点之整体好.csv</p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <table class="fl-table">
    <thead>
        <tr>
            <th>属性观点</th>
            <th>情感倾向</th>
            <th>text</th>
            <th>品牌茶叶</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>整体干净无杂味</td>
            <td>正向</td>
            <td>汤色明亮带光圈，香气弱，前三泡有淡淡蜜香，口感淡薄略带水味，但略有茶气略生津，整体干净无杂味。</td>
            <td>[斗记茶业]红上斗</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>干茶较碎；汤色橙红明亮；薯香明显；汤感较涩、回甜、叶底干、较碎。整体感觉：很不错的红茶！</td>
            <td>[柏联]竹盒庄园普洱茶砖</td>
        </tr>
        <tr>
            <td>整体可以</td>
            <td>正向</td>
            <td>此种茶感觉还可以</td>
            <td>[水里茶香]土楼红美人</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>汤色陈,味道冲，有点杂质,整体还是不错的</td>
            <td>[青城]青城雀舌</td>
        </tr>
        <tr>
            <td>整体较好</td>
            <td>正向</td>
            <td>干茶：条索尚紧，色泽黄褐绿，花渣，欠匀较碎。整体性较好，没有特色。</td>
            <td>[陈茶世家六堡茶行]古树六堡茶</td>
        </tr>
        <tr>
            <td>整体感觉还好</td>
            <td>正向</td>
            <td>有果香味，苦涩味较重，茶汤红，整体感觉还好</td>
            <td>[彭宇茶行]乌米尖霍山黄芽</td>
        </tr>
        <tr>
            <td>整体感觉不错</td>
            <td>正向</td>
            <td>茶微苦，香气教纯，整体感觉不错</td>
            <td>[Sancha]大吉岭伯爵茶</td>
        </tr>
        <tr>
            <td>整体平和</td>
            <td>正向</td>
            <td>该款绿茶原料为大叶品种，原料嫩度和制作工艺均正常。茶叶外形直条型，茶毫丰富，条索紧结，清香明显，香气中有独特的花香表现。冲泡之后汤色为黄绿，入口初感苦涩后则回甘绵长。但不耐冲泡，第三泡则滋味明显流失。滋味整体较平和，价位中等，可定位中等茶叶。</td>
            <td>[云元谷]档案易武</td>
        </tr>
        <tr>
            <td>整体持久</td>
            <td>正向</td>
            <td>这是一品质较好的茉莉花茶。茉莉花香明显，略有鲜度，整体持久。水含香也好，与茶融合。</td>
            <td>[荣瑞祥]女儿环</td>
        </tr>
        <tr>
            <td>整体好</td>
            <td>正向</td>
            <td>整体还好，略有小瑕疵。</td>
            <td>[徽班]桐城小花</td>
        </tr>
        <tr>
            <td>整体还可以</td>
            <td>正向</td>
            <td>香气佳，入口清爽，汤亮。整体还可以！</td>
            <td>[六和塔]特级西湖龙井</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>叶底呈墨绿色，卷曲状。叶梗兼具。初泡香味较浓郁，川中绿茶的熟板栗香悠然而生。二、三泡之后，香味一如即往，但碎叶渐多。从口感来说，这是款不重外形、重工艺的茶，外形确实初看极为普通，甚至是不好，但泡开后滋味总体尚可。比较适合办公室和一般家庭随意喝喝，不要太讲究与苛刻，相信感觉还不错。比一般的芽头绿茶还耐泡。</td>
            <td>[湘益]一品心</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>整体不错的一款茶，确有淡淡的红枣香，茶香舒适，整体协调性较好。</td>
            <td>[福驾]齐鲁干烘茶</td>
        </tr>
        <tr>
            <td>整体较好</td>
            <td>正向</td>
            <td>饼茶被撬得略为细脆，所以泡开后苦涩感偏重，茶汤入口顺滑，整体厚度较好，回甘较慢。</td>
            <td>[川字牌]精品青砖茶</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>整体不错的</td>
            <td>[Dilmah] Dilmah  锡兰红茶t系列玫瑰香草味斯里兰卡红茶</td>
        </tr>
        <tr>
            <td>整体还行</td>
            <td>正向</td>
            <td>外形肥壮条索修长微曲，色泽乌黑有光布有白霜，微弱的烟香味带有果蜜香，内质香味甜和汤感适中没期待的那么惊艳（没牛奶滑、厚相对差些有点像水感），但多喝几泡感觉汤有微酸(红茶一酸就感觉快变质了不知是不是泡的温度过高了还是茶本质问题)后几泡有点苦涩很细微，火香重六泡还有火香（可能是汤香太微显火香重）汤鲜艳呈金黄色杂质少红茶冷后浊，叶底红尚匀带有绿褐色叶面光滑粗老。整体还行可以接受的口感。</td>
            <td>[森舟]满口香8568</td>
        </tr>
        <tr>
            <td>整体还可以</td>
            <td>正向</td>
            <td>这是一卷以蜜兰香甜为主的祁红茶，口感酸涩表较明显持久的茶品，汤感相对不是很厚重，涩转化的比较缓慢，酸味一直持续有微微苦感显于舌根内侧，色泽尚明亮，耐泡度一般，整体协调还可以。</td>
            <td>[武夷星]肉桂</td>
        </tr>
        <tr>
            <td>整体还可以</td>
            <td>正向</td>
            <td>干茶还有点碎，整体还可以。</td>
            <td>[美安雅]黄芽黄茶</td>
        </tr>
        <tr>
            <td>感觉还行</td>
            <td>正向</td>
            <td>整体感觉还行，就是口味还欠一点。</td>
            <td>[大益]7572七子饼茶熟茶</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>这款普洱整体表现还不错。茶汤明亮，滋味醇厚带甜，回甘不错。</td>
            <td>[猴王牌]特级茉莉花茶</td>
        </tr>
        <tr>
            <td>整体还好</td>
            <td>正向</td>
            <td>个人感觉还好</td>
            <td>[屹宏]三江红茶</td>
        </tr>
        <tr>
            <td>整体口感丰富</td>
            <td>正向</td>
            <td>茶语网对这个茶的评分很高，入口的味道很厚实，有稠度，枣香的感觉很醇厚。茶本身是很耐泡的，十五六泡下来，汤色依然澄黄。口感很丰富</td>
            <td>[历口]特级祁红金针</td>
        </tr>
        <tr>
            <td>整体较好</td>
            <td>正向</td>
            <td>有挂杯香气，持久性较好，茶汤入口甜，厚度一般，涩味较明显，持久，有回甘，有生津，整体表现较好</td>
            <td>[八角亭]云南勐海七子饼茶0432</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>茶汤不错，汤色如绸，香气很一般，味道苦而不涩，感觉刚刚好。</td>
            <td>[云南临沧滇鑫阁茶业经营部]金丝滇红</td>
        </tr>
        <tr>
            <td>整体较好</td>
            <td>正向</td>
            <td>茶汤整体入口甜，有涩味，化开慢，整体汤感有一定厚度，有回甘，无生津，茶汤香气较丰富，包含清香、花香和甜香，较持久，整体表现较好</td>
            <td>[七灯台]七灯台蜜兰香</td>
        </tr>
        <tr>
            <td>整体协调较好</td>
            <td>正向</td>
            <td>1501大斗:干茶：粗壮芽显，无明显黄片，色泽墨绿润泽，饼型端正，松紧适中。汤色：绿黄明亮，泡至第五泡汤色浓度和透亮度一直不减。香气主香是较高的蜜香，带花香和果香，杯底蜜香持久。茶汤较浓，入口苦味较明显，能快速化开，转为清新甘甜感觉。明显涩感铺满口腔，舌面前段的涩化得较慢，生津较快但不明显。饮后口腔前段蜜甜香持久、口感甘甜，整体协调性较好。喝过2010年的此茶，转化后更加浓郁柔和，冰糖韵足。叶底：绿黄尚嫩较柔，肥厚，匀整。</td>
            <td>[华虹名茶]清香型三星安溪铁观音</td>
        </tr>
        <tr>
            <td>整体还不错</td>
            <td>正向</td>
            <td>有苦涩味，花香不足，整体平衡感还行</td>
            <td>[大益]飞虎传奇</td>
        </tr>
        <tr>
            <td>整体还行</td>
            <td>正向</td>
            <td>有焦底，破坏整体的感觉去除焦底其他还行</td>
            <td>[华川茶业]铁观音春茶一斤装</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>香气持久纯正，感觉挺不错，就是梗较多</td>
            <td>[袭兰茶叶]黄山高绿特级</td>
        </tr>
        <tr>
            <td>整体协调较好</td>
            <td>正向</td>
            <td>这款青砖干茶黑褐色，油润，存放时间只有两年，说明转化程度较深，香气挂杯为甜香，且持久，汤色红润透亮，口感顺滑甜醇，耐泡度较好。整体协调性较好，耐泡度较高，看叶底油润，梗比较多，甜度好，不错的茶，没有一点点异味，很喜欢的一款茶</td>
            <td>[昌宁红]龙腾沧江</td>
        </tr>
        <tr>
            <td>整体柔和</td>
            <td>正向</td>
            <td>苦涩感觉都比较中庸，闻茶底有淡淡的青草香，刚一入口的鲜爽度很好。整体比较柔和，但香甜远逊色于景迈和冰岛。可能是因为茶饼紧压的关系，整体就像是在喝当年的新茶。总体来说，胜在无杂味异味，输在平庸无特色。</td>
            <td>[义旺]特级祁红</td>
        </tr>
        <tr>
            <td>整体清新</td>
            <td>正向</td>
            <td>清新版关甲（个人感觉）。</td>
            <td>[可步茶业]龙珠</td>
        </tr>
        <tr>
            <td>整体柔和</td>
            <td>正向</td>
            <td>整体感觉比较柔和，干茶花香明显，入口鲜爽度较好，但口感略薄，感觉像当年的茶。胜在无杂味。</td>
            <td>[醉悠]茉莉白龙珠</td>
        </tr>
        <tr>
            <td>整体还可以</td>
            <td>正向</td>
            <td>叶底用料不算好，但喝起来总体感觉还可以，有花香。略带苦涩，不易化开。</td>
            <td>[唐茶坊]铁罗汉</td>
        </tr>
        <tr>
            <td>整体稳定较好</td>
            <td>正向</td>
            <td>茶样5.5g、有醒茶，共冲泡12次。温润泡5秒、第1-5泡15s，第6-7泡20s，第8-9泡30s，第10泡40s，第11泡50s，第12泡60s。干茶为褐绿色有少量白芽，条索匀净坚实。汤色金黄透亮，青梅香纯正内敛、茶汤入口顺滑，汤感较润，口齿留香。滋味丰富，总体上较苦较涩，苦的感觉有些压舌，在舌面上很久才能化去，生津慢回甘不明显。杯底有明显的冰糖香，但入口后清甜味不明显。每一泡滋味稳定变化不大，茶气足，10泡滋味不减，耐泡度好。叶底呈深绿色，少数叶片泛红，叶片光滑有韧性，茶梗很少。总的感觉，作为新茶，苦涩感比较强烈，但香气和滋味品质比较稳定，期待后期转化的效果。</td>
            <td>[雅鑫苑茶业]滇红特级</td>
        </tr>
        <tr>
            <td>整体还可以</td>
            <td>正向</td>
            <td>干茶有梗，入口口感还可以，汤色浅黄，整体还可以</td>
            <td>[北岩]肉桂乌龙茶</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>感觉还不错，味道清淡，喝惯了青茶和黑茶有些不适应</td>
            <td>[明兴茶业]明前独芽雀舌</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>干茶乌黑明亮汤色橙透彻干茶有明显蜜香泡开香气没那么明显滋味醇厚甜度很好叶底干净匀整整体还不错的红茶</td>
            <td>[醒世]川红 特级醒世黄金白露</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>金花明显，总体感觉不错的黑茶。茶汤清亮；香气持久，滋味柔和，有不错的回甘。</td>
            <td>[重茶集团]定心·决策</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>偶尔喝喝袋泡茶感觉还不错</td>
            <td>[中茶]六堡窖藏8312</td>
        </tr>
        <tr>
            <td>整体喜欢</td>
            <td>正向</td>
            <td>还是喜欢泡过几泡的感觉</td>
            <td>[沁祥春]归真宋 永春佛手</td>
        </tr>
        <tr>
            <td>整体感觉不错</td>
            <td>正向</td>
            <td>这款熟普用料不错，口味浓厚，汤色红亮，整体感觉还是不错的。</td>
            <td>[怡清源]特制茯砖</td>
        </tr>
        <tr>
            <td>整体还行</td>
            <td>正向</td>
            <td>整体过得去</td>
            <td>[古陌]紫娟</td>
        </tr>
        <tr>
            <td>整体表现不错</td>
            <td>正向</td>
            <td>干茶：干茶造型优美，外形扁形挺直，翠绿略带黄点，略有白毫，匀整，无茶梗。；整体表现不错</td>
            <td>[秀杆茗]178号</td>
        </tr>
        <tr>
            <td>整体漂亮</td>
            <td>正向</td>
            <td>外形较好，香气一般。总体感觉外形和汤色很漂亮，不太耐泡。</td>
            <td>[韵虹]凤凰蜜兰香</td>
        </tr>
        <tr>
            <td>整体好</td>
            <td>正向</td>
            <td>香气十足，就是有点不耐泡。整体还好。</td>
            <td>[伯韵]美漾</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>斯里兰卡红茶，香气较弱，闻起来就是奶茶中的茶味道，适合加牛奶饮用，汤色红浓透亮，入口苦味重，微涩，化得慢，生津持久回甘不明显，总体感觉是款不错的红茶，不过口感与平时喝的红茶差距明显</td>
            <td>[帝泊洱]即溶普洱茶珍</td>
        </tr>
        <tr>
            <td>整体可以</td>
            <td>正向</td>
            <td>有涩酸味整体可以。</td>
            <td>[运道红]月光白</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>斯里兰卡红茶，香气较弱，闻起来就是奶茶中的茶味道，适合加牛奶饮用，汤色红浓透亮，入口苦味重，微涩，化得慢，生津持久回甘不明显，总体感觉是款不错的红茶</td>
            <td>[下关沱茶]甲沱-绿盒</td>
        </tr>
        <tr>
            <td>整体清新</td>
            <td>正向</td>
            <td>小清新的感觉</td>
            <td>[春之英]曼莱乔木生态古树</td>
        </tr>
        <tr>
            <td>整体还不错</td>
            <td>正向</td>
            <td>这款茶的香气比较独特，较甜能持久，汤色红浓较亮，整体来说还不错。</td>
            <td>[王德传]春蕊</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>叶底不是非常的好看，整体不错</td>
            <td>[中闽弘泰]清香型铁观音</td>
        </tr>
        <tr>
            <td>整体还行</td>
            <td>正向</td>
            <td>整体感觉还行吧，但并不是太突出</td>
            <td>[满叶香]夜来香</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>有回甘，味厚，感觉不错</td>
            <td>[润雅馨]蜜兰香凤凰单丛</td>
        </tr>
        <tr>
            <td>整体 还好</td>
            <td>正向</td>
            <td>初始喝着感觉还好，冲泡几次有酸味。</td>
            <td>[中茶]Y671普洱熟茶</td>
        </tr>
        <tr>
            <td>整体较好</td>
            <td>正向</td>
            <td>香气纯正，较高，茶汤入口顺滑，滋味浓厚，稍有涩感，有回甘生津，耐泡度较好，整体协调度较好。是一款养生代课好茶。</td>
            <td>[味独珍]早春石花</td>
        </tr>
        <tr>
            <td>整体评价好不错</td>
            <td>正向</td>
            <td>干茶墨绿，条索疏松，微带梗；汤色绿黄清亮；香气高昂，玉兰花香明显，微带果香，香气纯正持久，无明显杂味；滋味较为饱满，回甘明显，生津一般，苦涩度较低，但舌面收敛感较强，喉感紧结，较难化开；叶底柔软度较好但花杂，部分叶面有红梗现象；整体评价不错，香气十分讨人喜欢，滋味较好，回甘有加分；购买欲望一般，除香气外没有特别突出的特点，口粮级别吧。建议：没有试过单丛的小伙伴可以试一下，但不要以此定义单丛形象</td>
            <td>[艺福堂]一泡好韵 铁观音</td>
        </tr>
        <tr>
            <td>整体还行</td>
            <td>正向</td>
            <td>香气纯正带花香，滋味厚重，回甘较慢，耐泡。叶片完整柔软。整体表现一般般。</td>
            <td>[新坦洋]HCC-3茉莉花茶</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>茶汤滋味醇厚，蜜甜香浓郁，有淡淡的豆香，总体感觉不错的一款黄茶。</td>
            <td>[凤牌]滇红经典58</td>
        </tr>
        <tr>
            <td>整体还可以</td>
            <td>正向</td>
            <td>有焙火茶有的老火气味，干茶有炒米的自然香气，都挺好闻的，干茶来讲不是很讲究，不匀整且掺杂粗大的梗梗，冲泡之后茶汤黄带红色，不很亮，一泡明显带有高火的糊味，滋味纯正，但多泡之后就较为平淡了。整体还可以，喜欢焙火茶的朋友可以尝试！</td>
            <td>[千好]特级芝兰香凤凰单丛</td>
        </tr>
        <tr>
            <td>整体不错</td>
            <td>正向</td>
            <td>干茶乌褐，条索细长，多达五厘米，兼有青灰色条索，干茶顶端有毫。无破碎情况整体细长，细闻有清茶香。第一泡，茶汤清亮，嫩黄色，汤中纤毫点点，轻呷一口鲜爽素雅，香气较淡。第二泡汤色明黄绿，透亮，口感醇厚，舌尖苦，舌面生津，上腭中部有涩感，但化的较快。第三泡颜色依旧，但口感，有青味，依然涩。第四泡，颜色稍淡些。口感与上一泡差别不大。叶底嫩芽较多，叶片有弹性，是一款基础口粮茶。</td>
            <td>[斗记茶业]刮风寨</td>
        </tr>
    </tbody>
</table>
        </div>


</body>
</html>
