<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <style>
            .fl-table {
                margin: 20px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                border-collapse: collapse;
                max-width: 100%;
                white-space: nowrap;
                word-break: keep-all;
            }

            .fl-table th {
                text-align: left;
                font-size: 20px;
            }

            .fl-table tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            .fl-table tr:hover td {
                background: #00d1b2;
                color: #F8F8F8;
            }

            .fl-table td, .fl-table th {
                border-style: none;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 3px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                padding: .5em .55em;
                font-size: 15px;
            }

            .fl-table td {
                border-style: none;
                font-size: 15px;
                vertical-align: center;
                border-bottom: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                height: 30px;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }
        </style>
        <div id="0061f6bbe9604ca1bf05ba93a9279c88" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > 观点之汤色好.csv</p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <table class="fl-table">
    <thead>
        <tr>
            <th>属性观点</th>
            <th>情感倾向</th>
            <th>text</th>
            <th>品牌茶叶</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>汤色橘红</td>
            <td>正向</td>
            <td>白琳工夫，汤色应该是橘红色的</td>
            <td>[千回]福鼎白茶 白毫银针</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>汤色红亮，有青涩味</td>
            <td>[吉普号]金乔木</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶色泽黑褐，压制紧实，汤色黄亮，香气平淡微酸，滋味平淡酸苦，叶底碎软含梗。</td>
            <td>[云祥和]春露绿茶</td>
        </tr>
        <tr>
            <td>汤色淡</td>
            <td>正向</td>
            <td>干茶无香气，汤色较淡，无香气溢出，口感略甜，有明显苦涩感，叶底表现相对较好</td>
            <td>[青山老农]凌云白毫</td>
        </tr>
        <tr>
            <td>汤色美</td>
            <td>正向</td>
            <td>总的说比较满意，香气不是很明，但汤色较美，还算非常爽快</td>
            <td>[善觉]特级高香大红袍</td>
        </tr>
        <tr>
            <td>汤色清澈红亮</td>
            <td>正向</td>
            <td>汤色清澈红亮，有淡淡的火攻香，略涩微苦。</td>
            <td>[官御品]日月潭红茶</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>汤色明亮带光圈，香气弱，前三泡有淡淡蜜香，口感淡薄略带水味，但略有茶气略生津，整体干净无杂味。</td>
            <td>[午子]午子绿茶</td>
        </tr>
        <tr>
            <td>汤色清淡</td>
            <td>正向</td>
            <td>汤色清淡，香气一般</td>
            <td>[美安雅]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>汤色明亮略涩有回甘</td>
            <td>正向</td>
            <td>汤色明亮略涩有回甘</td>
            <td>[天木岩]金牡丹</td>
        </tr>
        <tr>
            <td>汤色红浓透亮</td>
            <td>正向</td>
            <td>干茶棕褐油润，条索疏松，有金芽，汤色红浓透亮，香气纯正陈香，茶汤滋味醇和，叶底粗老，有硬梗。</td>
            <td>[茂圣]六堡茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶里挑出明显的黄片及老梗，汤色黄亮，入口苦重化得慢，茶汤滋味偏薄，叶底黄绿相间，有焦斑。</td>
            <td>[佤山映象]空谷幽兰</td>
        </tr>
        <tr>
            <td>汤色不错</td>
            <td>正向</td>
            <td>这款红茶香气长，入口甜香，有点烟味，汤色不错。</td>
            <td>[龙润]韵弈普洱熟茶</td>
        </tr>
        <tr>
            <td>汤色浑浊</td>
            <td>正向</td>
            <td>香是很香，不过又苦又涩，汤色浑浊</td>
            <td>[三父子]特级三父子红茶</td>
        </tr>
        <tr>
            <td>汤色红亮不错</td>
            <td>正向</td>
            <td>较碎，汤色红亮不错，但口感一般，涩味重，喝多有闷感</td>
            <td>[茂圣]9年陈六堡茶</td>
        </tr>
        <tr>
            <td>汤色明黄</td>
            <td>正向</td>
            <td>干茶香气高锐。叶片黑褐，较碎，叶形较小。冲泡后略有茶香，不明显。汤色明黄，细品有微微涩味，刚有1年的转化，略带一点青味。入口顺滑，有回甘。</td>
            <td>[伯韵]白露香韵</td>
        </tr>
        <tr>
            <td>汤色明亮橙黄</td>
            <td>正向</td>
            <td>汤色橙黄明亮</td>
            <td>[茂圣]金花六堡茶</td>
        </tr>
        <tr>
            <td>汤色黄绿清亮</td>
            <td>正向</td>
            <td>外形特征不具备特三级黄山毛峰形似雀舌，带黄金片的品质特点，而与三级黄山毛峰的品质特点较为符合。汤色：黄绿清亮，稍淡。气味：甜香，嫩栗香。</td>
            <td>[巴南银针]巴南银针</td>
        </tr>
        <tr>
            <td>汤色绿浓</td>
            <td>正向</td>
            <td>浓而不苦涩，滋味协调。其口感非常鲜爽，香气清香带有蒸清茶独特的淡海苔香，汤色绿而浓</td>
            <td>[名池 ]日月潭红茶</td>
        </tr>
        <tr>
            <td>汤色黄浓</td>
            <td>正向</td>
            <td>汤色黄浓，香气花香，滋味较厚，有涩感。叶底暗绿</td>
            <td>[山国饮艺]韵香型S600安溪铁观音</td>
        </tr>
        <tr>
            <td>汤色明亮浅黄</td>
            <td>正向</td>
            <td>汤色浅黄，明亮度高</td>
            <td>[苗品记]碧水天香自用装</td>
        </tr>
        <tr>
            <td>汤色红浓明亮</td>
            <td>正向</td>
            <td>收到了样品茶，红褐，汤色红浓较明亮，滋味浓醇回甘，缺点微苦。总体上来说这款普洱茶的品质特征比较明显，香气挺浓</td>
            <td>[龙润]楚兰</td>
        </tr>
        <tr>
            <td>汤色宜人</td>
            <td>正向</td>
            <td>口感香味一般般，但汤色宜人，茶叶展开看着还行</td>
            <td>[乙楚佳木]生白老枞水仙白</td>
        </tr>
        <tr>
            <td>汤色浅绿明亮</td>
            <td>正向</td>
            <td>干茶细短，形似雀舌，扁平挺直光滑，色泽绿润，大小均匀一致，符合该茶特级等级特征。汤色：汤色浅绿明亮。气味：香气嫩香，持久性较好，香气不太高。</td>
            <td>[茶祖印象]三湘红 宋韵8800</td>
        </tr>
        <tr>
            <td>汤色正</td>
            <td>正向</td>
            <td>汤色很正，受泡</td>
            <td>[林湖]花样年 川红工夫</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>汤色红亮，涩口感觉很重，香气不突出，五泡后味道退的很快</td>
            <td>[太极道]养生茶</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>汤色明亮，口感还可n、。</td>
            <td>[祁野]明前特级祁红毛峰</td>
        </tr>
        <tr>
            <td>汤色还可以</td>
            <td>正向</td>
            <td>干茶外观好看，茶豪较多，但不是好出众的绿茶，香味平淡，带苦味，汤色还可以。</td>
            <td>[下关沱茶]松鹤延年 中国沱</td>
        </tr>
        <tr>
            <td>汤色漂亮</td>
            <td>正向</td>
            <td>不是很喜欢，但是很耐泡，汤色漂亮</td>
            <td>[跃华茶业]蒙顶山甘露</td>
        </tr>
        <tr>
            <td>汤色红浓</td>
            <td>正向</td>
            <td>干茶漂亮，芽头。汤色红浓，耐泡度适中。</td>
            <td>[腾临]白眉吐兰</td>
        </tr>
        <tr>
            <td>汤色红黄明亮</td>
            <td>正向</td>
            <td>汤色红黄明亮，醇和，入口较为顺滑，略带粗感。</td>
            <td>[大益]红韵圆茶</td>
        </tr>
        <tr>
            <td>汤色清澈明亮</td>
            <td>正向</td>
            <td>汤色清澈明亮，香气清高，板栗香浓郁，滋味鲜爽，略单薄，叶芽较嫩，但叶底颜色不均</td>
            <td>[陈升号]天韵 </td>
        </tr>
        <tr>
            <td>汤色金黄</td>
            <td>正向</td>
            <td>金骏眉的由来金骏眉最初由梁骏德先生于2005年在福建武夷山国家级自然保护区正山茶业有限公司创制，是一种采用桐木关内菜茶单芽制作的无烟熏名优红茶。后来由正山堂牵头制定了金骏眉的行业标准，其中关于金骏眉茶的定义是这样的：以武夷山市星村镇桐木村为中心的武夷山国家级自然保护区565平方公里内的高山茶树单芽为原料，采用萎凋、揉捻、发酵、干燥的独特工艺制作而成，具有“汤色金黄，汤中带甘，甘里透香”品质特征的红茶。￼但由于金骏眉在创制初期并没有注册商标，因此采用单芽制作的无松烟香红茶都可以叫做金骏眉。经过十几年的沉淀，如今流通的金骏眉基本形成四种风格——黄芽金骏眉、梅占金骏眉、菜茶金骏眉和桂圆味金骏眉。￼我们就这四种金骏眉一一做介绍，大家各取所需。黄芽金骏眉￼干茶基本上都是金黄色的芽头，紧结肥壮。似乎非常符合金骏眉似金色娥眉的概念。这类金骏眉多采用福云六号等多毫品种制作。福云六号是从福鼎大白茶和云南大叶种自然杂交后代中选育出的多毫品种，芽头肥壮，适制红、绿、白茶。所谓“毫”就是茶树鲜叶表面的绒毛。这些绒毛被红茶加工过程中天然产生的茶色素——茶黄素染成了金黄色。一款黄芽金俊眉，有暑香</td>
            <td>[一笑堂]特一级十二檀野茶六安瓜片</td>
        </tr>
        <tr>
            <td>汤色晶莹红亮</td>
            <td>正向</td>
            <td>一款中档的茶，汤色较为晶莹红亮，不暗沉晦涩，口感达到很好的柔滑醇厚状态，没有渥味，在发酵方面控制的很好，不足之处在于厚重感不足（或许我喝的是新茶），没有黏稠胶舌感，其次，香味不足，没任何香味，甜味不足，一直是一种淡淡的苦味，也就是说，除了汤色漂亮好入口无渥味，基本没其他优点（就新茶而言，后期转化还不知晓）</td>
            <td>[雅细]和谐</td>
        </tr>
        <tr>
            <td>汤色晶莹红亮</td>
            <td>正向</td>
            <td>一款中档的茶，汤色较为晶莹红亮，不暗沉晦涩，口感达到很好的柔滑醇厚状态，没有渥味，在发酵方面控制的很好，不足之处在于厚重感不足（或许我喝的是新茶），没有黏稠胶舌感，其次，香味不足，没任何香味，甜味不足，一直是一种淡淡的苦味，也就是说，除了汤色漂亮好入口无渥味，基本没其他优点（就新茶而言，后期转化还不知晓）</td>
            <td>[斗记茶业]巴达山饼茶</td>
        </tr>
        <tr>
            <td>汤色黄暗</td>
            <td>正向</td>
            <td>干茶乌褐，干枯无芽毫，香气低沉偏淡，汤色黄暗，滋味尚醇，苦涩味较重，无回甘，叶底黄绿，叶质硬。</td>
            <td>[天方]霍山黄芽</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>回甘还好，汤色清亮，蜜糖香气四溢！物有所值的一款不错的生茶。茶气稍弱。</td>
            <td>[鸿灵峰]六安瓜片</td>
        </tr>
        <tr>
            <td>汤色红浓尚亮</td>
            <td>正向</td>
            <td>干茶黑褐，较松，有金花，粗老有埂，汤色红浓尚亮。香气为陈香，饮后有金花香，较耐泡，叶底较粗老，有梗。</td>
            <td>[茗品堂]印象中国工夫红茶</td>
        </tr>
        <tr>
            <td>汤色干净不错</td>
            <td>正向</td>
            <td>一款名气很大，但品饮多次却极为失望的一款茶。汤色不错，很干净，转化较快。有果香天香，但是仔细分辨里面有杂味，最要命的是开汤有烟味。4-6泡有明显断裂感，整个品饮过程前半段苦，后半段出涩味，且涩感越来越重，5泡后铺满舌面，化的很慢。觉得拼配茶性非常不合，并无大家宣传的那样协调性高。尾段水甜还是有，但整体喝不到明显的喉深和水路，饱满度和叶底上也并未看出大树茶的特性。个人认为是小树拼配。之前有发过一次评论，可能说话太直没有通过。希望小编还是能让这个评论通过，茶语网不能全是溢美之词，还是需要真实的声音。本人还冲着名气购买了一饼尝试的，真的性价比极低，可能是15-16年整整一年喝过最差的茶了。</td>
            <td>[老台湾]1990武夷岩茶</td>
        </tr>
        <tr>
            <td>汤色漂亮</td>
            <td>正向</td>
            <td>看汤色还是很漂亮，但但喝起来有闷气，不是很喜欢。</td>
            <td>[吴裕泰]舞鹤红</td>
        </tr>
        <tr>
            <td>汤色黄绿</td>
            <td>正向</td>
            <td>干茶有花香但不够匀整，汤色黄绿但略浑浊，香气不显，回味有涩感，叶底有栗香</td>
            <td>[新建兴]白毫银针16325</td>
        </tr>
        <tr>
            <td>汤色黄绿</td>
            <td>正向</td>
            <td>干茶扁平较润，色泽黄绿，朴片、梗较多，汤色黄绿，香气较纯正，清香兼栗香，略低，持久度尚可，滋味尚浓醇，回甘较好，不耐冲泡。叶底叶片为主，有断碎，无芽头，颜色花杂。</td>
            <td>[重茶集团]巴南银针</td>
        </tr>
        <tr>
            <td>汤色红褐尚润</td>
            <td>正向</td>
            <td>干茶色泽红褐尚润。汤色红亮。香气纯正，有陈香，滋味醇和，带甜味，叶底油润明亮，匀整含梗。</td>
            <td>[同兴茶厂]百年古树</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>干茶卷曲曲呈螺旋状，匀净。炒火香较浓。茶汤香气很清淡，汤色清亮，滋味微苦无回甘，耐泡度很好。叶底软嫩黄绿。</td>
            <td>[中茶]桂花乌龙</td>
        </tr>
        <tr>
            <td>汤色浓郁</td>
            <td>正向</td>
            <td>汤色浓郁，干净。柚香明显。入口顺滑，糯香和柚味融合的非常好。但不耐冲泡，5泡后滋味寡淡</td>
            <td>[斗记茶业]上斗</td>
        </tr>
        <tr>
            <td>汤色黄</td>
            <td>正向</td>
            <td>干茶粗老，色泽清褐，汤色偏黄，有淡淡烟香，耐泡度不佳。</td>
            <td>[艺福堂]雨前西湖龙井</td>
        </tr>
        <tr>
            <td>汤色浓郁</td>
            <td>正向</td>
            <td>汤色浓郁，干净。柚香明显。入口顺滑，糯香和柚味融合的非常好。但不耐冲泡，5泡后滋味寡淡</td>
            <td>[广雅]珍藏青砖</td>
        </tr>
        <tr>
            <td>汤色清澈红亮</td>
            <td>正向</td>
            <td>汤色清澈红亮，滋味醇厚烟气显，耐泡度较差。</td>
            <td>[林博士]漳平水仙</td>
        </tr>
        <tr>
            <td>汤色尚好</td>
            <td>正向</td>
            <td>除了汤色尚好，别的都很差</td>
            <td>[六百里]太平猴魁 特级</td>
        </tr>
        <tr>
            <td>汤色橙红</td>
            <td>正向</td>
            <td>香气清淡，不高扬，汤色橙红，滋味淡薄，随便喝喝还好，汤色干净，没有明显的优点。</td>
            <td>[采花]宜红红茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>有一股木质香气，汤色黄亮</td>
            <td>[贵天下]一级都匀毛尖</td>
        </tr>
        <tr>
            <td>汤色不错</td>
            <td>正向</td>
            <td>我从喝见过如此低端的茶，有一股说不出的霉味！看其他评价，不知道是不是运气不佳，抽中了这一包，其他包还好的？优点是至少没加香精掩盖什么的，老实说味道勉强过关，干茶还行，汤色不错，但是气味真的诡异！:;(∩´﹏`∩);:好消息是：如果什么时候要做毁灭性实验，我会get它当材料！可喜可贺！</td>
            <td>[斗记茶业]柑白</td>
        </tr>
        <tr>
            <td>汤色红透亮</td>
            <td>正向</td>
            <td>干茶已退去青涩、汤色微红透亮、感觉陈化较快、飘逸的香气在杯中久久不愿离开、轻轻的涩感在两颊驻足、导致生津姗姗来迟，苦味在口中四处游荡、或许是我不够敏感、期待已久的回甘可能因为下雨而沒有出现。自古万事难得全、好也随缘、赖也随缘。</td>
            <td>[北岩]肉桂</td>
        </tr>
        <tr>
            <td>汤色清澈明亮</td>
            <td>正向</td>
            <td>棉布袋包装。汤色清澈明亮。香气茉莉过于浓郁，稍带苦。</td>
            <td>[新益号]大白芽</td>
        </tr>
        <tr>
            <td>汤色红</td>
            <td>正向</td>
            <td>条索细嫩，汤色红亮，茶汤有苦涩味，香气平平，可以考虑奶茶调兑法。</td>
            <td>[天香牌]天韵 九曲红梅</td>
        </tr>
        <tr>
            <td>汤色嫩绿清澈明亮</td>
            <td>正向</td>
            <td>汤色嫩绿清澈明亮，香气浓郁高远，口感甘醇，经久耐泡。</td>
            <td>[张元记]白牡丹7880</td>
        </tr>
        <tr>
            <td>汤色明亮绿黄</td>
            <td>正向</td>
            <td>干茶色泽，墨绿匀齐，汤色绿黄明亮，香气兰花香明显，滋味甘醇，有涩感，回甘较弱，叶质较薄，无弹性。</td>
            <td>[归里]古树嫩芽</td>
        </tr>
        <tr>
            <td>汤色清澈红黄</td>
            <td>正向</td>
            <td>干茶原料粗老，松紧适度，含梗，带金花，香气平和，汤色清澈红黄，滋味醇和顺滑，叶底暗褐，粗老含梗。</td>
            <td>[澜沧古茶]茉莉红茶</td>
        </tr>
        <tr>
            <td>汤色浓</td>
            <td>正向</td>
            <td>干茶较碎但陈皮味较浓，香味一般，有果味但没茶味，汤色较浓，滋味一般，略苦而茶味与果味不足，叶底一般，不算完整</td>
            <td>[白韵]政和茉莉银针</td>
        </tr>
        <tr>
            <td>汤色漂亮</td>
            <td>正向</td>
            <td>汤色漂亮，滋味厚重</td>
            <td>[猴坑茶业]特级 太平猴魁</td>
        </tr>
        <tr>
            <td>汤色浓黄</td>
            <td>正向</td>
            <td>干茶稍卷曲，色泽花杂，汤色黄浓，香气花香，滋味较厚，有涩感。叶底暗绿，叶片薄硬，无弹性。</td>
            <td>[普香缘]十里醇香</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶茶形紧细，暗绿泛褐带白毫。汤色黄亮。气味，花香浓郁，稍带闷气。滋味微涩，叶底黄绿，带碎片。</td>
            <td>[椰仙]五指山水满香红茶</td>
        </tr>
        <tr>
            <td>汤色浅黄</td>
            <td>正向</td>
            <td>干茶相对较完整，更接近散茶，开袋茶香袭人，以97度开水，投茶6g，150ml壶泡，第一水，汤色浅黄，洗过一次的茶出现明显的生铁气，第二水充分温茶，汤色金黄，生铁气味转为蜜香，入口微甜苦涩重，化开慢，口腔后有回甘，略锁喉，未出现水线.5水后水气明显，香气褪得较快，回甘微弱，无水线，活性较一般。叶底多梗，原料等级不高，树龄不够，叶底脉达边缘，微弱弹性！口粮茶，不推荐长期储存，转化空间不大</td>
            <td>[谁家院]奇丹</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶条索匀整，色泽略有不均。汤色红亮，无浑浊。陈味明显，无香气，口感带苦涩，</td>
            <td>[老台湾]红玉</td>
        </tr>
        <tr>
            <td>汤色黄绿亮</td>
            <td>正向</td>
            <td>干茶芽头肥壮紧实略显毫，均整洁净，色泽灰绿光润，汤色黄绿亮，叶底肥嫩均明亮，鲜爽度不高，涩感明显化开较慢，耐泡度不够。</td>
            <td>[庆芸茶业]悦·有味浓香型铁观音</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>汤色明亮，入口微甜，叶底表现较好。总体上中规中矩，比较一般的熟普。</td>
            <td>[沁醇阁]凤凰单枞茶杏仁香</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>这款白茶外形芽叶连枝、满披白毫、叶缘垂卷，平展。叶面呈暗紫色，背面铁灰绿。干茶带有淡淡木质香。开汤冲泡，汤色黄亮，盖香带略微毫香和木质香。茶汤入口顺滑，润喉。淡淡的甜味带木质味，中期茶汤醇和，后期慢慢转淡，苦涩显，有回甘生津。耐泡度一般，叶底肥壮较硬，匀齐。整体茶香不够明显，茶汤滋味平淡。</td>
            <td>[吉普号]大雪山</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>香气平和，汤色清亮，比较均衡，尾水有酸味，推荐一下。</td>
            <td>[漫步]老君眉</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶棕褐，有碎末老梗，汤色黄亮，香气陈香，滋味，有甜味，不耐泡。叶底粗老梗多，有细碎茶。</td>
            <td>[明伦茶业]巧克力型临湘黑茶</td>
        </tr>
        <tr>
            <td>汤色清</td>
            <td>正向</td>
            <td>个人喜欢口感清淡的，滇绿总体来说是款性价比较高的茶，汤色清，落口稍有点涩，口重的可以选！</td>
            <td>[柏联]和顺普洱茶熟茶</td>
        </tr>
        <tr>
            <td>汤色还不错</td>
            <td>正向</td>
            <td>汤色还不错，味道一般，茶香不是很好</td>
            <td>[林博士]陈年铁观音</td>
        </tr>
        <tr>
            <td>汤色明亮浅黄</td>
            <td>正向</td>
            <td>110cc盖碗投茶6克左右，温杯洗茶后，开水即冲即出。汤色浅黄明亮，花香浓郁，带有一丝甜气，火味较低，滋味醇爽，生津回甘，耐冲泡，汤香浓郁。</td>
            <td>[林湖]特级红茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>寄来的是14年贡眉，干茶较松，颜色油亮，冲泡后香气不显，汤色黄亮，入口后有少少发酸，总体回味较浅，滋味偏轻。</td>
            <td>[茗抱春]特一级霍山黄芽</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶松紧适中，条索肥壮，汤色黄亮，香气纯正持久。滋味醇和甜润，苦涩刺激比较明显，有回甘。叶底柔软，多老梗。</td>
            <td>[青城]青城山雪竹</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>汤色明亮，口感香甜，干茶有点太碎了</td>
            <td>[正山堂]元正红茶</td>
        </tr>
        <tr>
            <td>汤色好</td>
            <td>正向</td>
            <td>叶底较碎，汤色较好，香味及滋味一般，干茶较碎</td>
            <td>[品品香]老白茶 十二年陈韵</td>
        </tr>
        <tr>
            <td>汤色通透明亮</td>
            <td>正向</td>
            <td>干茶：条索较为紧细，几乎没有金毫。色泽呈乌褐色，尚油润。较为匀整。品级高的坦洋工夫金毫显露，此款茶相比外形较为欠缺。；干茶条索清晰茶色乌黑，投茶一泡，20ML玻璃泡茶器，沸水泡饮，汤色通透明亮，香型似焦糖香，茶汤入口甘爽，前几泡有苦意一闪，7泡余香，一人独饮10泡。根据内包装标注和整体表现，个人认为二级凝红是合适的。出汤时间记录如下：1泡4秒，以后每泡加4秒至6泡为24秒，7泡30秒，8泡45秒，9泡65秒，10泡未计时，约2分钟以上。</td>
            <td>[村芳]茶王</td>
        </tr>
        <tr>
            <td>汤色红浓</td>
            <td>正向</td>
            <td>汤色红浓，有香气，甜度欠，耐泡，顺滑，醇厚，一款不错的熟普。</td>
            <td>[珍田阁]清新铁观音</td>
        </tr>
        <tr>
            <td>汤色杏黄</td>
            <td>正向</td>
            <td>汤色杏黄</td>
            <td>[重茶集团]巴南银针</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶黄绿，嫩润显毫，香气，微带花香，汤色黄亮，滋味醇和鲜甜，有回甘。叶底肥嫩匀齐。</td>
            <td>[怡清源]安化黑茶精品茯砖</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>初看此茶，和1401的红金斗似乎差别不大，都是黑褐色的干茶，略微一点点的茶香，并不明显。泡开之后，方知差异。汤色明亮而黄，略带涩味，大概还没转化到位，香气稍显，是花果香。泡了10道有余，还是很耐泡，叶底略显得有点碎，但不知是开茶的因素，还是本身这样碎？叶底晾干后偏黄，给人还是年头不足的新茶感。像个孩子。本身还可以，但是还没长成，故而有这样或那样的不足。但来日还是可期待的：）</td>
            <td>[美安雅]特级蒙顶黄芽</td>
        </tr>
        <tr>
            <td>汤色可以</td>
            <td>正向</td>
            <td>这是一款头几泡香气和汤色都可以的红茶，只是不太耐泡。作为旅行来说喜欢红茶的可以备几泡。</td>
            <td>[天城香]特级遵义红</td>
        </tr>
        <tr>
            <td>汤色红明亮泽</td>
            <td>正向</td>
            <td>干茶：条索紧卷，乌润显金毫。汤色：汤色红明亮泽。香气：甜香浓郁，稍带酸酵气。滋味：甜醇尚厚。叶底：红匀明亮。</td>
            <td>[望海茶]一级望海茶</td>
        </tr>
        <tr>
            <td>汤色红而明亮</td>
            <td>正向</td>
            <td>汤色红而明亮，有菌香和回甘，六堡喝得多了，这款如果让我选，可能都不能当口粮喝，原料差了点，都是渣渣压成砖的。：（</td>
            <td>[天威德成]云集</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>汤色明亮，气味是陈香，滋味醇厚稍有回甘</td>
            <td>[石牌]精装石牌红茶</td>
        </tr>
        <tr>
            <td>汤色红鲜</td>
            <td>正向</td>
            <td>芽叶肥壮，金毫显露，汤色红鲜，滋味浓烈，香气馥郁。</td>
            <td>[沛福堂]霍山黄芽</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>干茶：外形干茶呈褐绿色稍深，叶色正常芽毫较显，尚油润，尚匀整。；优点：汤感清爽，汤色清亮缺点：香气稍欠总结：一款中规中矩的生普</td>
            <td>[政名]白牡丹</td>
        </tr>
        <tr>
            <td>汤色脆绿</td>
            <td>正向</td>
            <td>干茶均整，汤色脆绿，但鲜爽一般，香气一般；以黄山毛峰为滋味标准10分，这款云雾是6分</td>
            <td>[跃华茶业]竹叶尖</td>
        </tr>
        <tr>
            <td>橙黄明亮</td>
            <td>正向</td>
            <td>甜花香芬芳，汤色橙黄明亮，澄清度略差，爽口度厚度尚可，清甜，苦涩若会略留舌，饱满度不足，叶底墨绿柔软。</td>
            <td>[川红集团]红贵人红茶</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>红茶汤色红亮，茶香四溢，滋味爽口，但持久性差一些。</td>
            <td>[大明山]明山六堡茶</td>
        </tr>
        <tr>
            <td>汤色橙黄明亮</td>
            <td>正向</td>
            <td>干茶：这款是螺状滇红，干茶大部分乌褐暗淡，零星分布有金色毫毛，置于杯中，有类似甘草的香味。；干茶外形弯曲近似颗粒，乌尚润，显金毫，尚均整。汤色橙黄明亮带金圈，香气甜鲜持久带烟味，滋味甜和。叶底成古铜色，略显花杂，尚均整。</td>
            <td>[土林凤凰]十年经典凤凰香饼</td>
        </tr>
        <tr>
            <td>汤色金黄</td>
            <td>正向</td>
            <td>干茶呈饼状，紧结，墨绿色与白毫交错明显，均整均净，带有少量红黄梗，淡淡的生茶气。出汤茶气很重，花果香高扬，汤色金黄，清澈干净，入口甘苦，慢慢化开，回甜。叶底黄绿色，脉路清晰，叶面厚实。</td>
            <td>[八马]品韵茉莉花</td>
        </tr>
        <tr>
            <td>汤色漂亮</td>
            <td>正向</td>
            <td>干茶：这款是螺状滇红，干茶大部分乌褐暗淡，零星分布有金色毫毛，置于杯中，有类似甘草的香味。；用盖碗冲泡，香气留在碗中久久不会散去，淡淡的花果香在口中弥留，这是这款红茶带给我的最大的惊喜。汤色呈琥珀色，相当漂亮。</td>
            <td>[德鸣堂]无量古树生茶</td>
        </tr>
        <tr>
            <td>汤色深红</td>
            <td>正向</td>
            <td>汤色深红，干茶有陈香，喝起来口感顺滑。缺点是汤体厚度不够，喝起来会有一些“水味”，水含香也比较一般。整个茶滋味平平，没有什么突出的亮点。</td>
            <td>[San-Cha]总统茶</td>
        </tr>
        <tr>
            <td>汤色红</td>
            <td>正向</td>
            <td>不过不失，汤色红，滋味尚可。</td>
            <td>[亲稀源]一级恩施玉露</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶色泽黑褐，原料粗老，汤色红亮，香气陈香带药香，滋味醇和，耐泡。叶底黑褐粗老，茶梗较多。</td>
            <td>[风华]永春佛手茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶，青褐为主，有茶梗，欠油润，汤色黄亮。香气兰花香，滋味醇厚，比较的耐泡。叶底均匀明亮，质地柔软有弹性。。</td>
            <td>[绿月]岳西翠兰</td>
        </tr>
        <tr>
            <td>汤色清亮橙黄</td>
            <td>正向</td>
            <td>干茶乌润，叶片紧实细碎，汤色橙黄清亮，柚子香明显，滋味甘醇柔和，叶底色泽乌润，较硬。</td>
            <td>[蝠牌]一级黄芽</td>
        </tr>
        <tr>
            <td>汤色好</td>
            <td>正向</td>
            <td>干茶形较整，汤色较好，香气不浓，滋味涩，不容易化开。这茶在安徽的价格应该在150左右一斤</td>
            <td>[猴坑茶业]太平猴魁1915 特级国礼</td>
        </tr>
        <tr>
            <td>汤色明亮橙黄</td>
            <td>正向</td>
            <td>干茶乌褐油润，条索卷曲，含茶梗，香气高火香，浓郁持久，汤色橙黄明亮，滋味醇和顺滑，耐泡性好，叶底叶色花杂，叶质较硬。</td>
            <td>[永泰福记]古茶市华茶园手筑茯茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>压的较松，显芽豪，汤色黄亮，明显花果香，回甘迅速，叶底黄绿，嫩匀，耐泡度一般</td>
            <td>[乾红]早春茶6800</td>
        </tr>
        <tr>
            <td>汤色明艳</td>
            <td>正向</td>
            <td>干茶：这款是螺状滇红，干茶大部分乌褐暗淡，零星分布有金色毫毛，置于杯中，有类似甘草的香味。；汤色明艳，口感甘甜</td>
            <td>[白韵]白毫银针壹号</td>
        </tr>
        <tr>
            <td>汤色浓</td>
            <td>正向</td>
            <td>该款熟茶色泽红润，汤色深浓，滋味糯滑，水香不显，不足茶底欠活。</td>
            <td>[依农山家]书香漳平水仙</td>
        </tr>
        <tr>
            <td>汤色绿黄明亮</td>
            <td>正向</td>
            <td>1501大斗:干茶：粗壮芽显，无明显黄片，色泽墨绿润泽，饼型端正，松紧适中。汤色：绿黄明亮，泡至第五泡汤色浓度和透亮度一直不减。香气主香是较高的蜜香，带花香和果香，杯底蜜香持久。茶汤较浓，入口苦味较明显，能快速化开，转为清新甘甜感觉。明显涩感铺满口腔，舌面前段的涩化得较慢，生津较快但不明显。饮后口腔前段蜜甜香持久、口感甘甜，整体协调性较好。喝过2010年的此茶，转化后更加浓郁柔和，冰糖韵足。叶底：绿黄尚嫩较柔，肥厚，匀整。</td>
            <td>[林生茶]一级林生婺红</td>
        </tr>
        <tr>
            <td>汤色黄绿</td>
            <td>正向</td>
            <td>干茶美观，汤色黄绿，香气味道尚可</td>
            <td>[利源隆]天尖茶</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>干茶清香。汤色清亮，甜爽生津，浓郁香味持久。耐泡。</td>
            <td>[扬波]明前霍山黄芽</td>
        </tr>
        <tr>
            <td>汤色正</td>
            <td>正向</td>
            <td>茶质并不十分好，干茶绵软，但香气尚可，汤色较正，滋味也不算上佳，水温稍高时涩感明显。叶底不是很有弹性。</td>
            <td>[遵义红]遵义红红茶</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶红褐，细小紧结，汤色红亮，口感不错，叶底完整。</td>
            <td>[华祥苑]金凤凰 清香 铁观音</td>
        </tr>
        <tr>
            <td>汤色黄绿亮</td>
            <td>正向</td>
            <td>干茶芽头肥壮紧实略显毫，均整洁净，色泽灰绿光润，汤色黄绿亮，叶底肥嫩均明亮，鲜爽度不高，涩感明显化开较慢，耐泡度不够。</td>
            <td>[陈升福元昌]传世·红票</td>
        </tr>
        <tr>
            <td>汤色漂亮</td>
            <td>正向</td>
            <td>或许是第一次喝，不喜欢这个味道，不过汤色很漂亮。</td>
            <td>[祁香]特级红毛峰</td>
        </tr>
        <tr>
            <td>汤色干净透亮</td>
            <td>正向</td>
            <td>袋泡茶还是做的不错，香味纯正，汤色也比较干净透亮，还可以。</td>
            <td>[博友]十周年纪念饼</td>
        </tr>
        <tr>
            <td>汤色红浓透亮</td>
            <td>正向</td>
            <td>汤色红浓透亮，香气尚可，滋味平淡回甘慢，叶底尚可</td>
            <td>[吴裕泰]裕泰香茉莉花魁</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶芽叶肥硕，有梗显毫，汤色黄亮。香气为高扬花香，滋味厚重，耐泡，富于变化，回甘生津持久。叶底肥硕，叶片柔软有活性，略有红梗。</td>
            <td>[老舍茶馆]茉莉花茶</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>叶片不勻整，汤色红亮但不够透，喝起来确实有米汤感</td>
            <td>[陈升号]巴达山</td>
        </tr>
        <tr>
            <td>汤色漂亮</td>
            <td>正向</td>
            <td>整体还是中规中矩。滋味略有些青气，蜜香足，汤色泡出来也挺漂亮，叶底色泽均匀。</td>
            <td>[湘丰]太祖春毛尖</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>独树一帜的大叶片绿茶，汤色清亮，青草气息，入口微苦微涩，进而转甜润。</td>
            <td>[茗品堂]金丝猴政和工夫红茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>汤色黄亮，入口甜润，有甜果香，回甜明显，留香为甜花香。</td>
            <td>[五朝品茗]半天妖</td>
        </tr>
        <tr>
            <td>汤色清澈黄亮</td>
            <td>正向</td>
            <td>茶叶粗老，汤色清澈黄亮，薯香明显，入口涩，汤感不细腻柔软。</td>
            <td>[千回]福鼎白茶 白毫银针</td>
        </tr>
        <tr>
            <td>汤色黄红清澈</td>
            <td>正向</td>
            <td>干茶条索紧细，色泽乌褐油润。汤色黄红清澈。香气桂圆香浓郁，滋味甜醇，不耐泡。叶底褐红油润，有细梗。</td>
            <td>[中茶]中茶窖藏六堡茶5105</td>
        </tr>
        <tr>
            <td>汤色醇厚</td>
            <td>正向</td>
            <td>干茶细碎，汤色红亮醇厚，略有堆味，甜度不足苦味明显且停留时间长，总体一般</td>
            <td>[蒙家桥]珍品都匀毛尖</td>
        </tr>
        <tr>
            <td>汤色清澈</td>
            <td>正向</td>
            <td>茶汤橙黄，汤色清澈，略有苦涩，有回甘</td>
            <td>[东卓茶业]珠玑</td>
        </tr>
        <tr>
            <td>汤色鲜亮</td>
            <td>正向</td>
            <td>耐泡，汤色鲜亮，值得购买</td>
            <td>[中茶]中茶窖藏六堡茶5105</td>
        </tr>
        <tr>
            <td>汤色明亮金黄</td>
            <td>正向</td>
            <td>这次试的其实是1401，没有找到1401的茶评条目，权且放到1601这里来吧！干茶褐绿色,白毫尚显，饼形紧实。汤色金黄明亮。茶汤协调度较好，汤感较为稠润，苦味相对突出，回甘较明显。青梅香较饱满，水、香融合度好。茶汤总体滋味稳定，数泡之后香气、稠润度不减，耐泡度较好。茶汤苦涩感明显，苦味尤重，化开较慢，生津明显，回甘较慢。叶底柔韧，呈绿褐色，叶片部分泛红，欠匀整度。</td>
            <td>[三江红]蜜香金骏眉</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>汤色清亮好看，但香气不足，入口较为涩，而且没多少茶味道，比想象中差了很多。包装设计倒还小巧</td>
            <td>[岳王]一级霍山黄芽</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>汤色清亮，回甘明显，有涩味。断叶片。</td>
            <td>[大绿园]陈香六堡茶</td>
        </tr>
        <tr>
            <td>汤色清澈</td>
            <td>正向</td>
            <td>首先是叶底比较完整，汤色清澈透明，白毫显露，茉莉花香气表现一般</td>
            <td>[华祥苑]金凤凰 浓香 铁观音</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>汤色清亮，先苦后涩，回甘生津，但涩久久不化，香气一般，层次丰富，饮后发汗</td>
            <td>[垣埂]都匀毛尖</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶条索，紧细匀整，色泽乌润，弯曲，含零星金毫。香气有焦糖香且较为浓郁，汤色红亮，滋味醇和，无苦涩味，甜度尚好，叶底红褐油润，有细茎。</td>
            <td>[张一元]柚子香针</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>云南白药集团搞出来的一个东西，厂名虽然叫凤庆茶厂，但是和大名鼎鼎的凤牌红茶并没有什么关系，这款创典1958更没法和凤牌的经典58相比。干茶紧结，黑而不亮，有金毫，干嗅有果香。汤色明亮，由深红逐渐过渡到橙黄，前段茶汤微带果香，逐渐减弱直至消失。轻苦中涩强酸，不甜。这款茶多数时候的表现和一些几十元一斤的低档茶似乎没什么区别。</td>
            <td>[中茗]六堡茶</td>
        </tr>
        <tr>
            <td>汤色好看</td>
            <td>正向</td>
            <td>滋味有点青叶味，汤色好看</td>
            <td>[九唐]上品缘金骏眉</td>
        </tr>
        <tr>
            <td>汤色清澈浅黄</td>
            <td>正向</td>
            <td>汤色浅黄，清澈透亮，有回甘，略有清香和苦涩</td>
            <td>[澜沧古茶]邦崴熟茶</td>
        </tr>
        <tr>
            <td>汤色正</td>
            <td>正向</td>
            <td>茶质并不十分好，干茶绵软，但香气尚可，汤色较正，滋味也不算上佳，水温稍高时涩感明显。叶底不是很有弹性。</td>
            <td>[一品天香]湄潭翠芽</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>带有山野气息的一款茶。汤色黄亮，苦涩有度，汤感稠滑。叶底欠佳，有糊点。</td>
            <td>[龙润]春晖有机金饼</td>
        </tr>
        <tr>
            <td>汤色红浓厚重</td>
            <td>正向</td>
            <td>汤色红浓厚重，香气比较淡，滋味一般，去年买的这款袋泡茶，味道不是特别好，感觉不如以前了。。。。</td>
            <td>[猴岗]一级太平猴魁</td>
        </tr>
        <tr>
            <td>汤色明亮浅黄</td>
            <td>正向</td>
            <td>干茶较肥壮，挺拔，汤色明亮浅黄，茶汤厚度一般，滋味甜滑，香气较明显。</td>
            <td>[蒙露]明前特级蒙顶甘露头采高山茶 </td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶棕褐，叶片粗老，汤色红亮。香气陈香纯正，茶汤滋味、醇和甘甜，叶底暗褐粗老。</td>
            <td>[福康韵]黄金桂</td>
        </tr>
        <tr>
            <td>汤色清澈黄亮</td>
            <td>正向</td>
            <td>干茶条索紧细，黄绿匀整。香气甜熟持久，汤色黄亮清澈。滋味鲜爽甘醇，回甘明显，耐泡性好。叶底嫩绿黄，柔软有光泽。</td>
            <td>[斗记茶业]云白甜</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>茶叶有杂质，汤色红亮，入口顺滑，香气稍弱，酸馊味较浓，化开慢，比较耐泡。</td>
            <td>[碧螺]碧螺春特一级</td>
        </tr>
        <tr>
            <td>汤色黄绿</td>
            <td>正向</td>
            <td>取茶3克，150毫升的玻璃杯，水温85度。干茶：外形纤细卷曲，颜色墨绿略陈暗（可能是存放时间已久的缘故），碎断较多，有欠匀整（不知是不是茶样的原因）。浸润泡时间30秒，入水1/3玻璃杯。第一泡：入水至七成满，浸泡时间1分钟。汤色黄绿，清透，无毫；栗香明显，并不高扬，无杂味；茶汤软糯，鲜爽度较低（可能是存放时间的缘故），略苦，可化，回甘较慢。第二泡：入水至七成满，浸泡时间1分钟。汤色黄绿，清透，无毫；仍有栗香；茶汤软糯，鲜爽，回甘迅速，生津持久，无苦无涩，口腔舒适。第三泡：入水至七成满，浸泡时间1分半钟。汤色黄绿，清透，无毫；仍有栗香；茶汤转淡，滋味转薄，仍有鲜爽，回甘持续，生津持续，口腔舒适。 叶底：碎断不匀，均为细芽，柔软有弹性，颜色新鲜。 </td>
            <td>[君点茶叶]白毫银针</td>
        </tr>
        <tr>
            <td>汤色薄</td>
            <td>正向</td>
            <td>干茶黄绿有毫，条索细紧；茶汤汤色黄绿，淡淡清香，有回甘，但汤感薄；叶底黄绿，大小不匀，有较多碎片且带茶梗。</td>
            <td>[武夷星]九坪水仙</td>
        </tr>
        <tr>
            <td>汤色清澈黄绿</td>
            <td>正向</td>
            <td>干茶黄绿扁平大小不一；汤色黄绿清澈；香气高浓；滋味醇和，有苦涩味；叶底以嫩叶为主，少许老叶，也有少许嫩芽。</td>
            <td>[瑞聘号]柑普茶</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>干茶条索紧结，黑褐色；香气不清爽，略带烟味，滋味两冲后带有甜香；汤色澄黄明亮，微苦微涩；茶底杂，尚软匀</td>
            <td>[峨眉雪芽]峨眉雪芽.金峨红慧欣</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>汤色黄亮，清香较高扬，茶汤苦涩强，能较快化开，有回甘生津。</td>
            <td>[汪裕泰]金山时雨</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>茶饼松紧适中，色泽红褐，汤色明亮，滋味醇厚，叶底尚匀整。</td>
            <td>[焱尧]焱尧康茶</td>
        </tr>
        <tr>
            <td>汤色黄绿明亮</td>
            <td>正向</td>
            <td>干茶：条形肥壮饱满，毫峰显露，白毫显现，黄白相间，外形秀美，开汤后茶芽，条条挺立，上下交错，香气浓郁，持久，鲜醇爽口，汤色黄绿明亮，叶底匀嫩晶绿。</td>
            <td>[安泰桥]白毫银针</td>
        </tr>
        <tr>
            <td>汤色红艳</td>
            <td>正向</td>
            <td>干茶紧结略带金芽，汤色红艳，滋味前几泡略苦，回甘较慢，滋味较醇。后面口感的转化还不，拼配的不错。叶底来看这茶的含梗量较多，选料一般。但还好这茶的价格不贵，我记得是30.40块一饼，当入门茶是个不错的选择，没必要买7572。</td>
            <td>[迎客松]特级太平猴魁</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>干茶紧细乌润，有柠檬干。香气兼含柠檬的清酸果香和红茶的馥郁高远，汤色红艳明亮。茶汤酸甜协调，舒爽。</td>
            <td>[老台湾]日月潭红茶</td>
        </tr>
        <tr>
            <td>汤色清纯</td>
            <td>正向</td>
            <td>干茶黑绿色紧实，汤色清纯，香气高，不过不持久，滋味清淡，不耐泡，叶底叶片为主。</td>
            <td>[西山]碧螺红茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>这是紧压成块状的水仙，汤色亮黄，有清香，花香，山韵较弱。滋味鲜爽甜润，入口稍有涩感，有回甘生津。叶底柔软匀整，有红边。</td>
            <td>[楼中小阁]君正饮2008年那卡熟茶</td>
        </tr>
        <tr>
            <td>汤色明黄透亮</td>
            <td>正向</td>
            <td>汤色明黄透亮，茶汤苦涩感轻，回甘生津不错。</td>
            <td>[ST. Clair’s]Black Tea</td>
        </tr>
        <tr>
            <td>汤色浅黄</td>
            <td>正向</td>
            <td>6克小包装，干茶深褐色，略显粗松，有铁观音标志性的蛤蟆腿和蜻蜓头，夹杂有茶梗，外形看起来确实像十来年前的茶。汤色浅黄，后期微微发棕，茶底有明显的酸梅韵，茶汤口感较为清甜，微带火香，醇、厚皆弱，茶香朦胧，水味重，四泡后只有酸涩，几无茶味。工艺似乎挺好，但茶质有够单薄。</td>
            <td>[婺牌]婺源剑锋特级</td>
        </tr>
        <tr>
            <td>汤色橙黄</td>
            <td>正向</td>
            <td>干茶乌褐，略油润，汤色橙黄，香气有陈味，口感醇厚，有涩感，叶底较硬，比较完整。</td>
            <td>[大明山]金六堡茶</td>
        </tr>
        <tr>
            <td>汤色黄绿亮</td>
            <td>正向</td>
            <td>干茶芽头肥壮紧实略显毫，均整洁净，色泽灰绿光润，汤色黄绿亮，叶底肥嫩均明亮，鲜爽度不高，涩感明显化开较慢，耐泡度不够。</td>
            <td>[蒙顿]班章贺岁</td>
        </tr>
        <tr>
            <td>汤色黄绿亮</td>
            <td>正向</td>
            <td>干茶芽头肥壮紧实略显毫，均整洁净，色泽灰绿光润，汤色黄绿亮，叶底肥嫩均明亮，鲜爽度不高，涩感明显化开较慢，耐泡度不够。</td>
            <td>[骏德]银骏眉</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶香味足，汤色黄亮，香气微甜，滋味浓；茶汤口感略有涩味，而后入口逐渐化开转为甜味，是云南喝的茶那种味道，涩感更少，和1401比感觉更好</td>
            <td>[萧氏茶叶]萧氏毛尖</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶很细，汤色红亮，叶底光泽度不错，滋味一般。可能一直喝的大益熟普，其他熟普多多少少会对比一下，我一直想买大益的宫廷普洱，茶语网什么时候也能些大益的确认茶，我挺喜欢</td>
            <td>[浪竹]香珠玉叶 锌硒有机茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶紧结墨绿，有毫，清淡花果香，汤色黄亮，香气较扬，滋味鲜爽，回甘生津，苦涩能化开，涩化较慢，耐泡性一般，叶底黄绿带红，尚匀净，还行吧！</td>
            <td>[茗乾号]普洱熟茶膏</td>
        </tr>
        <tr>
            <td>汤色清淡</td>
            <td>正向</td>
            <td>汤色清淡，口感醇滑，茶叶结实略带白毫</td>
            <td>[梅府茗家]开化龙顶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶香味足，汤色黄亮，香气微甜，滋味浓；茶汤口感略有涩味，而后入口逐渐化开转为甜味，是云南喝的茶那种味道，涩感更少</td>
            <td>[善觉]炭焙珍品浓香大红袍</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>干茶松紧度一致，汤色金黄较明亮，气味有陈香感，回甘一般，总体一般。</td>
            <td>[祥福春]一级雨花茶</td>
        </tr>
        <tr>
            <td>汤色浓郁</td>
            <td>正向</td>
            <td>干茶黑褐色有金花，紧实；汤色黄褐色清澈；有茯茶特有的香气，不过不浓，不够香；茶汤不够浓郁，偏淡；叶底大，软有梗。</td>
            <td>[茶博士家]苦甘露</td>
        </tr>
        <tr>
            <td>汤色清透</td>
            <td>正向</td>
            <td>袋泡茶粉，外出携带应该是比较方便。开泡汤色清透，感觉茶气茶味淡薄，毕竟不是今年新茶，少了绿茶的鲜爽。</td>
            <td>[粤北行]英红九号</td>
        </tr>
        <tr>
            <td>汤色干净</td>
            <td>正向</td>
            <td>干茶毫显但不明，汤色干净，透亮，生津，回甘是很理想，但作口粮茶还是上上之选</td>
            <td>[澜沧江]原生普洱茶0512</td>
        </tr>
        <tr>
            <td>汤色漂亮</td>
            <td>正向</td>
            <td>口感滋味一般，汤色漂亮。</td>
            <td>[南茶堂]2005年白毫银针</td>
        </tr>
        <tr>
            <td>汤色好</td>
            <td>正向</td>
            <td>叶底和干茶比较完整，香味一般，汤色较好，滋味一般，整体感觉一般</td>
            <td>[显然堂]管阳镇·白毫银针</td>
        </tr>
        <tr>
            <td>汤色橙黄</td>
            <td>正向</td>
            <td>干茶乌褐，略油润，汤色橙黄，口感醇厚，有涩感，叶底较完整。</td>
            <td>[雾庄玉叶]都匀毛尖</td>
        </tr>
        <tr>
            <td>汤色清爽</td>
            <td>正向</td>
            <td>汤色清爽，香气幽静，淡淡花香的滋味，韵稍不足。</td>
            <td>[湄潭翠芽]明前湄潭翠芽茶</td>
        </tr>
        <tr>
            <td>汤色清淡</td>
            <td>正向</td>
            <td>干茶粗大，汤色清淡，香气适宜，口感一般，叶底厚实</td>
            <td>[岁月知味]易道</td>
        </tr>
        <tr>
            <td>汤色好</td>
            <td>正向</td>
            <td>外形表现虽平常，汤色较好，协调性较好，耐泡度适中。</td>
            <td>[艺福堂]特级茉莉龙珠</td>
        </tr>
        <tr>
            <td>汤色鲜亮</td>
            <td>正向</td>
            <td>汤色鲜亮，香气好闻，不耐泡</td>
            <td>[大益]7262七子饼茶</td>
        </tr>
        <tr>
            <td>汤色浅黄微绿</td>
            <td>正向</td>
            <td>在天福的产品中算是比较价廉的品种。外形较不均匀，包含嫩芽、大小不一的叶片、碎茶、少量茶梗和红变叶。汤色浅黄微绿，刚一入口就觉得很奇怪，与之前买过的一款勐库大叶种普洱散茶十分相似，都有一股几乎一模一样的青味。不难喝，苦涩度低，滋味平顺，尚鲜活，但到后面涩会慢慢出来。似乎是云南的产品，不太像是毛峰。</td>
            <td>[恩茗茶叶]黑龙潭纯手工纯芽毛尖</td>
        </tr>
        <tr>
            <td>汤色清新优雅</td>
            <td>正向</td>
            <td>这款茶香气卓越，汤色清新优雅，略有涩味，回甘生津，是不错的一款茶。</td>
            <td>[天英]晚甘侯</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>干茶色泽褐绿，汤色清亮，有回甘～一般般～～～～</td>
            <td>[焱尧]焱尧康砖</td>
        </tr>
        <tr>
            <td>汤色橙黄透亮</td>
            <td>正向</td>
            <td>滤袋完整，滤孔均匀，汤色橙黄透亮，茶汤顺滑，有涩感，回甘迅速。</td>
            <td>[胡公子Mr.Hu]大漠烟桂花乌龙</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶灰绿，条索较完整。冲泡后汤色黄亮，有豆香，后味有青气。</td>
            <td>[青青子衿]天顺班卡</td>
        </tr>
        <tr>
            <td>汤色清澈透亮</td>
            <td>正向</td>
            <td>干茶扁平花杂，匀整度欠佳。汤色清澈透亮，香气平正，炒豆香明显。茶汤醇和，回甘明显，带有青气。叶底花杂破碎，叶质还较厚实。</td>
            <td>[承兴德]老火耐泡霍山黄芽</td>
        </tr>
        <tr>
            <td>汤色醇和</td>
            <td>正向</td>
            <td>盖碗冲泡，洗茶一遍。总体感受：干茶黑褐带黄绿色，梗明显，金花明显。汤色醇和，入口微苦，不涩，回甘稍慢，陈香明显，透亮度稍欠。叶底深绿和黄绿为主色，梗明显。</td>
            <td>[营青]日照绿茶</td>
        </tr>
        <tr>
            <td>汤色黄绿清亮</td>
            <td>正向</td>
            <td>色泽嫩绿油润，汤色黄绿清亮，叶底浅绿匀嫩</td>
            <td>[Fauchon馥颂]伯爵茶</td>
        </tr>
        <tr>
            <td>汤色清澈明亮</td>
            <td>正向</td>
            <td>干茶:条索分明，松紧适中，显毫，清香。汤色:汤色清澈明亮。叶底:较嫩，有弹性，较匀称。香气:淡雅，有迷人的香气。口感:有回甘，回甘持久。</td>
            <td>[甘霖茶业]白牡丹 </td>
        </tr>
        <tr>
            <td>汤色橙黄明亮清透</td>
            <td>正向</td>
            <td>干茶条索饱满挺拔，略显豪，有蜜香。汤色橙黄明亮清透，蜜香较明显，头泡青涩感强，顺滑，滋味比较收敛。第二泡开始，入口苦味明显，但化开迅速，回甘快且长，14年的新茶已较稳定，并不张扬。五泡后汤色变淡，但仍有明显蜜香，回甘减弱不多。总体来说个性稳重，转化较平稳，青涩但不猛烈。茶气不足，14年的茶也可以理解。</td>
            <td>[绿名]茉莉香芽</td>
        </tr>
        <tr>
            <td>汤色金黄透亮</td>
            <td>正向</td>
            <td>茶样5.5g、有醒茶，共冲泡12次。温润泡5秒、第1-5泡15s，第6-7泡20s，第8-9泡30s，第10泡40s，第11泡50s，第12泡60s。干茶为褐绿色有少量白芽，条索匀净坚实。汤色金黄透亮，青梅香纯正内敛、茶汤入口顺滑，汤感较润，口齿留香。滋味丰富，总体上较苦较涩，苦的感觉有些压舌，在舌面上很久才能化去，生津慢回甘不明显。杯底有明显的冰糖香，但入口后清甜味不明显。每一泡滋味稳定变化不大，茶气足，10泡滋味不减，耐泡度好。叶底呈深绿色，少数叶片泛红，叶片光滑有韧性，茶梗很少。总的感觉，作为新茶，苦涩感比较强烈，但香气和滋味品质比较稳定，期待后期转化的效果。</td>
            <td>[谷仓]特级祁门红茶</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>汤色清亮，甜味明显，顺滑度好，一款不错的红茶。</td>
            <td>[艺福堂]君山银针</td>
        </tr>
        <tr>
            <td>汤色黄绿清澈明亮</td>
            <td>正向</td>
            <td>干茶外形条直微展，匀齐成朵、形似雀舌、嫩绿披毫，香气清香，汤色黄绿清澈明亮，滋味鲜醇，柔和回甘，叶底嫩黄明亮。</td>
            <td>[老同志]深山老树</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>颗粒疏松轻飘，汤色黄亮，有酸味，喝不懂。</td>
            <td>[yorkshire tea]传统红茶</td>
        </tr>
        <tr>
            <td>汤色黄</td>
            <td>正向</td>
            <td>本款茶叶汤色黄，较明亮，香气低闷，日晒味和花蜜甜香混合，汤香和杯底香弱。</td>
            <td>[集泉堂]老白茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶匀整，汤色黄亮，香气一般，滋味尚醇，叶底尚整。口粮茶。</td>
            <td>[邹记]销法沱7663</td>
        </tr>
        <tr>
            <td>汤色好</td>
            <td>正向</td>
            <td>汤色真好，略带回甘，没太注意干茶，香气不是很足，喝起来倒不涩</td>
            <td>[泾渭茯茶]益茯源</td>
        </tr>
        <tr>
            <td>汤色干净</td>
            <td>正向</td>
            <td>荷香茯茶，汤色干净甜香，略显寡淡，有粗梗，日常喝没问题</td>
            <td>[润思]特级祁红一号</td>
        </tr>
        <tr>
            <td>汤色红润</td>
            <td>正向</td>
            <td>汤色红润，有糯香有回甘，</td>
            <td>[文新茶业]信阳毛尖320</td>
        </tr>
        <tr>
            <td>汤色红</td>
            <td>正向</td>
            <td>干茶及叶底比较完整，香味及滋味不足，汤色较红润</td>
            <td>[八味草木]白毫银针</td>
        </tr>
        <tr>
            <td>汤色橙黄</td>
            <td>正向</td>
            <td>干茶带有清新果香，乌黑间褐有光泽的条索，看着起来蛮结实的，茶叶有点碎，估计可能是运输的问题的。橙黄汤色，汤水的果香甜味更浓，公道杯里则有烟熏香气，入口醇滑，有酸甜的口感，挺不错的，约冲泡了七道，叶底看起来水嫩舒展。</td>
            <td>[沁园]雪片凤凰单丛芝兰香</td>
        </tr>
        <tr>
            <td>汤色橙红透亮</td>
            <td>正向</td>
            <td>干茶黄褐色，金花明显，汤色橙红透亮，菌花香明显，滋味甜醇，叶底色泽黑褐，较粗老。</td>
            <td>[茶根号]金萱高山茶</td>
        </tr>
        <tr>
            <td>汤色黄绿明亮</td>
            <td>正向</td>
            <td>干茶螺钉状，色泽绿褐，汤色黄绿明亮。香气花香较明显，滋味醇和，耐泡性一般，回甘较弱，叶底略有红边，尚为肥厚。</td>
            <td>[金帆牌]西关小姐私房茶</td>
        </tr>
        <tr>
            <td>汤色红</td>
            <td>正向</td>
            <td>干茶褐红色，偶有金毫，汤色红亮，香气有沉香，但有梗，较耐泡，总的还不错</td>
            <td>[吉普号]笃行</td>
        </tr>
        <tr>
            <td>汤色红浓</td>
            <td>正向</td>
            <td>干茶压制紧实，色泽红黑，汤色红浓。香气糯香，茶汤糥滑稠厚，微涩，回甘明显，有生津。叶底细碎，色泽深褐红。</td>
            <td>[龙王山]龙王山安吉白茶</td>
        </tr>
        <tr>
            <td>汤色深棕红</td>
            <td>正向</td>
            <td>汤色深棕红，明亮。香气清扬，有浓浓的糯米香，茶汤稠滑，汤中有微苦，有回甘生津。</td>
            <td>[巴陵春]碧螺春</td>
        </tr>
        <tr>
            <td>汤色橙红</td>
            <td>正向</td>
            <td>干茶色泽黝黑，条索紧结扭曲，香气火工香，汤色橙红，滋味醇厚耐泡，刺激性强，叶底黑褐，有炭化现象。</td>
            <td>[御华轩]狗牯脑</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>汤色红亮，滋味鲜爽，淡淡果香。</td>
            <td>[前海天露]逸品·金尖</td>
        </tr>
        <tr>
            <td>汤色橙红</td>
            <td>正向</td>
            <td>干茶：条索紧细重实，色泽乌较润，稍有金毫，较匀整，较匀净。；干茶黑褐有金毫较匀整。汤色橙红，醇和，甜香浓郁，花香不显。回甘稍欠。叶底红亮较碎。</td>
            <td>[凤牌]经典58滇红工夫</td>
        </tr>
        <tr>
            <td>汤色正</td>
            <td>正向</td>
            <td>一款很不错的普洱，香气足，汤色正，好！</td>
            <td>[福民王]国色天香</td>
        </tr>
        <tr>
            <td>汤色金黄明亮</td>
            <td>正向</td>
            <td>茶底略带焦糊味，汤色金黄明亮，杯内有淡淡的花果香。</td>
            <td>[邹记]西柚白茶</td>
        </tr>
        <tr>
            <td>汤色橙黄明亮</td>
            <td>正向</td>
            <td>汤色橙黄明亮，香气带陈香。茶汤柔和，入口甜，略微发苦。</td>
            <td>[显然堂]极品小米针</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶很细嫩，香味浓郁，汤色红亮，香气比较足，滋味甘甜，不错！</td>
            <td>[斗记茶业]拾岁大树饼茶</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶褐色油润，紧实，汤色黄亮，香气纯正，花香明显，滋味醇厚，有苦涩，叶底黄绿，粗老，有茶梗。</td>
            <td>[二三两]茉莉银针</td>
        </tr>
        <tr>
            <td>汤色干净</td>
            <td>正向</td>
            <td>还不错，干茶整齐，前四泡汤色干净，香气一般，入口滋味不足，总体不错</td>
            <td>[金花茶业]特级浓香茉莉人间一香</td>
        </tr>
        <tr>
            <td>汤色橙黄明亮</td>
            <td>正向</td>
            <td>汤色橙黄明亮，香气清新好闻，滋味不苦不涩，还有淡淡的回甘，持留时间也比较长，还是蛮好喝的</td>
            <td>[九华山]一级霍山黄芽</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>汤色明亮，滋味厚度一般！味道一般！</td>
            <td>[忆洞庭] 碧螺春特级</td>
        </tr>
        <tr>
            <td>汤色油润</td>
            <td>正向</td>
            <td>汤色油润，入口有粘稠感，不耐泡</td>
            <td>[润雅馨]凤凰单丛蜜兰香</td>
        </tr>
        <tr>
            <td>汤色红亮通透</td>
            <td>正向</td>
            <td>传奇88算上中高端茶了，这款茶，喝过几次，还算比较难泡的，汤色红亮通透，入口醇厚，生津回甘好。叶底柔软。</td>
            <td>[澜沧古茶]传奇001</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>汤色黄亮，花果香明显，回甘快，微苦。</td>
            <td>[碧涧春茶业]白牡丹</td>
        </tr>
        <tr>
            <td>汤色浅杏色</td>
            <td>正向</td>
            <td>汤色浅杏色，炒豆香，炒板栗香，鲜爽回甘，不错</td>
            <td>[日月井]三杯香茶</td>
        </tr>
        <tr>
            <td>汤色亮黄</td>
            <td>正向</td>
            <td>这是紧压成块状的水仙，汤色亮黄，有清香，花香，山韵较弱。滋味鲜爽甜润，入口稍有涩感，有回甘生津。叶底柔软匀整，有红边。</td>
            <td>[味独珍]水润天府 高山茶</td>
        </tr>
        <tr>
            <td>汤色漂亮</td>
            <td>正向</td>
            <td>汤色漂亮，原料粗老，学习学习</td>
            <td>[黑美人]金花姑娘天尖茯茶</td>
        </tr>
        <tr>
            <td>汤色清澈明亮</td>
            <td>正向</td>
            <td>棉布袋包装。汤色不够清澈明亮。香气茉莉过于浓郁，稍带苦。</td>
            <td>[新林玉露]新林玉露信阳毛尖</td>
        </tr>
        <tr>
            <td>汤色纯净</td>
            <td>正向</td>
            <td>青草味比较重，喜欢喝绿茶的朋友应该适合这种口味，汤色纯净、明亮，味道较淡，适合口味轻的朋友，总体来说还算可以，茶么，每个人口味不同各有喜好，炎炎夏日的清晨喝上一口，好似晨之雨露，味淡而清新，心旷而神怡。</td>
            <td>[七缘香]手工茶•铁观音</td>
        </tr>
        <tr>
            <td>汤色好看</td>
            <td>正向</td>
            <td>汤色好看，很不错的一款茶。</td>
            <td>[福新逸品]福新逸品岩茶</td>
        </tr>
        <tr>
            <td>汤色淡雅</td>
            <td>正向</td>
            <td>香气扑鼻，汤色淡雅，初泡较浓，三泡后较适宜。</td>
            <td>[千回]醉贵妃</td>
        </tr>
        <tr>
            <td>汤色浅红明亮</td>
            <td>正向</td>
            <td>汤色浅红明亮，滋味醇和，茶汤有一定的爽口度，回甘缓慢，不耐泡。</td>
            <td>[格香]2012年大雪山古树纯料</td>
        </tr>
        <tr>
            <td>汤色鹅黄</td>
            <td>正向</td>
            <td>干茶比较完整，汤色鹅黄不太清澈（或许是因为毫毛），香气是较浓郁的豆香，茶汤滋味较鲜嫩浓厚，叶底也是比较完整</td>
            <td>[红灵茶叶]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>滋味鲜香不浓，汤色黄亮，叶底略老！</td>
            <td>[湖心岛]洞庭黄汤</td>
        </tr>
        <tr>
            <td>汤色红浓</td>
            <td>正向</td>
            <td>申请熊猫沱茶生茶给了无名的15g熟普。熟普干茶有轻烟梅干菜香；汤色红浓；水滑回甜；</td>
            <td>[福海茶厂]福海韵普</td>
        </tr>
        <tr>
            <td>汤色红润饱满</td>
            <td>正向</td>
            <td>干茶讨人喜爱汤色红润饱满</td>
            <td>[老记]风生大红袍</td>
        </tr>
        <tr>
            <td>汤色不错</td>
            <td>正向</td>
            <td>香气一般，味道比较淡，但汤色不错，比较耐泡，喜欢清淡的可以尝试一下</td>
            <td>[芬吉]芽叶型黄茶</td>
        </tr>
        <tr>
            <td>汤色红浓透亮</td>
            <td>正向</td>
            <td>斯里兰卡红茶，香气较弱，闻起来就是奶茶中的茶味道，适合加牛奶饮用，汤色红浓透亮，入口苦味重，微涩，化得慢，生津持久回甘不明显，总体感觉是款不错的红茶，不过口感与平时喝的红茶差距明显</td>
            <td>[卢正浩]雨前西湖龙井</td>
        </tr>
        <tr>
            <td>汤色不错</td>
            <td>正向</td>
            <td>这个黄牙是不错的，就是比较粗糙，香气汤色都不错。</td>
            <td>[雄峰]雄峰枣香茶砖</td>
        </tr>
        <tr>
            <td>汤色暗</td>
            <td>正向</td>
            <td>茶香与花香相融合较好，汤色比较暗。</td>
            <td>[水不理]正韵铁观音</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>汤色明亮，口感醇厚略有酸，香气高扬</td>
            <td>[茗纳百川]单芽银丝</td>
        </tr>
        <tr>
            <td>汤色红浓透亮</td>
            <td>正向</td>
            <td>斯里兰卡红茶，香气较弱，闻起来就是奶茶中的茶味道，适合加牛奶饮用，汤色红浓透亮，入口苦味重，微涩，化得慢，生津持久回甘不明显，总体感觉是款不错的红茶</td>
            <td>[椰仙]火山岩红茶</td>
        </tr>
        <tr>
            <td>汤色橙红明亮</td>
            <td>正向</td>
            <td>汤色橙红较明亮，香气较高扬，有火工香，甜香，茶汤入口甜润，汤感顺滑</td>
            <td>[斗记茶业]岚风斗</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>干茶紧实，汤色清亮，果香明显，滋味偏淡回甘稍慢,叶底稍碎。口粮茶不错但是价格有点高</td>
            <td>[谢裕大]明前特级黄山毛峰</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>汤色清亮。</td>
            <td>[品茗者]九曲红梅</td>
        </tr>
        <tr>
            <td>汤色清绿</td>
            <td>正向</td>
            <td>滋味淡溥，汤色清绿略带豆香</td>
            <td>[天苗]白牡丹</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>干茶，条索紧细，芽毫显露，香气带焦糖香，汤色黄亮，滋味醇厚饱满，回味微苦，回甘快，叶底嫩黄亮软。</td>
            <td>[君山]百家福毛尖</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>汤色红亮，入口滑顺。</td>
            <td>[寸芽] 高级陈寿眉</td>
        </tr>
        <tr>
            <td>汤色黄绿</td>
            <td>正向</td>
            <td>干茶条索比较完整，油亮；汤色黄绿不太透亮，有毫；有栗子香味；滋味鲜爽，茶汤比较顺滑；叶底嫩绿。</td>
            <td>[万岁岭]千岛银针</td>
        </tr>
        <tr>
            <td>汤色明显</td>
            <td>正向</td>
            <td>干茶乌褐亮汤色有明显的金圈香气有桂圆香有甜香 叶底尚红匀</td>
            <td>[老台湾]文山包种</td>
        </tr>
        <tr>
            <td>汤色黄亮透绿</td>
            <td>正向</td>
            <td>. 干茶外型扁平挺直，色泽黄润，芽叶细嫩，显毫，香气丰富，汤色黄亮透绿，口感甜香清冽，爽口浓厚，有回甘。叶底芽嫩黄。</td>
            <td>[碧丽源]唐珍寿眉绿茶</td>
        </tr>
        <tr>
            <td>汤色黄绿亮</td>
            <td>正向</td>
            <td>干茶芽头肥壮紧实略显毫，均整洁净，色泽灰绿光润，汤色黄绿亮，叶底肥嫩均明亮，鲜爽度不高，涩感明显化开较慢，耐泡度不够。</td>
            <td>[BASAO]霖吉雅庄园夏摘红茶</td>
        </tr>
        <tr>
            <td>汤色绿黄较亮</td>
            <td>正向</td>
            <td>汤色绿黄较亮，香气不扬，微带清香；入口柔和，刺激性小，茶汤较醇尚浓。</td>
            <td>[立顿]黄牌精选红茶</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>干茶：干茶条索细紧，显金毫，具明显高扬的甜花香与毫香。；干茶条索细紧，有漂亮的金毫。茶汤汤色明亮度高，但颜色不够红艳。入口香气纯正，香中透甜，且持久、高扬，茶汤醇厚，从口中瞬间便滑入喉咙，让人回味无穷。</td>
            <td>[八方茶园]越陈越香</td>
        </tr>
        <tr>
            <td>汤色黄绿亮</td>
            <td>正向</td>
            <td>干茶芽头肥壮紧实略显毫，均整洁净，色泽灰绿光润，汤色黄绿亮，叶底肥嫩均明亮，鲜爽度不高，涩感明显化开较慢，耐泡度不够。</td>
            <td>[石雨益昌号]鸡星高照</td>
        </tr>
        <tr>
            <td>汤色清亮绿黄</td>
            <td>正向</td>
            <td>干茶扁平挺直，色泽黄绿，金毫显露，甜香明显，汤色绿黄清亮，滋味甘醇鲜爽，叶底肥壮柔软。</td>
            <td>[茗茶暗访]韵香铁观音</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶：干茶造型特色不明显，条索比较紧结，色泽乌润，均匀分布少量金毫，芽叶完整无杂质。；用水：桶装水，95度以上，干茶，很淡的花香，条索紧实完整，色泽偏灰，有金毫。汤色：红亮，有金圈，汤色一致性好。香气：淡淡花香，除第一泡外，基本忽略。滋味：==叶底：色泽均匀，偏暗，嫩度不错。品饮记录：1、快速洗茶2、1泡10秒出汤，淡淡花香，滋味尚醇厚，入口稍有水味3、2泡10秒出汤，香气无，滋味尚厚，有轻微苦涩，水味明显4、3泡10秒出汤，香气无，苦涩无，滋味无，水味明显5、4-5泡延长20秒出汤，浅尝，已无喝茶乐趣，结束。</td>
            <td>[天福茗茶] 雪晴梅针</td>
        </tr>
        <tr>
            <td>汤色黄亮</td>
            <td>正向</td>
            <td>寄来的是14年贡眉，干茶较松，颜色油亮，冲泡后香气不显，汤色黄亮，入口后有少少发酸，总体回味较浅，滋味偏轻。</td>
            <td>[天福茗茶]悠然铁观音 </td>
        </tr>
        <tr>
            <td>汤色黄绿</td>
            <td>正向</td>
            <td>干茶颜色黄绿，条索清晰匀整。冲泡后汤色黄绿，香气呈现不明显，滋味带涩，回甘较快。</td>
            <td>[新汇茶业]蒙顶云雾毛尖</td>
        </tr>
        <tr>
            <td>汤色还可以</td>
            <td>正向</td>
            <td>干茶太碎，估计是碎茶叶蒸压成型的，我没有醒茶，跑了一泡，喝着堆味太重，香气不显，也没有六堡特色的清凉感，汤色倒是还可以，闷泡后能出酒红色，这款茶还没有新出的知“竹”常乐好喝，留了一泡看醒茶后会怎么样</td>
            <td>[天尺]仙女红</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶褐润，显金毫，肥壮紧结，汤色红亮，花香高扬，茶汤浓强，鲜爽饱满，叶底褐红，嫩匀。</td>
            <td>[Tea Tang]Afternoon Pure Ceylon Black Tea</td>
        </tr>
        <tr>
            <td>汤色红亮澄清</td>
            <td>正向</td>
            <td>干茶总的来说外形比较紧凑，形状较好，汤色红亮澄清，香气不太明显，滋味入口很圆润，不苦不涩，叶底较碎，但比较均匀！</td>
            <td>[合和昌]老茶头</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶条索粗大色乌尚润。汤色红尚亮。香气糖香。滋味涩感明显滋味较平淡。叶底粗老茶梗略多且杂。综合评价：这款茶原料略显粗老，干茶条索粗大色乌尚润，汤色红尚亮，香气较弱，茶汤入口涩感明显滋味不够丰富较平淡，叶底粗老茶梗略多、略杂。</td>
            <td>[甘百香]黄山白茶</td>
        </tr>
        <tr>
            <td>汤色橙黄</td>
            <td>正向</td>
            <td>袋泡茶，干茶有些碎。汤色橙黄，有玫瑰香味，略涩，不耐泡。</td>
            <td>[天木岩]一级白毫银针</td>
        </tr>
        <tr>
            <td>汤色红亮</td>
            <td>正向</td>
            <td>干茶色泽黄褐，梗多叶薄，香气荷香，汤色红亮，入口醇厚滑爽、回味甘甜，叶底黑褐，梗多。</td>
            <td>[春元]紫红袍</td>
        </tr>
        <tr>
            <td>汤色黄亮透明</td>
            <td>正向</td>
            <td>干茶较松，梗长。冲泡后汤色黄亮透明，兰香显，持续性不强，滋味较淡，叶底肥厚。</td>
            <td>[中茶]古丈毛尖</td>
        </tr>
        <tr>
            <td>汤色明亮</td>
            <td>正向</td>
            <td>汤色明亮，味道一般</td>
            <td>[三鹤]六堡茶米砖</td>
        </tr>
        <tr>
            <td>汤色清澈红黄</td>
            <td>正向</td>
            <td>茶叶黄褐色，比较油亮。入口顺滑，汤色清澈红黄，带有陈味，叶子粗老带梗。</td>
            <td>[喜茗]六堡金花茶</td>
        </tr>
        <tr>
            <td>汤色清亮绿黄</td>
            <td>正向</td>
            <td>干茶墨绿，条索疏松，微带梗；汤色绿黄清亮；香气高昂，玉兰花香明显，微带果香，香气纯正持久，无明显杂味；滋味较为饱满，回甘明显，生津一般，苦涩度较低，但舌面收敛感较强，喉感紧结，较难化开；叶底柔软度较好但花杂，部分叶面有红梗现象；整体评价不错，香气十分讨人喜欢，滋味较好，回甘有加分；购买欲望一般，除香气外没有特别突出的特点，口粮级别吧。建议：没有试过单丛的小伙伴可以试一下，但不要以此定义单丛形象</td>
            <td>[研传]问策·炭焙浓香型铁观音</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>干茶碎，汤色清亮，古人说，扬子江中水，蒙顶山上茶，一点没错?</td>
            <td>[起点]普洱茶</td>
        </tr>
        <tr>
            <td>汤色嫩绿黄亮</td>
            <td>正向</td>
            <td>干茶墨中带翠，冲泡时茶豪丰富，汤色嫩绿黄亮，栗香饱满，较耐冲泡，叶底大小不均。总体稳重有余，惊喜不足。</td>
            <td>[龙润]私房貮号老树乔木茶</td>
        </tr>
        <tr>
            <td>汤色清亮</td>
            <td>正向</td>
            <td>独树一帜的大叶片绿茶，青草气息，汤色清亮，入口微苦微涩，后有回甘，还不错。</td>
            <td>[凯捷</td>
        </tr>
        <tr>
            <td>汤色清澈明亮</td>
            <td>正向</td>
            <td>干茶：五色相间，略带金色毫毛。汤色：清澈明亮。香气怡人</td>
            <td>[盛唐黑金]安化高山黑茶</td>
        </tr>
        <tr>
            <td>汤色明亮黄棕</td>
            <td>正向</td>
            <td>干茶褐绿，肥壮，平滑，汤色黄棕明亮汤汁明亮，入口香气明显，草木的清香，花香，蜜糖香，层次感较分明。3泡后转淡，稍欠持久</td>
            <td>[下关沱茶]金榜饼之韵饼茶</td>
        </tr>
        <tr>
            <td>汤色黄绿通透</td>
            <td>正向</td>
            <td>干茶颜色雪绿显豪，冲泡后汤色黄绿通透，香气怡人，稍带涩，叶底欠匀整。</td>
            <td>[雨巷]特级金奖惠明茶</td>
        </tr>
        <tr>
            <td>汤色清淡</td>
            <td>正向</td>
            <td>汤色清淡，口味鲜嫩，涩味较浓</td>
            <td>[乾红]早春茶6800</td>
        </tr>
        <tr>
            <td>汤色清淡</td>
            <td>正向</td>
            <td>条索圆滑，汤色清淡有香味</td>
            <td>[沁园] 浓香型 桂花香 雪片</td>
        </tr>
        <tr>
            <td>汤色金黄明亮</td>
            <td>正向</td>
            <td>色泽褐黄尚油润，显毫，外形条索细长，略弯曲，匀整度和净度好。汤色金黄明亮，高火香浓郁持久，汤质柔和，入口甜香，回甘快，杯底留甜香。叶底肥厚，整碎度较差。</td>
            <td>[高山号]布朗宫廷</td>
        </tr>
        <tr>
            <td>汤色黄红清亮</td>
            <td>正向</td>
            <td>干茶选料粗老，色泽红褐，香气焙火香，汤色黄红清亮，滋味柔和平淡。叶底红褐梗多，叶质硬无弹性。</td>
            <td>[武夷星]浓香特级大红袍</td>
        </tr>
        <tr>
            <td>汤色橙黄较亮</td>
            <td>正向</td>
            <td>2011年的怡清源黑砖颗粒冲泡很方便。独立小包装，一袋一泡。颗粒茶砖压紧实，色泽黑褐；冲泡时注意要沸水，前几泡用闷泡，颗粒泡开之后出汤时间加快。香气较纯，有松烟味；汤色橙黄较亮，滋味尚醇。品质正常，适合一般饮用。</td>
            <td>[君山]君山银针</td>
        </tr>
        <tr>
            <td>汤色深浓</td>
            <td>正向</td>
            <td>此茶干茶红褐，略有金毫，汤色深浓，滋味显厚，水稍含香，不足汤色暗。</td>
            <td>[小隐茶人]六安瓜片</td>
        </tr>
        <tr>
            <td>汤色深浓</td>
            <td>正向</td>
            <td>橘香浓郁，汤色深浓，口感绵柔，，，</td>
            <td>[味独珍]蒙顶山茶早春甘露</td>
        </tr>
        <tr>
            <td>汤色淡黄</td>
            <td>正向</td>
            <td>汤色淡黄，微微清香，回味甘甜，入口舒畅。</td>
            <td>[贡牌]A级西湖龙井</td>
        </tr>
        <tr>
            <td>汤色明黄绿</td>
            <td>正向</td>
            <td>干茶乌褐，条索细长，多达五厘米，兼有青灰色条索，干茶顶端有毫。无破碎情况整体细长，细闻有清茶香。第一泡，茶汤清亮，嫩黄色，汤中纤毫点点，轻呷一口鲜爽素雅，香气较淡。第二泡汤色明黄绿，透亮，口感醇厚，舌尖苦，舌面生津，上腭中部有涩感，但化的较快。第三泡颜色依旧，但口感，有青味，依然涩。第四泡，颜色稍淡些。口感与上一泡差别不大。叶底嫩芽较多，叶片有弹性，是一款基础口粮茶。</td>
            <td>[佳西娜]桂红</td>
        </tr>
        <tr>
            <td>汤色红浓</td>
            <td>正向</td>
            <td>外形紧结肥壮且峰毫显露色红褐尚润饼***松紧适中，汤色红浓滋味醇和，叶底也符合熟普的特征，唯一缺点是香气在热臭时有异杂味。</td>
            <td>[乾红.早春茶]乾红8800</td>
        </tr>
    </tbody>
</table>
        </div>


</body>
</html>
