<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <style>
            .fl-table {
                margin: 20px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                border-collapse: collapse;
                max-width: 100%;
                white-space: nowrap;
                word-break: keep-all;
            }

            .fl-table th {
                text-align: left;
                font-size: 20px;
            }

            .fl-table tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            .fl-table tr:hover td {
                background: #00d1b2;
                color: #F8F8F8;
            }

            .fl-table td, .fl-table th {
                border-style: none;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 3px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                padding: .5em .55em;
                font-size: 15px;
            }

            .fl-table td {
                border-style: none;
                font-size: 15px;
                vertical-align: center;
                border-bottom: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                height: 30px;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }
        </style>
        <div id="0ec23a6c05a14837be33fe0b2640561f" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > 观点之香气差.csv</p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <table class="fl-table">
    <thead>
        <tr>
            <th>属性观点</th>
            <th>情感倾向</th>
            <th>text</th>
            <th>品牌茶叶</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>干茶：螺钉状，条索尚紧，墨绿色、黄绿，颜色花杂，色泽较暗，欠匀齐，不符合浓香铁观音特色，有清新铁观音的特点。；香气较弱，滋味平淡</td>
            <td>[集泉堂]白毫银针 </td>
        </tr>
        <tr>
            <td>香气低</td>
            <td>负向</td>
            <td>干茶：螺钉状，条索尚紧，墨绿色、黄绿，颜色花杂，色泽较暗，欠匀齐，不符合浓香铁观音特色，有清新铁观音的特点。；茶汤黄绿稍浅，较明亮，花香显，香气较低，持久度尚可。</td>
            <td>[美安雅]特级蒙顶黄芽</td>
        </tr>
        <tr>
            <td>香气少淡</td>
            <td>负向</td>
            <td>干茶紧实，褐色有老梗；汤色淡薄；香气少而淡；滋味无味；叶底粗老，有大的粗梗。</td>
            <td>[帝泊洱]即溶普洱茶珍 清香型袋 熟茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>并不是很讨喜的一款茶叶底比较碎茶汤香气不足入口有苦涩感</td>
            <td>[白沙溪]1953特制茯砖</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>香气不明显，叶底碎。</td>
            <td>[千日醉]小青柑柑普茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>茶梗多香气滋味一般</td>
            <td>[苗品记]翡翠秀芽</td>
        </tr>
        <tr>
            <td>香气低</td>
            <td>负向</td>
            <td>外形有些碎，香气也低，而且带有陈味。味道较淡</td>
            <td>[碧螺]特级一等碧螺春</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>普洱茶香气不明显，不令人十分满意，茶汤浓，滋味不够醇厚，饮后舌面发干，稍有不适感。此款普洱总体来说不令人满意。</td>
            <td>[斗记茶业]红大斗</td>
        </tr>
        <tr>
            <td>香气不明</td>
            <td>负向</td>
            <td>总的说比较满意，香气不是很明，但汤色较美，还算非常爽快</td>
            <td>[闽红岩]牡丹王</td>
        </tr>
        <tr>
            <td>香气低</td>
            <td>负向</td>
            <td>汤色混，香气低。</td>
            <td>[陶子]壹级祁门红茶</td>
        </tr>
        <tr>
            <td>香气浅</td>
            <td>负向</td>
            <td>滋味尚可，香气浅</td>
            <td>[春伦]特级茉莉白龙珠</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>汤色浓郁，滋味可口，香气淡。</td>
            <td>[裕珍香]工夫红茶</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>汤色明亮带光圈，香气弱，前三泡有淡淡蜜香，口感淡薄略带水味，但略有茶气略生津，整体干净无杂味。</td>
            <td>[跃华茶业]黄芽</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>汤色清淡，香气一般</td>
            <td>[张一元]柚子香针</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>香气不明显，回甘比较慢</td>
            <td>[非常茶非常道]月光白</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>汤色混香气不明显，金花少。</td>
            <td>[福农秀峰]茉莉花茶</td>
        </tr>
        <tr>
            <td>香气杂</td>
            <td>负向</td>
            <td>包装打开，香气带沉杂气。茶汤有明显涩感。</td>
            <td>[畲佳茶]白牡丹</td>
        </tr>
        <tr>
            <td>香气不高</td>
            <td>负向</td>
            <td>CTC红碎茶，末号。干茶外形、叶底跟云南茶无区别。香气不高但是有其特有风味，略带鲜爽的花香。</td>
            <td>[九峰茗茶]峰之雅坦洋工夫茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>味道一般，汤色混浊，香气不足，质量不太好，干茶也很碎</td>
            <td>[茶祖印象]三湘红 盛唐5800</td>
        </tr>
        <tr>
            <td>香气不纯</td>
            <td>负向</td>
            <td>干茶不够紧实，香气不纯，茶汤味不正，不建议兑换，性价比不高</td>
            <td>[Taylors of Harrogate]玫瑰红茶</td>
        </tr>
        <tr>
            <td>香气不甘甜</td>
            <td>负向</td>
            <td>这款柚子茶颜色呈黑色块状，完全泡不开。香气不甘甜，但滋味淡薄。一款一般的茶</td>
            <td>[蓝眉山]白绿香</td>
        </tr>
        <tr>
            <td>香气杂</td>
            <td>负向</td>
            <td>味道淡，香气杂</td>
            <td>[大滇号]金羊献瑞</td>
        </tr>
        <tr>
            <td>香气浅</td>
            <td>负向</td>
            <td>以前没喝过康砖，这款茶干茶梗多，也不均匀。香气浅，滋味也淡。虽说没有什么特别的好的地方，但是也没哪里不好。对康砖还有待多了解</td>
            <td>[尚醇香]一级金骏眉</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>不耐泡，香气不足</td>
            <td>[益阳香炉山茶厂]茯砖茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>干茶显毫，香气一般，第一泡5S出汤汤色滋味略淡第二三泡10S出汤苦味偏重，还是觉得三月春好喝些！</td>
            <td>[恩茗茶叶]黑龙潭纯手工纯芽毛尖</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>干茶：条索尚紧，色泽黄褐绿，花渣，欠匀较碎。；干茶：显碎，杂质较多；香气：弱、汤暗；滋味：薄、无明显回甘。</td>
            <td>[石雨益昌号]云南勐海易武乔木熟茶砖</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>香气不足</td>
            <td>[亨泰]霍山黄芽</td>
        </tr>
        <tr>
            <td>香气沉闷</td>
            <td>负向</td>
            <td>汤色橙黄，香气沉闷，有异味；入口微酸，涩口。</td>
            <td>[银龙]桔红 白琳功夫</td>
        </tr>
        <tr>
            <td>香气不够</td>
            <td>负向</td>
            <td>干茶较散，不够紧实，香气也不够聚</td>
            <td>[日春]815清香型铁观音</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>条索较完整，烟味稍淡，回甘还可以，香气不足。</td>
            <td>[天露藏茶]雅细 稀藏</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>原材料不太好，茶汤颜色红褐，香气比较淡。总体滋味十分淡薄，入口柔和，没有什么味道。</td>
            <td>[龙润]茉莉花语</td>
        </tr>
        <tr>
            <td>香气不浓</td>
            <td>负向</td>
            <td>金花香气不浓口感普通</td>
            <td>[国书天香]一级宜兴红茶</td>
        </tr>
        <tr>
            <td>香气不存在</td>
            <td>负向</td>
            <td>内质太low的乌龙茶干茶外形尚可，颗粒型，色泽虽然不算好，但仍是乌龙茶的正常范围。开汤后的内质，给人的感觉就是不怎么理想了，香气上本来的乌龙茶香气不存在，主要的是焙火的味道，在滋味上，就是甜，甚至有点甜得想吐，不得不得考虑考虑这杯茶要不要喝下去，毕竟铁观音的农残等问题一直备受关注。</td>
            <td>[GOPALDHARA TEA ESTATE]春摘大吉岭红茶Gopaldhara</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>初闻香气不够足，但入口较绵滑，回甘还可以。</td>
            <td>[四时春]贡品滇红一级</td>
        </tr>
        <tr>
            <td>香气没有</td>
            <td>负向</td>
            <td>不知道那些达人专家是怎么得来的头衔，干茶偏潮，汤色发暗，香气基本没有，滋味淡还有点锁喉</td>
            <td>[下关沱茶]普洱沱茶</td>
        </tr>
        <tr>
            <td>香气重</td>
            <td>负向</td>
            <td>袋茶加工痕迹重，味道不够存真，香气重。</td>
            <td>[祥源茶]金色庄园系列·伍·祁红工夫</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>干茶能闻到下关特有的烟味；茶汤色浅黄，略带青味及烟味，无苦涩，香气弱，茶汤每泡之间口感稳定，属于清淡中带甜，四泡过后喉咙后部位能感到下申的喉感。</td>
            <td>[宝和祥]渐入佳境</td>
        </tr>
        <tr>
            <td>香气低</td>
            <td>负向</td>
            <td>干茶乌褐，干枯无芽毫，香气低沉偏淡，汤色黄暗，滋味尚醇，苦涩味较重，无回甘，叶底黄绿，叶质硬。</td>
            <td>[茗掌柜]水金龟</td>
        </tr>
        <tr>
            <td>香气低</td>
            <td>负向</td>
            <td>干茶原料粗老，有梗，汤色淡黄，香气低，不明显。苦涩重，难化开，耐泡度欠缺，叶底较软有梗。</td>
            <td>[爱此山]庐山云雾</td>
        </tr>
        <tr>
            <td>香气沉闷</td>
            <td>负向</td>
            <td>干茶色泽棕褐，金花含梗，汤色红黄，香气沉闷，有酸味，入口较醇略苦，叶底暗褐含梗。</td>
            <td>[徐炳文]乌岽蜜兰香</td>
        </tr>
        <tr>
            <td>香气不</td>
            <td>负向</td>
            <td>干茶外形条索细匀汤色透亮微微黄绿香气不足苦涩感重滋味饱满度有的叶底芽叶较整齐整体口感一般不像春茶</td>
            <td>[大滇号]独秀</td>
        </tr>
        <tr>
            <td>香气不显香</td>
            <td>负向</td>
            <td>干茶有花香但不够匀整，汤色黄绿但略浑浊，香气不显，回味有涩感，叶底有栗香</td>
            <td>[福村梅记]易武深山古茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>整体较平淡，叶底表现稍好。香气不足。无厚重感。</td>
            <td>[合和昌]合和熟饼</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>香气一般，汤色可以，稍微有点酸味。</td>
            <td>[茶马史诗]禅普洱生茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>太淡，香气不足</td>
            <td>[重茶集团]定心决策</td>
        </tr>
        <tr>
            <td>香气不纯</td>
            <td>负向</td>
            <td>选料粗老，汤色尚可，但香气不纯，更没有槟榔香气</td>
            <td>[红灵茶叶]蒙顶山黄芽</td>
        </tr>
        <tr>
            <td>香气不足不浓郁</td>
            <td>负向</td>
            <td>打开就发现干茶香气不足，用盖碗泡的，茶汤闻起来香味不浓郁，反而有种中药味，喝起来口感不太好，没有我之前喝过的红茶醇，舌根还感觉到有点点苦。但好在喝完口中留下的香还不错。比较耐泡。</td>
            <td>[岩上]肉桂</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>糯陈味明显，香气一般，入口润滑，回味涩味明显，总体尚可</td>
            <td>[河曲溪]金花茯茶</td>
        </tr>
        <tr>
            <td>香气不显</td>
            <td>负向</td>
            <td>算是陈升号中偏低端的一款茶，香气不显，口感寡淡茶气不重，回甘也不是很迅速，适合日常口粮</td>
            <td>[福农大]茉莉花茶</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>选料茶，粗老，且茶梗特别多，香气不明显，且有异味，滋味寡，还有青涩之味</td>
            <td>[斗记茶业]魁星点斗</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>回甘生津快，香气一般</td>
            <td>[老同志]一号青</td>
        </tr>
        <tr>
            <td>香气欠佳</td>
            <td>负向</td>
            <td>原料比较粗糙,汤色淡黄、香气欠佳、带点苦涩味,总体一般。</td>
            <td>[金坛市茅麓茶厂]金坛雀舌</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>好茶香气略淡，茶汤颜色属于正常，滋味如果是经常喝绿茶的人可能会觉得偏淡。</td>
            <td>[天福茗茶]早春毛峰</td>
        </tr>
        <tr>
            <td>香气沉闷</td>
            <td>负向</td>
            <td>此茶鲜度不足，香气沉闷</td>
            <td>[绿雪芽]乙未兰芷老寿眉</td>
        </tr>
        <tr>
            <td>香气低</td>
            <td>负向</td>
            <td>干茶墨绿，条索纤细紧结、汤色黄绿清亮、香气较低，初闻有玉米香、带板栗香、入口较醇、叶底嫩但是欠匀整</td>
            <td>[芬吉]芽叶黄茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>干茶还是确实像针呵呵，香气不足，第一泡比较苦，反正以后放少点，滋味识别性不大，还算清新</td>
            <td>[SUSU]野生凤凰红茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>干茶色泽金黄，芽头大小均衡。汤色亮黄绿色，香气略有不足，味甘，生津，叶底黄绿不均，略遗憾</td>
            <td>[九雁]猴年纪念饼</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>茶叶鲜嫩均匀，整洁饱满，汤色翠绿，香气稍淡，较为耐泡，滋味鲜爽。</td>
            <td>[龙潭]一级信阳红</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>香气很淡，汤透亮，有爽滑，不够厚重，日饮级，的确是熟普味的生普</td>
            <td>[白龙茶叶]景谷白茶</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>干茶墨绿色，颜色花杂，紧結重实，欠匀齐，香气较弱，汤色黄绿明亮，滋味较淡，叶底深绿带褐，叶质较薄较硬。</td>
            <td>[峨眉雪芽]峨眉雪芽.金峨红慧欣</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>味道一般，茶的口感微涩。泡开后香气不足。整体感觉一般吧</td>
            <td>[蒙顶山茶]龙之大成 黄芽</td>
        </tr>
        <tr>
            <td>香气不浓</td>
            <td>负向</td>
            <td>叶底舒展，香气不浓，有碎叶。</td>
            <td>[狮牌]西湖狮峰龙井茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>今日有幸品尝了这款茶！入口很苦，微涩，化开回甘还可以。香气一般！三泡后微甜。8分</td>
            <td>[猴坑茶业]太平猴魁1915 特级国礼</td>
        </tr>
        <tr>
            <td>香气低</td>
            <td>负向</td>
            <td>干茶香气略低，呈花香，略带烟气。外形紧实较壮，平整较匀。汤色浅黄透亮，茶汤香气低不够持久。茶汤入口顺滑柔和，滋味浓郁，果香带花香，后期回甘不错。叶底肥壮，较碎欠匀整，有焦底。</td>
            <td>[中茶]蝴蝶•白牡丹老白茶</td>
        </tr>
        <tr>
            <td>香气不显</td>
            <td>负向</td>
            <td>寄来的是14年贡眉，干茶较松，颜色油亮，冲泡后香气不显，汤色黄亮，入口后有少少发酸，总体回味较浅，滋味偏轻。</td>
            <td>[云禅茶庄]九曲红梅</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>干茶品质不错哦，但个人认为香气不足</td>
            <td>[吉苑里]北苑红</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>干茶原料较粗造，汤色淡黄，香气一般，喝起有点苦涩味，总体感觉一般。</td>
            <td>[徽六]六安瓜片</td>
        </tr>
        <tr>
            <td>香气淡不持久</td>
            <td>负向</td>
            <td>干茶整碎度不太好，冲泡后的叶底也是一样，叶子虽大但是不饱满。香气也很淡不持久。滋味呢比较浓厚。</td>
            <td>[龙生]大草地玉螺</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>入口有作旧感，很意外居然是当年的新茶，茶汤倒是符合年份。香气不足，偏涩，苦味不重，总体一般。</td>
            <td>[沁园]雪片凤凰单丛芝兰香</td>
        </tr>
        <tr>
            <td>香气差</td>
            <td>负向</td>
            <td>说实话，此款茶只喝过09的没喝过12年，元旦那天刚喝，感觉09年的转化的还不如12、13年的，香气差，喉韵尚有下沉感，没太发现转化迹象。</td>
            <td>[绿剑]绿剑茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>比较普通的一款茶，香气一般。</td>
            <td>[乾红]阳羡雪芽6800</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>干茶香气稍淡，颜色有深有浅，花香味不浓，有些像绿茶的味道，入口较润，有点甜。第二泡的颜色较深些，味道还是无明显花香味</td>
            <td>[沁园春]特级湄潭翠芽</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>茶汤不错，汤色如绸，香气很一般，味道苦而不涩，感觉刚刚好。</td>
            <td>[华川茶业]铁观音春茶一斤装</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>干茶均整，汤色脆绿，但鲜爽一般，香气一般；以黄山毛峰为滋味标准10分，这款云雾是6分</td>
            <td>[聚和苑]炭焙铁观音</td>
        </tr>
        <tr>
            <td>香气持久差</td>
            <td>负向</td>
            <td>干茶粗老带较多粗老梗，香气持久度较差。汤色橙黄明亮，滋味醇和，无回甘，有比较淡的甜味，不耐泡。叶底用料粗老。</td>
            <td>[Sancha]大吉岭伯爵茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>牙头小，香气一般，口感不够，汤色不够清。</td>
            <td>[八角亭]班章有机茶</td>
        </tr>
        <tr>
            <td>香气不浓</td>
            <td>负向</td>
            <td>干茶形较整，汤色较好，香气不浓，滋味涩，不容易化开。这茶在安徽的价格应该在150左右一斤</td>
            <td>[Teavana]济州岛绿茶</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>香气弱，甜度、滑感、厚度都很一般。</td>
            <td>[林贵德]正山小种</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>一款外形讨喜，香气表现一般，性价比一般的红茶。香气略带甜香和薯香，较低闷，入口略酸，涩味重，化开慢，生津短，爽口度一般。总体协调性一般，耐冲泡度正常。</td>
            <td>[醉悠]茉莉香毫</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>干茶显杂碎，有较强堆味，冲泡后滋味平淡，香气不足，耐泡度尚可。</td>
            <td>[美仁一份]恩施贡芽</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>选料还可以，芽茶为主，但香气比较淡，且有青味</td>
            <td>[戏球名茶]五年陈大红袍</td>
        </tr>
        <tr>
            <td>香气不纯</td>
            <td>负向</td>
            <td>干茶不整齐，香气不纯，茶汤也不是很纯，不喜欢。</td>
            <td>[天福茗茶]温心铁观音</td>
        </tr>
        <tr>
            <td>香气欠</td>
            <td>负向</td>
            <td>香气稍欠，汤色橙黄明亮，回甘尝好，叶底条形色泽均匀，是比较适中的一款生茶！</td>
            <td>[岁月知味]易武正山乔木茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>汤色清亮好看，但香气不足，入口较为涩，而且没多少茶味道，比想象中差了很多。包装设计倒还小巧</td>
            <td>[海堤]XT621海堤茶语</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>首先是叶底比较完整，汤色清澈透明，白毫显露，茉莉花香气表现一般</td>
            <td>[林湖]特级茉莉花茶5203</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>比较苦相，香气一般</td>
            <td>[名池 ]日月潭红茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>汤色清亮，先苦后涩，回甘生津，但涩久久不化，香气一般，层次丰富，饮后发汗</td>
            <td>[云来茶业]特级兰花茶</td>
        </tr>
        <tr>
            <td>香气高</td>
            <td>负向</td>
            <td>专门买来试了，觉得干茶香气评价高于开汤后，滋味醇和微带涩，汤色橙黄有一点浑浊，不值价</td>
            <td>[TEAONE]蜜桃乌龙</td>
        </tr>
        <tr>
            <td>香气不纯</td>
            <td>负向</td>
            <td>口感一般，香气不够纯，汤色不透…</td>
            <td>[福康韵]黄金桂</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>汤色淡黄，香气很淡，表现平常的一款</td>
            <td>[止茗]佛手</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>当一份斗记放在我的面前，我没有去珍惜，那是因为我没有足够茶币。后面为了斗记，我努力攒币，终于换到了2013红斗。观干茶，茶色略深，已经转化，不过茶干香不突出。冲泡之后茶汤颜色呈现棕色，香气依然不明显，品茶汤，有些苦涩，滋味一般。观茶叶底，有梗，叶片比较薄。如果三年陈，茶汤滋味应该很不错的，不过滋味和茶香一般，估计是茶树树龄不太够吧。</td>
            <td>[一天一叶]金花茯砖</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>汤色红浓厚重，香气比较淡，滋味一般，去年买的这款袋泡茶，味道不是特别好，感觉不如以前了。。。。</td>
            <td>[紫玉茶业]忙肺山</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>色泽清透，口感清香，茶梗少，香气淡，叶底杂质少</td>
            <td>[天羽茶业]东方红</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>这是一款小叶种红茶，外形和汤色较好，香气一般</td>
            <td>[华祥苑]钓鱼台清香型铁观音</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>茶叶有杂质，汤色红亮，入口顺滑，香气稍弱，酸馊味较浓，化开慢，比较耐泡。</td>
            <td>[吴裕泰]珠兰花茶</td>
        </tr>
        <tr>
            <td>香气不高</td>
            <td>负向</td>
            <td>短、碎是此款茶干茶的主要特征，细碎得都可以直接从飘逸杯漏下去很多茶叶，香气不高，在喝的时候才闻得到淡淡的熏香和松香，入口顺滑但滋味很淡，中规中矩。</td>
            <td>[斗记茶业]红大斗</td>
        </tr>
        <tr>
            <td>香气不</td>
            <td>负向</td>
            <td>算是还行的一款绿茶，口味一般，香气不是很高扬，却是持久</td>
            <td>[皖云]若水六安瓜片</td>
        </tr>
        <tr>
            <td>香气少</td>
            <td>负向</td>
            <td>干茶的条索紧致，每泡的茶汤口感稳定，滋味清，香气很少，前几泡无苦涩，入口清甜，谈不上回甘生津，轻微的烟味及少量糊片，不会太影响口感，重闷出涩。从茶底可以看到少量叶子有红边。</td>
            <td>[安化黑茶]原叶金茯</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>香气一般，回味少。感觉性价比不高。</td>
            <td>[婺牌]婺源剑锋特级</td>
        </tr>
        <tr>
            <td>香气不清爽</td>
            <td>负向</td>
            <td>干茶条索紧结，黑褐色；香气不清爽，略带烟味，滋味两冲后带有甜香；汤色澄黄明亮，微苦微涩；茶底杂，尚软匀</td>
            <td>[璟福源]茉莉飘花</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>用料杂，香气不明显。滋味口感也一般吧。</td>
            <td>[德泓昌]湖北青砖茶</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>茶梗较多，香气稍弱，耐泡，口粮茶</td>
            <td>[文君茶业]邛崃黑茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>袋泡茶，滋味尚可，但香气不足</td>
            <td>[漓江春]古树茶砖</td>
        </tr>
        <tr>
            <td>香气不浓</td>
            <td>负向</td>
            <td>茶入口有微甜，茶汤清，闻起来香但入口香气不浓。</td>
            <td>[澜沧古茶]传奇001</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>干茶果香扑鼻，条索清爽干练，显豪。茶汤橙黄清透，蜜香清新。入口顺滑，口感极佳，有微涩但非常不明显，入口即化开，甜度高，蜜甜极强，回甘快且持久。清爽感持久。二泡往后甜度更强，蜜甜感，但香气略显弱，有种蜂蜜调和感。极柔顺。转化已达一定高峰，但个性不足，11年份，还没有明显陈香，相信更佳的转化条件会给1101带来更佳的品质。茶底整齐，有蜂蜜般的香甜味。</td>
            <td>[乡土乡亲]江叔家正山小种</td>
        </tr>
        <tr>
            <td>香气不</td>
            <td>负向</td>
            <td>料差工艺一般香气不够纯正滋味淡</td>
            <td>[大乐岭]桂妃红</td>
        </tr>
        <tr>
            <td>香气不够持久</td>
            <td>负向</td>
            <td>品质偏下，香气不够持久协调性一般</td>
            <td>[苍松]0612六堡</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>香气较淡，滋味柔和，内质不足。</td>
            <td>[齐头山]霍山黄芽</td>
        </tr>
        <tr>
            <td>香气不够</td>
            <td>负向</td>
            <td>香气鲜度不够，滋味甜中带苦涩，芽头细短，滋味清淡口感清淡，香气沉闷，略带苦涩，入口舒适一般，整体表现过于平常。</td>
            <td>[崂乡]崂山绿茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>有烟香，香气一般，持久性一般，茶汤入口甜，厚度一般，涩味较明显，有回甘生津，整体表现中规中矩。</td>
            <td>[新坦洋]天然花果桂香红茶</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>很符合我口粮虽干茶碎，有花瓣汤色微黄，香气不足，滋味不滑味道不醇香，叶底单薄，好像14年茶。</td>
            <td>[澜印]滇红金芽</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>干茶呈褐色，有茶梗，偶有绒芽，茶汤淡黄色，香气较淡。</td>
            <td>[日春]金骏眉</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>茶叶碎底很多，香气不足</td>
            <td>[七灯台]大红袍</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>茶叶细小，深绿，香气较淡，无苦味，喝后回甘还可以。</td>
            <td>[澜沧古茶]0081</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>茶样相对均匀,汤色橙黄透亮,香气一般,入口带有丝丝甘甜,叶底相对饱满!总的来说还是一款适宜的好粮茶!</td>
            <td>[润思]特级祁红一号</td>
        </tr>
        <tr>
            <td>香气</td>
            <td>负向</td>
            <td>外形一般内质不够好香气低沉滋味淡薄</td>
            <td>[澜沧古茶]菊花普洱袋泡茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>口感和香气一般。但回甘略慢，耐泡度一般，需要继续转化后饮用。</td>
            <td>[政名]特级白牡丹</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>很一般，回甘和香气都比较弱，但比较耐泡</td>
            <td>[燕子坞]明前小米针</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>还可以，喝起来不是那么甜，香气一般，口感一般，叶底算漂亮的那种。</td>
            <td>[白沙溪]和茶</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>香气较淡，滋味一般。</td>
            <td>[中茶]传世湖红</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>条索比较细紧，茶汤浅金色，通透性较高，香气一般，略有青气，有烟熏、花果香交杂。茶汤柔和温润，回甘生津迅速，收敛性强，耐泡度高，余韵悠长。</td>
            <td>[帮利]普洱茶袋泡茶</td>
        </tr>
        <tr>
            <td>香气不</td>
            <td>负向</td>
            <td>汤色真好，略带回甘，没太注意干茶，香气不是很足，喝起来倒不涩</td>
            <td>[润元昌]勐海润元昌生态乔木砖普洱茶</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>此款茶干茶条索紧结，茶汤口感平和，不显张扬，香气略弱，有回甘。</td>
            <td>[佤山映象]谭梅茶砖</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>干茶嫩绿毫毛明显，汤色金黄香气不明显，茶汤有明显的酸梅味，后期几泡采用闷泡有甜香。</td>
            <td>[斗记茶业]易武山</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>干茶碎，色泽黑，偶有黄条，香气一般，汤色尚可，滋味没啥特色，整体表现一般吧</td>
            <td>[苗品记]渝贵人</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>汤色香气滋味一般，叶底不匀整，干茶条形不行香气不显</td>
            <td>[古树韵]英红九号</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>香气稍显不足，茶叶外观完整，口感细腻饱满圆润。中等之作。</td>
            <td>[六大茶山]普洱沱茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>干茶卷曲，油润。汤色深黄较亮，香气一般，有回甘，感觉一般般</td>
            <td>[祥福春]一级雨花茶</td>
        </tr>
        <tr>
            <td>香气一般不</td>
            <td>负向</td>
            <td>还不错，干茶整齐，前四泡汤色干净，香气一般，入口滋味不足，总体不错</td>
            <td>[九华山]一级霍山黄芽</td>
        </tr>
        <tr>
            <td>香气不够高</td>
            <td>负向</td>
            <td>不太喜欢瓜片，味道有些涩，香气不够高</td>
            <td>[张一元]一级黄山毛峰</td>
        </tr>
        <tr>
            <td>香气不显</td>
            <td>负向</td>
            <td>干茶：原料稍粗老，稍粗松，有黄片，多梗朴，黄绿稍枯。；汤色：黄绿尚亮。；气味：粗老，透兰，透素。；滋味：粗味。；叶底：稍粗老，稍暗。；原料稍粗老，多朴，黄绿稍枯，香气花香不显，粗老气显现，透白兰花香，香气纯度差，滋味粗老味显。叶质粗老黄暗，是一款低档的茉莉花茶。</td>
            <td>[栗香]湄潭翠芽</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>此茶口感粗糙，香气一般，并无特色</td>
            <td>[臻尖]特级碧螺春</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>下关月光白茶，茶汤金亮通透，滋味醇滑爽口，回甘较弱，花蜜香气弱</td>
            <td>[徽六]2012年山赋礼盒六安瓜片</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>外形较好，香气一般。总体感觉外形和汤色很漂亮，不太耐泡。</td>
            <td>[汪满田]黄山毛峰特级</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>香气一般，味道比较淡，但汤色不错，比较耐泡，喜欢清淡的可以尝试一下</td>
            <td>[亲稀源]恩施玉露</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>香气有点不足，干茶可以</td>
            <td>[Watawala]pure Ceylon tea</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>斯里兰卡红茶，香气较弱，闻起来就是奶茶中的茶味道，适合加牛奶饮用，汤色红浓透亮，入口苦味重，微涩，化得慢，生津持久回甘不明显，总体感觉是款不错的红茶，不过口感与平时喝的红茶差距明显</td>
            <td>[福今]特选青沱</td>
        </tr>
        <tr>
            <td>香气明显</td>
            <td>负向</td>
            <td>口感不是很“干净”的一款茶。糯感和沙感很强，尤其是茶汤凉了以后。无论是干茶还是泡开以后，都没有明显的香气，取而代之的是一种比较沉闷的感觉。不太喜欢这样的熟茶。</td>
            <td>[斗记茶业]红大斗</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>斯里兰卡红茶，香气较弱，闻起来就是奶茶中的茶味道，适合加牛奶饮用，汤色红浓透亮，入口苦味重，微涩，化得慢，生津持久回甘不明显，总体感觉是款不错的红茶</td>
            <td>[龙园号]致远</td>
        </tr>
        <tr>
            <td>香气不浓</td>
            <td>负向</td>
            <td>干茶陈香很好，汤色也比较透亮，香气虽不浓，但比较纯，是一款比较适中的黑茶。</td>
            <td>[林湖]香绿茶</td>
        </tr>
        <tr>
            <td>香气不够</td>
            <td>负向</td>
            <td>太淡，香气不够</td>
            <td>[瑞聘号]柑普茶</td>
        </tr>
        <tr>
            <td>香气沉闷</td>
            <td>负向</td>
            <td>汤色深黄，香气较沉闷，滋味浓涩，苦味明显，带有甜香</td>
            <td>[王光熙]黄山松萝</td>
        </tr>
        <tr>
            <td>香气重</td>
            <td>负向</td>
            <td>汤色橙黄，香气重，滋味浓</td>
            <td>[伯韵]老枞水仙</td>
        </tr>
        <tr>
            <td>香气不显</td>
            <td>负向</td>
            <td>干茶颜色黄绿，不显毫。冲泡后颜色黄暗，香气不显，有较重青气，叶底尚可。</td>
            <td>[九华山]一级霍山黄芽</td>
        </tr>
        <tr>
            <td>香气不</td>
            <td>负向</td>
            <td>个人不太喜欢，玫瑰的香气和普洱还是不太协调。</td>
            <td>[Tea Tang]Hillcrest classic</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>香气不足，味道较寡，涩感明显，喉咙有感觉</td>
            <td>[忆洞庭]碧螺春</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>干茶：干茶造型特色不明显，条索比较紧结，色泽乌润，均匀分布少量金毫，芽叶完整无杂质。；用水：桶装水，95度以上，干茶，很淡的花香，条索紧实完整，色泽偏灰，有金毫。汤色：红亮，有金圈，汤色一致性好。香气：淡淡花香，除第一泡外，基本忽略。滋味：==叶底：色泽均匀，偏暗，嫩度不错。品饮记录：1、快速洗茶2、1泡10秒出汤，淡淡花香，滋味尚醇厚，入口稍有水味3、2泡10秒出汤，香气无，滋味尚厚，有轻微苦涩，水味明显4、3泡10秒出汤，香气无，苦涩无，滋味无，水味明显5、4-5泡延长20秒出汤，浅尝，已无喝茶乐趣，结束。</td>
            <td>[六百里]太平猴魁 特级</td>
        </tr>
        <tr>
            <td>香气喜欢</td>
            <td>负向</td>
            <td>嗯，不太喜欢这款茶的香气。。。</td>
            <td>[满堂香]特级正山小种</td>
        </tr>
        <tr>
            <td>香气不显</td>
            <td>负向</td>
            <td>寄来的是14年贡眉，干茶较松，颜色油亮，冲泡后香气不显，汤色黄亮，入口后有少少发酸，总体回味较浅，滋味偏轻。</td>
            <td>[华祥苑]金牡丹200铁观音</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>香气淡，果香为主，仍有烟味。茶汤滋味淡薄。</td>
            <td>[斗记茶业]巴达山</td>
        </tr>
        <tr>
            <td>香气少</td>
            <td>负向</td>
            <td>干茶完整有力，汤色润泽，香气略少，但口感醇厚，回甘快且持久，叶底完整，好茶。</td>
            <td>[无量彝香]明前绿茶</td>
        </tr>
        <tr>
            <td>香气不显</td>
            <td>负向</td>
            <td>干茶太碎，估计是碎茶叶蒸压成型的，我没有醒茶，跑了一泡，喝着堆味太重，香气不显，也没有六堡特色的清凉感，汤色倒是还可以，闷泡后能出酒红色，这款茶还没有新出的知“竹”常乐好喝，留了一泡看醒茶后会怎么样</td>
            <td>[清神阁]不知春</td>
        </tr>
        <tr>
            <td>香气不持久</td>
            <td>负向</td>
            <td>茶汤不够明亮，汤底略有细小杂质；香气以栗香为主，但香气不持久，且略有青草气，滋味鲜甜，口感柔和，有回甘，茶叶不耐泡</td>
            <td>[陈香]6146铁饼圆茶</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>香气一般，茶汤透彻，口感微涩。</td>
            <td>[剡茗茶业社]一级 越乡龙井</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>香气不足，滋味浓郁</td>
            <td>[六道茶业]齐山村黄石冲手工雨后二等绿茶</td>
        </tr>
        <tr>
            <td>香气不高</td>
            <td>负向</td>
            <td>干茶外形美观，芽叶鲜活；茶汤黄绿明亮，有茶毫悬浮；茶汤散发清香，香气不高；茶汤滋味平淡，涩感重且化不开。</td>
            <td>[天福茗茶]正山红茶</td>
        </tr>
        <tr>
            <td>香气持久</td>
            <td>负向</td>
            <td>料老滋味一般淡薄品质一般香气不够持久协调</td>
            <td>[龙润]8425</td>
        </tr>
        <tr>
            <td>香气不高不持久</td>
            <td>负向</td>
            <td>等级较低的一款绿茶，有豆香，但香气不高且不持久。有涩味但回甘尚可。</td>
            <td>[天毫]寿眉</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>还不错吧，香气一般，汤色黄绿，第一次喝这种茶</td>
            <td>[绿雪芽]一级白毫银针</td>
        </tr>
        <tr>
            <td>香气差</td>
            <td>负向</td>
            <td>干茶外形没的说，泡出来香气差一些，其他都不错</td>
            <td>[赋雅轩]云雾甘露</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>干茶香气较淡，耐泡度较差，茶汤滋味较淡。</td>
            <td>[武夷山市岩皇茶厂]大红袍</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>汤色黄亮透彻，香气滋味一般</td>
            <td>[天英]馒头峰水仙</td>
        </tr>
        <tr>
            <td>香气一般</td>
            <td>负向</td>
            <td>干茶条索较粗大，茶汤干净香气一般，生津，回甘一般，总体还不错的，</td>
            <td>[AHMAD]水蜜桃百香果红茶</td>
        </tr>
        <tr>
            <td>香气不好</td>
            <td>负向</td>
            <td>香气不好，带有青气，不喜欢</td>
            <td>[峡谷沙龙]恩施玉露</td>
        </tr>
        <tr>
            <td>香气不足</td>
            <td>负向</td>
            <td>茶汤明亮，滋味偏淡，香气不足，品质一般</td>
            <td>[剡茗茶业社]一级 越乡龙井</td>
        </tr>
        <tr>
            <td>香气弱</td>
            <td>负向</td>
            <td>原料较细嫩，条索清晰紧结；汤色浅金色，较清澈，茶汤淡薄酸涩，香气弱；颜色花杂，叶片脆薄，有部分叶底已软烂。</td>
            <td>[龙羽]径山茶</td>
        </tr>
        <tr>
            <td>香气不明显</td>
            <td>负向</td>
            <td>芽头较多且比较肥壮，汤色呈黄绿色，比较通透，香气不明显，持久性较差，不耐泡。</td>
            <td>[五溪山]黄山毛峰 一级</td>
        </tr>
        <tr>
            <td>香气杂</td>
            <td>负向</td>
            <td>整体香气略杂，带蒸豆香及尘土味，愉悦度差。滋味较甜，汤感较滑，有涩味，并刮嗓子，难以下咽。总体协调性一般，耐冲泡度不错。</td>
            <td>[洞庄]原叶青砖茶</td>
        </tr>
        <tr>
            <td>香气淡</td>
            <td>负向</td>
            <td>干茶乌褐，条索细长，多达五厘米，兼有青灰色条索，干茶顶端有毫。无破碎情况整体细长，细闻有清茶香。第一泡，茶汤清亮，嫩黄色，汤中纤毫点点，轻呷一口鲜爽素雅，香气较淡。第二泡汤色明黄绿，透亮，口感醇厚，舌尖苦，舌面生津，上腭中部有涩感，但化的较快。第三泡颜色依旧，但口感，有青味，依然涩。第四泡，颜色稍淡些。口感与上一泡差别不大。叶底嫩芽较多，叶片有弹性，是一款基础口粮茶。</td>
            <td>[Tea Tang]格雷伯爵红茶</td>
        </tr>
    </tbody>
</table>
        </div>


</body>
</html>
