<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <style>
            .fl-table {
                margin: 20px;
                border-radius: 5px;
                font-size: 12px;
                border: none;
                border-collapse: collapse;
                max-width: 100%;
                white-space: nowrap;
                word-break: keep-all;
            }

            .fl-table th {
                text-align: left;
                font-size: 20px;
            }

            .fl-table tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            .fl-table tr:hover td {
                background: #00d1b2;
                color: #F8F8F8;
            }

            .fl-table td, .fl-table th {
                border-style: none;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 3px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                padding: .5em .55em;
                font-size: 15px;
            }

            .fl-table td {
                border-style: none;
                font-size: 15px;
                vertical-align: center;
                border-bottom: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                height: 30px;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }
        </style>
        <div id="cc79c4dd59064751866221edf59eafd3" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > 观点之品质差.csv</p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <table class="fl-table">
    <thead>
        <tr>
            <th>属性观点</th>
            <th>情感倾向</th>
            <th>text</th>
            <th>品牌茶叶</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>此茶品质一般，汤色也较清，口感较差，总的一般般。</td>
            <td>[侨宝]新会柑皮普洱茶</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>滋味苦涩，品质一般的一款茶</td>
            <td>[津乔]印象津乔 瑞雪润品</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>这款茶苦味非常重在嘴里化不开没有回甘品质一般</td>
            <td>[千瑶]百年浓香肉桂单丛</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质很一般，头水花香明显茶汤入口微甜回甘迅速但不持久5水以后涩感明显汤薄并且出水味不太耐泡</td>
            <td>[汪裕泰]明前一级西湖龙井</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>外形特征不具备特三级黄山毛峰形似雀舌，带黄金片的品质特点，而与三级黄山毛峰的品质特点较为符合。品质一般</td>
            <td>[叶凌春]叶凌春 有机茶 特级春茶 白毫银针</td>
        </tr>
        <tr>
            <td>品质不好</td>
            <td>负向</td>
            <td>这个茶叶的品质应该是达不到一级的，有些失望</td>
            <td>[福海茶厂]贺开古树茶</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>外形特征不具备特三级黄山毛峰形似雀舌，带黄金片的品质特点，而与三级黄山毛峰的品质特点较为符合。品质一般</td>
            <td>[好热闹]精选六安瓜片</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>味道刺鼻，不够耐泡，不协调品质差</td>
            <td>[脚尧]脚尧茶</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>有霉味，品质差。</td>
            <td>[一天一叶]金花茯砖</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质一般，香气持续时间不长，不耐泡，带的茶梗有些长</td>
            <td>[普香缘]十里醇香</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>品质较差不推荐。</td>
            <td>[中茶]Y671普洱熟茶</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>底料较老，茶汤偏黄，香气淡化。口感一般，这款茶总评品质一般般</td>
            <td>[森龙兰]ruhuna</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>刺鼻气味影响品质，不建议饮用</td>
            <td>[通仙]陈年大红袍</td>
        </tr>
        <tr>
            <td>品质不够好</td>
            <td>负向</td>
            <td>气味刺鼻，汤淡，品质不够好</td>
            <td>[后院茶社]后院茶舍霍山黄芽</td>
        </tr>
        <tr>
            <td>品质欠缺</td>
            <td>负向</td>
            <td>品质欠缺，有馊味，不建议饮用</td>
            <td>[金帆牌]荔枝红茶</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>缺点是原料嫩度略次，金花较少。总体上来说品质一般。</td>
            <td>[一壶春]永川秀芽</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>饮后口腔干涩，整体品质一般</td>
            <td>[吴裕泰]径山茶</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>这款柑普还算不得陈皮普洱，且其品质并不理想，可以喝却有缺陷。该茶汤内虽能明显感受到柑橘的甜香，但是熟茶和柑果滋味的协调度却不高，汤内熟茶滋味与柑果味分离。</td>
            <td>[吉顺号]蜜香普洱生饼茶2008珍藏版</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质很一般，有点涩口</td>
            <td>[茗品堂]国韵政和工夫红茶</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>茶形碧绿条索紧白霜较多，干茶板栗香低沉，茶汤黄绿明亮，冲泡后茶形完整统一片片如瓜子色泽鲜绿，清香板栗香不太明显青气与鲜爽并存，品质很一般的瓜片</td>
            <td>[御贡鹿缘春]特级远安黄茶</td>
        </tr>
        <tr>
            <td>品质不佳</td>
            <td>负向</td>
            <td>品质不佳香气低沉有杂味影响口感协调性差</td>
            <td>[小隐茶人]六安瓜片</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>这款茶品质中下，做工明显有问题，茶汤浑浊，有尖锐刺鼻的酸味,并且一直持续到最后，挥之不去，令人很不舒服。香气也都是酸味。</td>
            <td>[广元泰]六堡茶</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>品质差。工艺不好!</td>
            <td>[汉唐清茗]霍山黄芽茶</td>
        </tr>
        <tr>
            <td>品质不佳</td>
            <td>负向</td>
            <td>品质不佳，价高质低。</td>
            <td>[大庄严]手工黑茶</td>
        </tr>
        <tr>
            <td>品质不佳</td>
            <td>负向</td>
            <td>品质不佳，不建议饮用</td>
            <td>[渠江薄片]奉家米茶</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>品质不怎么样！不值得品饮！用料口感香气，都不出色！</td>
            <td>[古树韵]茶缘·黄枝香</td>
        </tr>
        <tr>
            <td>品质不好一般</td>
            <td>负向</td>
            <td>料老滋味一般品质不好</td>
            <td>[九重雾]玉兰香</td>
        </tr>
        <tr>
            <td>茶叶品质一般</td>
            <td>负向</td>
            <td>茶叶品质很一般</td>
            <td>[中闽飘香]碧螺春</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质一般无滇红特色。</td>
            <td>[吉普号]老特沱</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质一般的一款茶</td>
            <td>[大益]云水臻</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>滤纸上有破损的地方，茶汤的品质一般，香气还行，干净卫生，符合快速消费品特点</td>
            <td>[祺彤香]安溪黄金桂</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>干茶条索粗大，带花草干香，但不高扬，汤色红亮，入口有涩感，化开慢，茶底粗老，品质一般。</td>
            <td>[佤山映象]7561</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>茶品质一般。喝一喝尝一尝。</td>
            <td>[萧氏茶叶]楚红工夫</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>个人觉得品质比较一般，很少接触袋泡茶，感觉质量一般，口感有种茶粉的味道</td>
            <td>[岭南新宝堂]沉香柑普</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质一般。干茶毫心稀少，粗老茶梗较多，断碎，欠匀整。香气较鲜纯，药香尚显，滋味清甜顺滑，有回甘</td>
            <td>[清山源]千两饼</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>一款价格不便宜，但品质一般的绿茶，茶香滋味均一般</td>
            <td>[川宁]大叶 白金双季大吉岭红茶袋泡</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>恩施地区以蒸青玉露出名，这却是当地的一款龙井茶。干茶扁平，一芽一二叶，部分叶片带白毫。回甘很好，但入口那一下实在是口感太过粗老了些。似乎是由于原料太粗，加工时火候用重导致的，从部分叶片上的糊点也可以看得出来。应该是先天品质不足的一款茶。从叶片的形状上可以很清晰的看出来不是玉露茶，你们网站自己拍的照片里面，包装的盒子上也写明了是龙井，我实在不知道为什么还叫玉露。玉露是蒸青，不同的工艺，不会真的喝不出来吧。</td>
            <td>[天福茗茶]早春毛峰</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>茶索紧实，形比较碎不整齐，有栗香味入口甜带点苦涩回甘不是很明显。不耐泡4泡出水味，品质比较一般的茶</td>
            <td>[禹蒙]蒙顶黄芽</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质一般略有苦味。</td>
            <td>[新林玉露]新林玉露信阳毛尖</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质不好料老滋味一般</td>
            <td>[伯韵]老枞水仙</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>香气不够纯正持久协调滋味淡薄品质一般</td>
            <td>[大瑶山]野生红茶</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>香气平和，滋味苦涩，品质一般的一款茶</td>
            <td>[崟露]茉莉花茶</td>
        </tr>
        <tr>
            <td>品质不好一般</td>
            <td>负向</td>
            <td>料粗老滋味一般品质不好</td>
            <td>[吉盛祥]初鸣</td>
        </tr>
        <tr>
            <td>品质差</td>
            <td>负向</td>
            <td>本款茶原料粗老，干茶尚紧实，黄褐，多梗，带单片；汤色橙黄；香气焦，透粗；滋味老火，稍透粗；叶底暗褐，粗硬。重点是加工有不足之处，高温干燥工序仍然有欠缺，内质风味中粗老的特征尚未被屏蔽，感官品质差。</td>
            <td>[兄弟友谊]藏茶传人黑茶</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>有火味，香气馥郁，整体滋味平和偏淡。不耐泡，口感品质一般。</td>
            <td>[中茶]臻品黄印</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>品质一般的一款金骏眉</td>
            <td>[澜沧古茶]传奇88</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>干茶显毫，汤色红亮，入口有酸味，涩化得慢，品质一般</td>
            <td>[大益]勐海之星</td>
        </tr>
        <tr>
            <td>品质不高</td>
            <td>负向</td>
            <td>品饮能感觉到陈茶的气息。干茶欠润泽偏黄褐色，茶汤偏暗，香气中也略透陈味。但滋味方面却仍然鲜爽甜醇，且比较持久耐泡，具有地域特色清凉感。品质不高但有特点。</td>
            <td>[佳西娜]宜红</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>料老滋味一般淡薄品质一般香气不够持久协调</td>
            <td>[贵茶]红宝石</td>
        </tr>
        <tr>
            <td>品质一般</td>
            <td>负向</td>
            <td>茶汤明亮，滋味偏淡，香气不足，品质一般</td>
            <td>[凤尾]凤尾古韵</td>
        </tr>
    </tbody>
</table>
        </div>


</body>
</html>
